<!DOCTYPE html>
<html>
    <head>
    {% block head %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>HouseReports.org</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'>
        <link href="unlimited_special/css/style.css" rel="stylesheet" type="text/css" />
        <link href="css/colorbox.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
    {% endblock %}
    {% include "google_analytics.html.twig" %}
    </head>
    <body>
{% block content %}
        <div id="wrapper">
            <div id="checkout-section">
                <div class="logo-section">
                    <div class="logo"><img src="images/logo.png" alt="Housereports" title="Housereports" /></div>
                    <div class="contact-text">
                        <p>Questions or comments?</p>
                        <h3>1 (888) 672-5146</h3>
                    </div>
                </div>
                <div id="address-found-section">
                    <div class="address-found-section">
                        <div class="address-found">Access Millions Of Records</div>
                        <div class="home-record-section">
                            <div class="home-record-pic"><img src="unlimited_special/images/home-pic-1.jpg" alt="" title="" /></div>
                            <div class="home-record-info">
                                 We are the only site that gives you access to millions of property records around the USA
                            </div>
                        </div>
                    </div>
                    <div class="report-listing-section">
                        <h3>Your Property Report May Contain:</h3>
                        <div class="report-listing-text">
                            <ul>
                                <li>Property Records</li>
                                <li>Foreclosures</li>
                                <li>Sales Information</li>
                            </ul>
                        </div>
                        <div class="report-listing-text-1">
                            <ul>
                                <li>Lot Size</li>
                                <li>Net Equity</li>
                                <li>Property Taxes</li>
                            </ul>
                        </div>
                        <div class="report-listing-text">
                            <ul>
                                <li>Owner History</li>
                                <li>Home History</li>
                                <li>&amp; Many Other Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="note-text">
                    <p><span>Note:</span> The Timer at the bottom of the page shows how long you have before this page expires.</p>
                </div>
                <div id="final-section">
                    <div class="final-step-text">
                        <h3><span>Final Step:</span> Activate Your Account and Unlock Reports</h3>
                    </div>
                    <div class="final-section">
                        <div class="final-section-l">
                            <div class="cancelation-text">
                                <h3>Cancelation Pledge</h3>
                                <p>Customer satisfaction is important to us.</p>
                                <p>If at any time you are dissatisfied with our product, call our Member Care at 1 (888) 672-5146 and we'll do what we can to make you happy.</p>
                            </div>
                            <div class="property-history-section">
                                <div class="property-listing-text">
                                    <ul>
                                        <li>Property History</li>
                                        <li>Property Records</li>
                                        <li>Property Taxes</li>
                                        <li>Lot Size</li>
                                        <li>Ownership History</li>
                                    </ul>
                                </div>
                                <div class="property-listing-text-1">
                                    <ul>
                                        <li>Build Date</li>
                                        <li>Home Value</li>
                                        <li>Construction Details</li>
                                        <li>Foreclosures</li>
                                        <li>Neighborhood Statistics</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="faq-text">
                                <h3>Frequently Asked Questions</h3>
                                <h4>How many records do you have?</h4>
                                <p>We have access to millions of records. We are continuously adding new data with the help of record professionals. Unlike similar services we have proprietary technology and private records.</p>
                                <h4>What are private records?</h4>
                                <p>Private records are records that we have collected, developed, researched, or derived that are not general public knowledge. We have millions of private records available. </p>
                                <h4>What if my report is missing some information?</h4>
                                <p>We have multiple trained professionals that will conduct research for you and will do everything possible to locate your desired information. They have years of research experience and tools at their disposal.</p>
                            </div>
                            <div class="details-text">
                                <h3>Billing Details</h3>
                                <p>*To get unlimited reports, select a one month term for $4.95, or three month term for $11.85 ($3.95/mo). Your unlimited report purchase will automatically renew for the same term unless you cancel before the start of the next term. Housereports.org will charge the recurring fee of $4.95 or $11.85 (depending on the term option you select) to the same card you use today until you cancel. To cancel, call 1 (888) 672-5146 between 10am - 7 pm Eastern Standard Time (7 days a week).</p>
                            </div>
                        </div>
                        <form action="" class="final-section-r" method="post" novalidate>
                            <div class="package-section">
                                <div class="package-h">
                                    <h2>Select Your Package</h2>
                                </div>
                                <div class="arrow"><img src="unlimited_special/images/arrow.png" alt="" title="" /></div>
                                <!-- 1st Product Information begin -->
                                <div class="offerBox">
                                    <div class="productInfoCont">
                                        <div class="product-section">
                                            <div class="checkbox-1">
                                                {{ form_widget(form.product[0]) }}
                                            </div>
                                            <div class="product-text">
                                                <h3>Recommended</h3>
                                                <p>1 Month of Unlimited Reports</p>
                                                <div class="most-text">most- popular</div>
                                            </div>
                                            <div class="product-price-section">
                                                <div class="just-price">
                                                    <h2>Only $17.99</h2>
                                                    <h3>$4.95/<span>mo*</span></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 1st Product Information end -->
                                <!-- 2nd Product Information begin -->
                                <div class="offerBox">
                                    <div class="productInfoCont">
                                        <div class="product-section">
                                            <div class="checkbox-1">
                                                {{ form_widget(form.product[1]) }}
                                            </div>
                                            <div class="product-text-1">
                                                <h3>Deepest Discount</h3>
                                                <p>3 Months of Unlimited Reports</p>
                                            </div>
                                            <div class="product-price-section">
                                                <div class="just-price">
                                                    <h2>Only $53.97</h2>
                                                    <h3>$3.95/<span>mo*</span></h3>
                                                    <p>($11.85 Today)</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 2nd Product Information end -->
                                <!-- 3rd Product Information begin -->
                                <div class="offerBox">
                                    <div class="productInfoCont">
                                        <div class="product-section">
                                            <div class="checkbox-1">
                                                {{ form_widget(form.product[2]) }}
                                            </div>
                                            <div class="product-text-1">
                                                <h3>50% Savings</h3>
                                                <p>1 Month of Unlimited Reports</p>
                                            </div>
                                            <div class="product-price-section">
                                                <div class="just-price">
                                                    <h2>Only $19.90</h2>
                                                    <h3>$9.95</h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- 3rd Product Information end -->
                                <!-- 4th Secure Information begin -->
                                <div class="lock-section">
                                    <div class="lock-text"><img src="unlimited_special/images/lock-pic.png" align="left" alt="" title="" />
                                        <h3>This Site is Secure</h3>
                                        <p>Our website use top security protocols. These security measures insures that your purchase and personal information remains private</p>
                                    </div>
                                </div>
                                <!-- 4th Secure Information end -->
                            </div>
                            <div class="package-section">
                                <div class="package-h">
                                    <h2>Payment Information</h2>
                                </div>
                                <div id="opt_in_form">
                                    <div class="billing-info">
                                        {% include 'form_errors.html.twig' with{'form': form} %}
                                        {% if (error is defined) and error %}
                                        <div class="view-error-message">
                                            <p>{{ error }}</p>
                                        </div>
                                        {% endif %}
                                        <div id="order-form">
                                            <!--label for="cc_name">Name on Card:</label-->
                                            {{ form_label(form.first_name) }}
                                            {{ form_widget(form.first_name) }}
                                            
                                            {{ form_label(form.last_name) }}
                                            {{ form_widget(form.last_name) }}
                                            
                                            {{ form_label(form.emailAddress) }}
                                            {{ form_widget(form.emailAddress) }}

                                            {{ form_label(form.card_number) }}
                                            {{ form_widget(form.card_number) }}

                                            {{ form_label(form.card_type) }}
                                            <div class="selectbox">
                                            {{ form_widget(form.card_type) }}
                                            </div>
                                            <div class="payment-card"><img src="unlimited_special/images/credit-cards.png" alt="MASTERCARD VISA" title="MASTERCARD VISA" /></div>
                                            <br class="clearfix" />
                                            {{ form_label(form.exp_month) }}
                                            <div class="selectbox1">
                                            {{ form_widget(form.exp_month) }}
                                            </div>
                                            <div class="selectbox1">
                                            {{ form_widget(form.exp_year) }}
                                            </div>
                                            <br class="clearfix" />
                                            {{ form_label(form.cvv) }}
                                            {{ form_widget(form.cvv) }}
                                            <a id="cvv" href="#" onclick="return false;">
                                                Whats this?
                                                <span>
                                                    <img id="callout" src="images/callout_vertical.gif" alt="" />
                                                    <img src="images/cvv.jpg" alt="" />
                                                </span>
                                            </a>
                                        </div>
                                        <div class="agree-section">
                                            <div class="agree-checkbox">
                                                {{ form_widget(form.agree) }}
                                            </div>
                                            <div class="agree-txt" id="agree">
                                                I agree to the Housereports.org <a href="{{ path('terms') }}" title="Terms of Use" class="terms cboxElement">Terms of Use</a> and <a href="{{ path('privacy') }}" title="Privacy Policy" class="privacy cboxElement">Privacy Policy</a>. By clicking “View My Report”, you are providing your digital signature authorizing Housereports.org to charge your card as described, until you cancel. I also agree I will be charged $4.95 every month until I cancel my account.
                                            </div>
                                        </div>
                                        <div class="agree-section">
                                            <div class="agree-checkbox">
                                                {{ form_widget(form.understand) }}
                                            </div>
                                            <div class="agree-txt">I understand and agree that Housereports.org is not a “consumer reporting agency”, as defined in the Fair Credit Reporting Act (15 U.S.C. § 1681, et seq.) (”FCRA”) and does not provide “consumer reports”, as defined in FCRA. I understand and represent that I am not purchasing and will not use Property Site’s products or services for any purpose in connection with determining a person’s eligibility for credit, insurance, employment or for any other eligibility determination subject to FCRA.</div>
                                        </div>
                                        <div class="view-btn-section">
                                            <div class="view-btn">
                                                <input type="submit" value="" title="View My Report" />
                                            </div>
                                        </div>
                                        {{ form_rest(form) }}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="footer-section">
                <div class="footer-section">
                    <div class="footer-txt">
                        <div class="copyright-text">
                            <p>Copyright © 2014 Housereports.org</p>
                        </div>
                        <div class="footer-menu">
                            <ul>
                                <li><a href="{{ url('unlimited_special') }}" title="Home">Home</a></li>
                                <li>|</li>
                                <li><a href="{{ path('faq') }}" title="Frequently Asked Questions" class="cboxElement">Frequently Asked Questions</a></li>
                                <li>|</li>
                                <li><a href="{{ path('customer-service') }}" title="Customer Service" class="cboxElement">Customer Service</a></li>
                                <li>|</li>
                                <li><a href="#" title="About" class="cboxElement">About</a></li>
                                <li>|</li>
                                <li><a href="#" title="Resources" class="cboxElement">Resources</a></li>
                                <li>|</li>
                                <li><a href="{{ path('privacy') }}" title="Privacy" class="privacy cboxElement">Privacy</a></li>
                                <li>|</li>
                                <li><a href="{{ path('terms') }}" title="Terms" class="terms cboxElement">Terms</a></li>
                                <li>|</li>
                                <li><a href="#" title="Legal" class="legal cboxElement">Legal</a></li>
                            </ul>
                        </div>
                        <div class="footer-text">
                            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. <a href="{{ url('unlimited_special') }}">Housereports.org</a> does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            $('.checkbox-1 input').each(function(){
                $(this).change(function(){
                    switch($(this).val()) {
                        case '1':
                            $('#agree').html('I agree to the Housereports.org <a href="{{ path('terms') }}" title="Terms of Use" class="terms cboxElement">Terms of Use</a> and <a href="{{ path('privacy') }}" title="Privacy Policy" class="privacy cboxElement">Privacy Policy</a>. By clicking “View My Report”, you are providing your digital signature authorizing Housereports.org to charge your card as described, until you cancel. I also agree I will be charged $4.95 every month until I cancel my account.');
                            $(".cboxElement").colorbox({iframe: true, width: "70%", height: "70%"});
                            break;
                        case '2':
                            $('#agree').html('I agree to the Housereports.org <a href="{{ path('terms') }}" title="Terms of Use" class="terms cboxElement">Terms of Use</a> and <a href="{{ path('privacy') }}" title="Privacy Policy" class="privacy cboxElement">Privacy Policy</a>. By clicking “View My Report”, you are providing your digital signature authorizing Housereports.org to charge your card as described, until you cancel. I also agree I will be charged $11.85 every 3 months until I cancel my account.');
                            $(".cboxElement").colorbox({iframe: true, width: "70%", height: "70%"});
                            break;
                        case '3':
                            $('#agree').html('I agree to the Housereports.org <a href="{{ path('terms') }}" title="Terms of Use" class="terms cboxElement">Terms of Use</a> and <a href="{{ path('privacy') }}" title="Privacy Policy" class="privacy cboxElement">Privacy Policy</a>. By clicking “View My Report”, you are providing your digital signature authorizing Housereports.org to charge your card $9.95 as described. This is for one month access and will not automatically renew.');
                            $(".cboxElement").colorbox({iframe: true, width: "70%", height: "70%"});
                    }
                });
            });
            
            $(document).ready(function() {
                $(".cboxElement").colorbox({iframe: true, width: "70%", height: "70%"});
            });
        </script>
{% endblock %}
    </body>
</html>
