<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Housereports.org</title>
        <link href="split2210/css/style.css" rel="stylesheet" type="text/css">
        <link href="css/colorbox.css" type="text/css" rel="stylesheet" />
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
	{% include "google_analytics.html.twig" %}
    </head>
    <body>

        <div id="logo"><img title="Housereports.org" alt="Housereports.org" src="split2210/images/logo.png"></div>
        <div id="mid_sec">
            <div class="wrapper">
                <div class="white_box unlimited_special_login">
                    {% form_theme form 'form.html.twig' %}
                    <form action="" method="post" id="loginform">
                        <div id="login_logo"></div>
                        <h1 style="font-size:28px;">Create your password</h1>
                        <!--div id="username_block" class="input_box input_box1">
                            <label for="username" >Email Address:</label>
                            {#{ form_widget(form.emailAddress) }#}
                            {#{ form_errors(form.emailAddress) }#}
                        </div-->
                        <div id="password_block" class="input_box input_box1">
                            <label for="password" >Password:</label>
                            {{ form_widget(form.password) }}
                            {{ form_errors(form.password) }}
                        </div>
                        {% if error is defined and error %}
                        <span class="form-error">{{ error }}</span>
                        {% endif %}
                        <input style="float:right;margin:24px 22px 0 0;" type="image" src="split2210/images/continue_btn.png" alt=""/>
                        {{ form_rest(form) }}
                    </form>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="content_sec">
            <div class="wrapper">
                <div class="comparison-section">
                    <div class="chart-section">
                        <h3>Providing the Best House Reports to You</h3>
                        <h4>HOUSE REPORTS <span>vs</span> COMPETITORS</h4>
                    </div>
                    <div class="chart-txt">
                        <p>Property and Home Estimates<br />
                            Property History<br />
                            Property Details<br />
                            Sq. Ft. of Lot<br />
                            Sales Information<br />
                            Dates of Construction<br />
                            Previous Property Taxes<br />
                            Foreclosure History </p>
                    </div>
                    <div class="arrow-img"><img src="images/arrow-img.png" alt="" title="" /></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="footer_sec">
            <div class="wrapper">
                <div class="footer-section">
                    <div class="footer-menu-section">
                        {#% include 'footer_links.html.twig' %#}
                    </div>
                    <div class="footer">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. HouseReports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </body>
</html>
