<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Propertystudy.org</title>
    <link href="split/css/style.css" rel="stylesheet" type="text/css">
    <link href="css/colorbox.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
  </head>
  <body>
    <div class="top_bar cs_top_bar">
      <div id="top_bar_in">
        <div id="contactBg">
          <span id="topContact">contact@propertystudy.org</span>
          <span id="topPhone">(888) 833-5920</span>
        </div>
        <a title="Logged in as: {{ app.security.getToken.getUser.getUsername }}" href="{{ path('logout') }}" id="login_button">Logout</a>
      </div>
    </div>
    <div id="logo" class="cs_logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="split/images/logo.png"></div>
    <div id="mid_sec">
      <div class="wrapper">
        <div class="white_box">
	  <table>
	    <tr>
	      <td><h2>Number of user logins last 7 days:</h2></td>
	      <td><h2>{{ num_of_logins }}</h2></td>
	    </tr>
	  </table>
          <div class="clearfix"></div>
        </div>
      </div>
    </div> 
    <div id="footer_sec">
      <div class="wrapper">
        <div class="footer-section">
          <div class="footer-menu-section">
            {% include 'footer_links.html.twig' %}
          </div>
          <div class="footer">
            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div> 
  </body>
</html>
