{% form_theme form 'form.html.twig' %}
<form action="" method="post" id="ebookupsellform">
  {{ form_widget(form.email) }}
  {{ form_errors(form.email) }}
  {% if crm_error is defined %}
    <span class="form-error">Something went wrong.</span>
  {% endif %}
  <button type="submit">
    <img id="ebookupsellimg" src="images/ebookupsell/price-sample.jpg" width="484" height="230" alt="">
  </button>
  <br>
  <input id="ebookupsellformsubmit" type="submit" value="Order Now - $7" title="" />
  {{ form_rest(form) }}
</form>