<!DOCTYPE HTML>
<html>
  <head>
    <title>Propertystudy.org</title>
    <link href="css/ebookupsell.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="js/jquery.min.js"></script>
    {% include "google_analytics.html.twig" %}
  </head>
  <body>
    <table id="maintable">
      <tbody>
        <tr>
          <td id="td1">
            <div id="topblock">
              <a id="logowrap" href="#">
                <div></div>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td id="td2">
            <div class="center">
              <table id="table2">
                <tr>
                  <td align="center" valign="middle"><div align="center">
                      <table id="table3">
                        <tr>
                          <td><h5><em>If you seriously want know how to buy your dream home with the right information, then this may be the most important letter you'll ever read!...</em></h5>
                            <h2 align="center" class="style1">&quot;Discover The Radical New Way Of Buying Your Home Without Making Any Mistake With The Insider Guide To Show You How To Smooth Up Your Buying Process For Your Dream Home!&quot;</h2>
                            <p align="center"><strong>It doesn't matter, if this is the first time you are<br>buying a home, or are a seasoned buyer,<br>this golden guide will show you every<br>right steps you will need to take to successfully<br>buying your dream home!</strong></p>
                            <p> </p>
                            <p><strong>From the desk of Robert Blake</strong></p>
                            <p><strong>Dear {% if app.session.get("customerData").firstName is defined %}{{ app.session.get("customerData").firstName }}{% endif %} {% if app.session.get("customerData").lastName is defined %}{{ app.session.get("customerData").lastName }}{% endif %},</strong></p>
                            <p>Are you geared up to accept the challenge of buying your house, riskless?</p>
                            <p>Buying your home is a major event. For many people the had in mind buying a new home reduces them to a bunch of shivering nerves. </p>
                            <p>Are you interested in discovering how to buy a new home risk free, without the challenges commonly associated with home buying? Then you&rsquo;ve landed in just the right place.</p>
                            <p>We aren&rsquo;t here to sell you hype or complicate your life. We&rsquo;re here to help you understand house buying can be easy.</p>
                            <p> Most homeowners are bombarded with questions, rightly so. Questions like,</p>
                            <table id="table4" cellspacing="5">
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">Should you buy a new or older home&hellip; and does it really matter?</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">Which home is the best for your family, and how do you decide that?</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How can you distinguish a safe and clean neighborhood from a threatening one?</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">Will the value of your home improve with time, and if not where do you move?</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">Are their community bylaws you must adhere to, and if so what are they?</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">Do you have to arrange garbage pick up, or will the city take care of it for you?</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">Are there advantages of living in the country vs. living in the city?</td>
                              </tr>
                            </table>                                                <p><br>
                              The list goes on and on. Buying a new home is a major life-changing event for most people. It&rsquo;s hard to find all the information you need about a home in a single location.</p>
                            <p>You could spend hours on the Net looking for information on home buying. You could spend even more time interviewing or meeting with real estate agents.</p>
                            <p>In a sea of agents however, finding someone capable of working for you and with you is challenging.</p>
                            <p>Fortunately, you&rsquo;ve come to just the right place to learn everything there is to know about buying a new home.</p>

                            <p>Who are we and why should you listen?</p>
                            <p>After several years experience buying and selling homes, we&rsquo;ve gathered some of the leading experts to provide you with up-to-date and vital information about buying a new home.</p>
                            <p>No more wasting time surfing the Net for answers. No more relying on your broker or on a real estate agent, who may push you into a house purchase you aren&rsquo;t ready for.</p>
                            <p>You're going to discover so many things on how to buy a new home risk free, without the challenges commonly associated with home buying, but you'll also learn extra bonus tips to actually teach people.</p>
                            <p> </p>
                            <h3 align="center" class="style1">Introducing Guide To Buying Your Dream Home<br>
                            </h3>
                            <p align="center"><img src="images/ebookupsell/ebook-350.png" width="350" height="570"></p>
                            <p>&nbsp;</p>
                            <p align="center" class="style1">&quot;This Is Just &quot;A Little Taste&quot; At What You'll <br>
                              Discover With  Guide To Buying Your Dream Home&quot;</p>
                            <p>Through this ebook, you are going to learn to buy a new home that are totally risk free...</p>
                            <p align="center" class="style1">Here are a Few of the Topics You Will Learn Inside:</p>
                            <table id="table9" cellspacing="5">
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How to select a neighborhood that will match your lifestyle and meet your needs so you and your family can enjoy your new surroundings.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How to tell if the neighborhood you plan to move into will improve with time so you don&rsquo;t waste money on a home that won&rsquo;t increase in value.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How to evaluate a home&rsquo;s value, whether a new or older home so you don&rsquo;t pay too much or too little.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How to select from country, suburban and urban living without hassle so you can enjoy a classic or contemporary lifestyle.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How to find the best schools and find homes close to much needed amenities, including shopping and other important items.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How to distinguish between experienced and new agents, so you select the best agent to help you buy your first home.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">#1 step for dealing with pushy or over the top agents so you aren&rsquo;t pressured into working with someone you don&rsquo;t want to.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">#1 mistake people make when selecting agents and how to avoid it.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">How to find hard working agents that will devote the time you deserve to the house hunting process.</td>
                              </tr>
                              <tr>
                                <td width="30" align="center" valign="top"><img src="images/ebookupsell/bullet-30.jpg" width="30" height="48"></td>
                                <td align="left" valign="top">And much, much MORE!</td>
                              </tr>
                            </table>                        <h4 align="center" class="style1">And The Biggest Bonus Of All Is That You Can Be <br>
                              Reading This Book In Less Than 90 Seconds From Now!</h4>
                            <p>That's right! No more pacing the floor, waiting for the mailman to come to your door 7-10 days later.. You can start reading this book instantly!</p>
                            <p>It doesn't matter if it's 2 AM on a Sunday, you'll be downloading and reading &quot;Guide To Buying Your Dream Home&quot; within just a few minutes. There's absolutely no risk to you - so what are you waiting for? Order now!</p>
                            <p>This new breakthrough book is a guide, really. A guide as a result of years of searching, studying and scouring hundreds of websites, stores, and magazines.</p>
                            <p>And this isn't one of those books in &quot;symbolic&quot; where you don't understand what's being said. Everything is in plain English, so you can put the translation book away :) This easy to read book on how to buying your first home are completely comprehendible and won't take weeks to read through.</p>
                            <p>This truly is a one-of-a-kind book that can not be found offline or online other than right here. I urge you to click the link below and place your secure order...</p>
                            <p>&quot;Guide To Buying Your Dream Home&quot; normally sells for $74.00, but as part of my &quot;Finally getting this on the Internet&quot; sale, I'm willing to give you an instant rebate..</p>
                            <p id="getebooks">Get both Ebooks – Guide To Buying Your Dream Home ($56 value), Free Bonus How To Sell Your Home ($22 value), What to Look For When Buying a Home and How to Buy a Home Cheap – today!</p>
                            <p align="center"><img id="buynowfirst" src="images/ebookupsell/price-sample.jpg" width="484" height="230"></p>
                            <p>But not to worry - you're purchase is not only safe, it's certain to make your day.. And IF you're not satisfied, that's ok! </p>
                            <p>Check out my &quot;unheard of&quot; money back guarantee deal..</p>
                            <table width="450" border="0" align="center" cellpadding="0" cellspacing="5">
                              <tr>
                                <td><table width="440" border="0" cellspacing="5" cellpadding="0">
                                    <tr>
                                      <td align="center" valign="middle"><img src="images/ebookupsell/guarantee.jpg" width="195" height="150"></td>
                                      <td align="center" valign="middle"><h3><span class="style1">100% &quot;Keep It or Drop It&quot; 90 Day Money-Back Guarantee!</span></h3>
                                        <p>                                If you're not totally thrilled with &ldquo;Guide To Buying Your Dream Home&rdquo; for whatever reason at all, simply send me an email and I'll cheerfully refund 100% of your money with the click of a button.</p></td>
                                    </tr>
                                  </table>
                                  <p align="center">You've got a full 90 days to try out the material. This is a no questions asked, no fuss money-back guarantee I like to adopt.</p></td>
                              </tr>
                            </table>                        <p>Is that fair or what? That means you can try out all the information at my risk, while you see if it will work for you or not. </p>
                            <p>Look at it this way -- $7 is really a teeny-tiny risk when you consider what a huge advantage when you gain a the full knowledge and save tons of money with the guide layout in this book. </p>
                            <p>It would be great if everything came with a sure-fire guarantee like this one, right? So what have you got to lose? Go ahead and click the &quot;Order Now!&quot; button below to start reading your new  Guide To Buying Your Dream Home book today! 
                              Still unsure?</p>
                            <p>Look at what my last customer had to say. . .</p>
                            <table id="table7" cellspacing="5">
                              <tr>
                                <td>
                                  <table id="table8" cellspacing="5">
                                    <tr>
                                      <td><p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>Thank you so much!</p>
                                        <p>This book was extremely insightful and it had many useful tips. I’m glad I got it.</p>
                                        <p>Betty from New England </p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                        <p>&nbsp;</p>
                                      </td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </table>                        
                            <p align="center"><strong>Yes Robert Blake, I Just Have To Have This Incredible Report!<br>
                                Count Me In Right Now!</strong></p>
                            <div id="bonus">
                            </div>
                            <div id="bonus2">
                            </div>
                            <div id="bonus3">
                            </div>
                            <h3 align="center" class="style1">Retail Price <strike>$97.99</strike> Special Offer - $7 for next 20 orders only!</h3>
                            <p align="center"><strong>Once you purchase, you will be emailed a link where you will have instant access to the ebook.</strong></p>
                            <p align="center"><a name="email" href="#" id="enterEmail">Please Enter Your Email & Click The Order Now Below To Purchase</a></p>
                            <p style="text-align:center;display:block;">
                              {% include 'ebookupsell/ebookupsellform.html.twig' %}
                            </p>
                            <p style="text-align:center;"><a class="ordernow" id="toreport" href="{{ url('declined') }}">No thanks, I know everything about buying homes and just want my report</a></p>
                            <p align="center"><span class="style1">INSTANT ACCESS<br>
                                Purchase Online with a Credit Card by Secure Server</span><br>
                            </p>
                            <h3 align="center" class="style1">Take Action, And Get Started Now! Not Tomorrow, Start Today!</h3>
                            <p align="left">                          Learn everything there is to know about buying a house for the first time, and secure your family&rsquo;s future. 
                              You can start reading this book in less than 3 minutes Click here to get your discounted copy of  Guide to Buying Your Dream Home! There's no absolutely NO risk, so grab it today..</p>                        <p>This book is incredible, the only book of it&rsquo;s kind that literally walks you through the house buying process.</p>
                            <p>You&rsquo;ll learn (1) how to find an agent (2) what types of homes to look for (3) what to look for when inspecting houses (3) where to find financing (4) how to make the right offer and how to counter offer and (5) how to close the deal.</p>
                            <p>Here's to you, and your extremely successful home buying experience will easily done in the right manner!<br>
                            </p>
                            <p><strong>To Your Success,<br>
                                Robert Blake<br>
                                Propertystudy.org</strong></p>
                            <p> </p>
                            <p>P.S. Remember, you are totally risk-free... ZERO risk. I'm so convinced that you'll be amazed at all of the information I've squeezed into 'Guide to Buying Your Dream Home' that I'm giving you a 3 month GUARANTEE! Don't wait - Order today and save!</p>
                            <p> P.P.S. After this marketing test, I will be raising the book back up to the original price of $74.00 . Advertising online can be very costly, and I'm not even sure I can keep this offer up for very much longer! If you're serious about understanding 'Guide to Buying Your Dream Home', Order Today!</p>
                            <p>&nbsp;</p>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </td>
        </tr>

        <tr>
          <td id="td3">
            <table id="table5" cellspacing="0">
              <tr>
                <td align="center" valign="top">
                  <img src="images/ebookupsell/footer.jpg" width="724" height="99" align="absmiddle" alt="">
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <script type="text/javascript">
      {% if error is defined or crm_error is defined %}
        $('html, body').animate({
          scrollTop: $("#enterEmail").offset().top
        }, 2000);
      {% endif %}

        $('#buynowfirst').click(function() {
          $('html, body').animate({
            scrollTop: $("#enterEmail").offset().top
          }, 1000);
        });
    </script>

  </body>
</html>
