<!DOCTYPE HTML>
<html>
  <head>
    <title>Propertystudy.org</title>
    <link href="css/ebookupsell.css" type="text/css" rel="stylesheet" />
    {% include "google_analytics.html.twig" %}
  </head>
  <body>

    <table id="maintable">
      <tr>
        <td id="td1">
          <div id="topblock">
            <a id="logowrap" href="#">
              <div></div>
            </a>
          </div>
        </td>
      </tr>
      <tr>
        <td  id="td2">
          <div align="center">
            <table id="table2">
              <tr>
                <td align="center" valign="middle"><div align="center">
                    <table id="table3">
                      <tr>
                        <td>
                          <h2 align="center" class="style1">Thank You for Your Ordering</h2>
                          <p align="center" class="style1">Guide To Buying Your Dream Home</p>
                          <p align="center" class="style1">&nbsp;</p>
                          <p align="center" class="style1">
                            <img src="images/ebookupsell/ebook-350.png" width="350" height="570" alt="">
                          </p>
                          <p><br>Your order has been received and processed. Just as a reminder, your credit card has been billed and will appear on your statement as PropertyStudy.org8888335920.</p>
                          <p align="center" class="style1"> Download Instructions</p>
                          <p align="center">Your products are being emailed to you.<br>If you have any problems downloading the products ... Don't panic!!<br>Email us and we will be glad to assist you.</p>
                          <p align="center">contact@propertystudy.org</p>
                                                  
                          <p align="left" class="style1">Thank you once again for your order! </p>
                          <p align="left">Robert Blake<br>
                            Propertystudy.org</p>
                          <p align="left">&nbsp;</p>
                          <p align="center">
                            <img src="images/ebookupsell/medley-350.jpg" width="350" height="342" alt="">
                          </p>
                          <p></p>
                          <a href="{{ url("report") }}" id="ebooktoreport"></a>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </table>
          </div>	</td>
      </tr>

      <tr>
        <td id="td3">
          <table id="table5" cellspacing="0">
            <tr>
              <td align="center" valign="top">
                <img src="images/ebookupsell/footer.jpg" width="724" height="99" align="absmiddle" alt=""></td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
