<div class="comparison-section">
  <h3 class="compar-header">Make The Right Decision with PropertyStudy.org</h3>
  <h4 class="compar-header1">Here are 3 Big reasons...</h4>
  <div class="compar-content">
    <div class="compar-block">
      <div class="compar-img" id="compar-img1"></div>
      <div class="compar-h">Current & Market Home Values</div>
    </div>
    <div class="compar-block">
      <div class="compar-img" id="compar-img2"></div>
      <div class="compar-h">Ownership & Tax Records</div>
    </div>
    <div class="compar-block">
      <div class="compar-img" id="compar-img3"></div>
      <div class="compar-h">Foreclosure & Neighborhood Data</div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
