<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Propertystudy.org</title>
        <link href="split/css/style.css" rel="stylesheet" type="text/css">
        <link href="css/colorbox.css" type="text/css" rel="stylesheet" />
	<link href="chart_split/css/style.css" rel="stylesheet" type="text/css">
        {% include 'vwo.html.twig'%}
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
	{% include "google_analytics.html.twig" %}
    </head>
    <body>

        <div id="logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="split/images/logo.png"></div>
        <div id="mid_sec">
            <div class="wrapper">
                <div class="download-section">
                    <div class="finished-report-h">
                        <p>Your report is now Ready</p>
                    </div>
                    <div class="report-text">
                        <h3>Your report for</h3>
                        <h4>{{ app.session.get('searchString') }}</h4>
                        <h3>has finished downloading</h3>
                    </div>
                    <div class="best-report-txt best-report-txt-padd">
                        <p>Report contains, when available:</p>
                        <div class="best-report-txt-1">
                            <ul>
                                <li>Home Value</li>
                                <li>History of the Home</li>
                                <li>Details of the Property</li>
                            </ul>
                        </div>
                        <div class="best-report-txt-1">
                            <ul>
                                <li>Previous Sales Information</li>
                                <li>Construction Dates</li>
                                <li>Neighborhood Rating</li>
                            </ul>
                        </div>
                        <div class="best-report-txt-2" style="width: 200px;">
                            <ul>
                                <li>Lot Size</li>
                                <li>Foreclosures in the Area</li>
                            </ul>
                        </div>
                    </div>
                    <div class="show-btn">
                        <input type="submit" class="unbind_unload" onclick="location.href = '{{ path(options.nextUrl) }}'" value="" title="Show My Report" />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="content_sec">
            <div class="wrapper">
                {% include 'chart_split/comparison_chart.html.twig' %}
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="footer_sec">
            <div class="wrapper">
                <div class="footer-section">
                    <div class="footer-menu-section">
                        {% include 'footer_links.html.twig' %}
                    </div>
                    <div class="footer">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </body>
</html>
