<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Propertystudy.org</title>
        <link href="split/css/style.css" type="text/css" rel="stylesheet"/>
        <link href="css/colorbox.css" type="text/css" rel="stylesheet" />
        <link href="js/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" rel="stylesheet">
	<link href="chart_split/css/style.css" rel="stylesheet" type="text/css">
        {% include 'vwo.html.twig'%}
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
        <script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
	{% include "google_analytics.html.twig" %}
    </head>
    <body>
        <div id="logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="split/images/logo.png"></div>
        <div id="mid_sec">
            <div class="wrapper">
                <div class="white_box5">
                    <h1>Searching for:</h1>
                    <h4>{{ app.session.get('searchData')['street'] }} {{ app.session.get('searchData')['city'] }}, {{ app.session.get('searchData')['state'] }}</h4>
                    <div id="searchingStatus">
                        <img src="split/images/loader.gif" align="left">
                        <h3>Searching:</h3>
                        <div class="process" id="search0" style="display:none;"><span></span></div>
                        <div class="process" id="search1" style="display:none;"><span>Mortgage & Lending Database</span></div>
                        <div class="process" id="search2" style="display:none;"><span>Local Value Index Database</span></div>
                        <div class="process" id="search3" style="display:none;"><span>Public Records Database</span></div>
                        <div class="process" id="search4" style="display:none;"><span>Sales Records Database</span></div>
                        <div class="process" id="search5" style="display:none;"><span>State Records Database</span></div>
                        <div class="process" id="search6" style="display:none;"><span>Phone Number Database</span></div>
                        <div class="process" id="search7" style="display:none;"><span>Criminal Records Database</span></div>
                        <div class="process" id="search8" style="display:none;"><span>Title Database</span></div>
                        <div class="process" id="search9" style="display:none;"><span>Complete</span></div>
                    </div>
                    <div class="clearfix"></div>
                    <!-- Progress bar -->
                    <div id="progress_bar">
                        <div id="progressbar"></div>
                    </div>
                    <!-- /Progress bar -->

                    <div class="clearfix"></div>
                    <div id="database-section" class="db_search">
                        <div class="database-section1">
                            <div class="database-logo"><img src="images/quality-icon.png" alt="Quality" title="Quality"></div>
                            <div class="database-text">
                                <h3>Quality</h3>
                                <p>Comprehensive information that’s accurate and up-to-date</p>
                            </div>
                        </div>
                        <div class="database-section1">
                            <div class="database-logo"><img src="images/speed-icon.png" alt="Speed" title="Speed" /></div>
                            <div class="database-text">
                                <h3>Speed</h3>
                                <p>Records are consistently delivered within minutes</p>
                            </div>
                        </div>
                        <div class="database-section2">
                            <div class="database-logo"><img src="images/trust-icon.png" alt="Trust" title="Trust"></div>
                            <div class="database-text">
                                <h3>Trust</h3>
                                <p>A reputable company that takes you seriously.</p>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="content_sec">
            <div class="wrapper">
                {% include 'chart_split/comparison_chart.html.twig' %}
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="footer_sec">
            <div class="wrapper">
                <div class="footer-section">
                    <div class="footer-menu-section">
                        {% include 'footer_links.html.twig' %}
                    </div>
                    <div class="footer">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <script>

            var pbar = $("#progressbar");
            pbar.progressbar({
                value: false
            });

            var statuses = $('.process');
            function showStatus(currInd, nextInd) {
                $(statuses[currInd]).css('display', 'none');
                $(statuses[nextInd]).css('display', 'block');
            }
            setTimeout(function(){
                showStatus(0, 1);
                pbar.progressbar('value', 0.1);
                $("#progressbar .ui-progressbar-value").addClass("ui-corner-right");
                $("#progressbar .ui-progressbar-value").animate({width: 800}, 16500);
            }, 1500);
            setTimeout(function(){showStatus(1, 2);}, 3000);
            setTimeout(function(){showStatus(2, 3);}, 5000);
            setTimeout(function(){showStatus(3, 4);}, 7000);
            setTimeout(function(){showStatus(4, 5);}, 9000);
            setTimeout(function(){showStatus(5, 6);}, 11000);
            setTimeout(function(){showStatus(6, 7);}, 13000);
            setTimeout(function(){showStatus(7, 8);}, 15000);
            setTimeout(function(){showStatus(8, 9);}, 17000);
            setTimeout(function() {
                window.location.replace("{{ path(options.nextUrl) }}");
            }, 17500);

        </script>
    </body>
</html>
