<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Propertystudy.org</title>
        <link href="split/css/style.css" rel="stylesheet" type="text/css">
        <link href="css/colorbox.css" type="text/css" rel="stylesheet" />
	<link href="chart_split/css/style.css" rel="stylesheet" type="text/css">
        {% include 'vwo.html.twig'%}
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
        <script>
            {% include 'leave_funnel_popup.js' %}
        </script>
	{% include "google_analytics.html.twig" %}
    </head>
    <body>

        <div id="logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="split/images/logo.png"></div>
        <div id="mid_sec">
            <div class="wrapper">
                <div class="white_box">
                    <h1>CAUTION!</h1>
                    <h2><strong>Warning: Your report may contain shocking information. Prepare yourself as you will learn the truth about the property. You may learn that your real estate agent, contractor or neighbor is trying to rip you off.<br/><br/>Only use the information contained in our reports in a legal manner. Do not use the sensitive information we provide to break the law.</strong></h2>
                    <div class="proceed_btn">

                        <form method="post" action="">
                            <input class="unbind_unload" src="split/images/proceed_btn.png" type="image" alt="">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <div id="content_sec">
            <div class="wrapper">
                {% include 'chart_split/comparison_chart.html.twig' %}
                <div class="clearfix"></div>
            </div>
        </div>
        <div id="footer_sec">
            <div class="wrapper">
                <div class="footer-section">
                    <div class="footer-menu-section">
                        {% include 'footer_links.html.twig' %}
                    </div>
                    <div class="footer">
                        <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </body>
</html>
