{% extends "base.html.twig" %}
{% block content %}

    <body id="homepage">
        <div id="main-container">
            <div id="main">
                <div id="main-section">
                    
                </div>
            </div>
        </div>
        <script>
            
        </script>
    </body>
    
{% endblock %}
