
.map-section {
  width: 140px;
  text-align: left;
}
.map-section a {
  display: block;
  font-size: 16px;
  height: 28px;
  text-decoration: none;
}
.map-section a:hover {
  text-decoration: underline;
}
