body { color: #000; background: #FFF url(../images/bg.jpg) no-repeat 50% 0; font-family: Arial, Helvetica, Sans-serif; margin: 0; padding: 0; }
body.noscroll
{
    overflow-y: hidden;
}
a { text-decoration: underline; } a:visited { color: #666; } a:link { color: #0093bc; } a:hover { color: #d5d5a1; }
a.btn, .dropdown-menu a { text-decoration: none; }
h2, h3 { color: #0093bc; }
.none { display: none; }
.clear { clear: both; }
.wrapper { width: 960px; margin: 0 auto; }
#template { }
#header { background: white; } 
#header .wrapper { position: relative; margin-bottom: 75px; }
#header .wrapper:before,
#header .wrapper:after { display: table; line-height: 0; content: ""; }
#header .wrapper:after { clear: both; }
#body { margin-bottom: 20px; } 
#footer { }

#logo { 
    position: absolute;
    top: 0;
    left: 0;
    width: 150px; 
    height: 42px; 
    background: #FFF url(../images/logo.png) no-repeat 13px 28px; 
    padding: 28px 13px 13px 13px; 
    margin: 0; 
    border-bottom: 4px solid #0093bc; 
}
#logo .text { display: none; }

#my-account { float: right; white-space: nowrap; padding: 10px 0; }
#my-account .avatar { float: left; margin-right: 5px; }
#my-account .avatar img { display: block; float: left; }
#my-account .info { float: left; }
#my-account .greeting { margin: 0; padding-top: 3px;}
#my-account .stats { margin: 0; }
#my-account .stats .datetime { background: url(../images/account-stats-datetime.png) no-repeat; padding-left: 20px; }
#my-account .stats .reports { background: url(../images/account-stats-reports.png) no-repeat; padding-left: 20px; }

#intro-instructions { color: #005e78; font-size: 13px; font-weight: bold; text-align: center; }
.property-map {
    float: right;
}
.tblmelissaData {
    width: 500px;
    float: left;
}
#property-featured { 
    border: 1px solid #c1c1c1;
    background: #FFF url(../images/property-featured.jpg) no-repeat 0 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 19px 19px 655px 19px;
    margin-bottom: 20px;
}
#property-featured .featured-panel { 
    background: url(../images/featured-panel.jpg); 
    height: 360px; 
    padding: 20px 30px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 5px #999999;
    -moz-box-shadow: 0 2px 5px #999;
    -webkit-box-shadow: 0 2px 5px #999;
}
.property-view-backdrop { 
    background: #222; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;
    font-size: 12px;
    color: #FFF;
    text-align: center;
} 
.property-view-backdrop p { margin: 0; padding: 5px 0; }
.property-view-frame { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0 0 5px 0;
    margin: 0 -5px;
} 
.property-view { 
    position: relative;
    color: #666; 
    background: #FFF; 
    border: 1px solid #b0704c;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 8px #999999;
    -moz-box-shadow: 0 2px 8px #999;
    -webkit-box-shadow: 0 2px 8px #999;
    padding: 19px;
    margin: -1px -5px 0 -5px;
    font-size: 14px;
    text-align: left;
}
.property-view-map { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    margin: -65px 20px 0 0;
    padding: 10px;
    width: 256px;
    height: 268px;
    float: left;
    box-shadow: 0 2px 8px #999999;
    -moz-box-shadow: 0 2px 8px #999;
    -webkit-box-shadow: 0 2px 8px #999;
} 
.property-view-map .map { 
    background: #CCC;
    width: 256px;
    height: 268px;
}
.property-view-map-extra { 
    position: absolute;
    top: -100px;
    left: 60px;
    width: 72px;
    height: 75px;
    background: url(../images/property-view-map-extra.png) no-repeat;
}
.property-view-panel { float: left; width: 540px; }
.property-view-header { }
.property-view-header h3 { font-size: 22px; line-height: 1; margin-top: 0; }
.property-view-header p { margin: 0 0 20px 0; padding-bottom: 15px; border-bottom: 1px dashed #dbdbdb; }
.property-view-header p strong { color: #000; }
.property-view-header p .sqft { background: url(../images/property-view-header-sqft.png) no-repeat 0 50%; padding: 0 20px; display: inline-block; }
.property-view-header p .year { background: url(../images/property-view-header-year.png) no-repeat 0 50%; padding: 0 20px; display: inline-block; }
.property-view-header p .sold { background: url(../images/property-view-header-sold.png) no-repeat 0 50%; padding-left: 20px; display: inline-block; }
.property-view-body table { margin: 0 0 10px 0; }
.property-view-body table thead { display: none; }
.property-view-body table tbody td { line-height: 16px; }
.property-view-message { clear: both; }
.property-view-message p { margin-bottom: 0; padding: 0; }
#why-message, #why-items { display: none; }

#property-details { 
    background: url(../images/property-details.jpg) no-repeat;
    height: 726px;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 40px;
}
.property-details-map { position: absolute; top: 19px; left: 20px; width: 599px; height: 707px; }
.property-details-map-view { position: absolute; top: 34px; left: 41px; width: 518px; height: 546px; }
.property-details-map-menu { position: absolute; top: 620px; left: 91px; }
.property-details-map-menu ul { list-style: none; margin: 0; padding: 0; width: 419px; height: 87px; }
.property-details-map-menu ul li { float: left; display: block; }
.property-details-map-menu ul a { float: left; display: block; width: 200px; height: 87px; outline: none; }
.property-details-map-menu ul a:hover,
.property-details-map-menu ul li.active_gmapview a { background: url(../images/property-details-map-menu.jpg); }
.property-details-map-menu ul a .text { display: none; }
.property-details-map-menu ul li.bird-eye { margin-right: 19px; }
.property-details-map-menu ul li.street-view a:hover,
.property-details-map-menu ul li.street-view.active_gmapview a { background-position: -200px 0; }
.property-details-map-extra { 
    position: absolute;
    top: 20px; 
    left: -44px;
    background: url(../images/property-details-map-extra.png); 
    width: 248px; 
    height: 71px; 
    z-index: 100;
}
.property-details-panel { 
    width: 275px;
    float: right; 
    margin: 20px 32px 0 20px; 
    padding: 0 0 5px 0;
    
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;
}
.property-details-frame { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;

    padding: 0 0 10px 0;
    margin: -1px -10px 0 -10px;
}
.property-details-details { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;

    padding: 19px;
    margin: -1px -5px 0 -5px;
}
.property-details-details h3 { font-size: 22px; line-height: 26px; margin: 0 0 35px 0; }
.property-details-details table { }
.property-details-details table { margin: 0; }
.property-details-details table thead { display: none; }
.property-details-details table tbody td { color: #666; line-height: 14px; }
.property-details-details table tbody td.setting { color: #000; font-weight: bold; }
.property-details-details table tbody td.setting.na { color: #fb5252; }

#property-more { }
#property-estimate { }
#property-estimate .header { 
    background: #EEE; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e0e0e0'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e0e0e0)); 
    background: -moz-linear-gradient(top,  #f2f2f2,  #e0e0e0); 
    padding: 15px 40px;
    border: 1px solid #c1c1c1; 
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;    
} 
#property-estimate .header h3 { float: left; background: url(../images/property-estimate-header-heading.png) no-repeat 0 50%; line-height: 30px; padding-left: 35px; margin: 0; } 
#property-estimate .header .sorter { float: right;  } 
#property-estimate .header .sorter label { font-size: 12px; margin-right: 5px; } 
#property-estimate .header .sorter a.btn { }
#property-estimate table { margin: 0; } 
#property-estimate table thead { display: none; } 
#property-estimate tbody td { color: #666; } 
#property-estimate .table-striped tbody > tr:nth-child(odd) > td, 
#property-estimate .table-striped tbody > tr:nth-child(odd) > th { border-top: none; }
/*
#property-estimate .table-striped tbody tr > td:first-child, 
#property-estimate .table-striped tbody tr > th:first-child { border-left: 1px solid #ddd; }
*/
#property-estimate .table-striped th, 
#property-estimate .table-striped td { border-left: 1px solid #ddd; }
#property-estimate .table-striped tbody tr > td:last-child, 
#property-estimate .table-striped thead tr > th:last-child { border-right: 1px solid #ddd; }
#property-estimate .table-striped tbody > tr:last-child { border-bottom: 1px solid #ddd; }
#property-estimate tbody td .heading { color: #000; font-size: 16px; font-weight: bold; } 
#property-estimate tbody td .text { } 
#property-estimate tbody td.pricing-value .heading { color: #0093bc; font-size: 22px; }
#property-estimate tbody td.pricing-value .heading .interval { color: #666; font-size: 14px; }
#property-estimate tbody td.pricing { } 
#property-estimate tbody td.change { background: url(../images/property-estimate-table-change.png) no-repeat 90% 50%; }
#property-estimate tbody td.change .heading { color: #00bc3e; font-size: 22px; } 
#property-estimate tbody td.change.down { background-image: url(../images/property-estimate-table-change-down.png); }
#property-estimate tbody td.change.down .heading { color: #fb5252; } 
#property-estimate tbody td.sqft { } 
#property-estimate tbody td.date { }
#property-estimate tbody td.date .text { 
    color: #FFF; 
    background: #0093bc; 
    font-weight: bold; 
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;    
}
#property-inspection { background: url(../images/property-inspection.jpg) no-repeat; height: 693px; } 
#property-inspection * { display: none; }
#property-inspection h2 { } 
#property-inspection p { } 
#property-inspection ul { } 
#property-other-info { color: #98af15; background: #0b501b; padding: 30px 35px; margin-bottom: 20px; position: relative; } 
#property-other-info h3 { color: #98af15; margin: 0; } 
#property-other-info table { } 
#property-other-info table thead { display: none; } 
#property-other-info tbody td { padding: 40px 0; border-bottom: 1px solid #0e6622; } 
#property-other-info tbody tr:last-child td { border-bottom: none; } 
#property-other-info tbody td .heading { color: #FFF; font-size: 18px; font-weight: bold; } 
#property-other-info tbody td .text { color: #ffbb17; } 
#property-other-info tbody td.category { background: url(../images/property-other-info-structural.png) no-repeat 0 50%; width: 200px; padding: 0 40px 0 90px; } 
#property-other-info tbody td.category.kitchen { background-image: url(../images/property-other-info-kitchen.png); } 
#property-other-info tbody td.category.bedrooms { background-image: url(../images/property-other-info-bedrooms.png); } 
#property-other-info tbody td.category.structural { background-image: url(../images/property-other-info-structural.png); } 
#property-other-info tbody td.category.plumbing { background-image: url(../images/property-other-info-plumbing.png); } 
#property-other-info tbody td.category.heating { background-image: url(../images/property-other-info-heating.png); } 
#property-other-info tbody td.category.attic { background-image: url(../images/property-other-info-attic.png); } 
#property-other-info tbody td.category.bathrooms { background-image: url(../images/property-other-info-bathrooms.png); } 
#property-other-info tbody td.category.exterior { background-image: url(../images/property-other-info-exterior.png); } 
#property-other-info tbody td.details { } 
#property-other-info tbody td.status { width: 200px; padding-left: 20px; } 
#property-other-info tbody td.status.passed { background: url(../images/property-other-info-status-passed.png) no-repeat 90% 50%; } 
#property-other-info tbody td.status .text { display: none; } 
.property-other-info-extra { background: url(../images/property-other-info-extra.png) no-repeat; width: 960px; height: 62px; position: absolute; bottom: 0; left: 0; }

#property-neighbourhood { 
    background: url(../images/property-neighbourhood.jpg) no-repeat;
    height: 454px;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 20px;
}
.property-neighbourhood-offenders { position: absolute; top: 20px; left: 30px; width: 577px; height: 404px; } 
.property-neighbourhood-offenders-amount { color: #FFF; font-size: 40px; font-weight: bold; position: absolute; top: 77px; left: 68px; }
.property-neighbourhood-offenders-amount .symbol { vertical-align: super; font-size: 20px; }
.property-neighbourhood-offenders-details { width: 365px; position: absolute; top: 20px; left: 192px; } 
.property-neighbourhood-offenders-details h3 { color: #FFF; font-size: 22px; line-height: 24px; padding-bottom: 10px; margin-bottom: 25px; border-bottom: 1px solid #4e4f5d;  } 
.property-neighbourhood-offenders-details h3 .highlight { display: block; } 
.property-neighbourhood-offenders-details table { } 
.property-neighbourhood-offenders-details thead { display: none; } 
.property-neighbourhood-offenders-details tbody > tr:nth-child(odd) > td, 
.property-neighbourhood-offenders-details thead > tr:nth-child(odd) > th { background: url(../images/property-neighbourhood-offenders-details-striped.png); }
.property-neighbourhood-offenders-details tbody td { color: #d8d8d8; padding: 5px 20px; line-height: 16px; }
.property-neighbourhood-offenders-details tbody td .heading { color: #ffbb17; font-size: 22px; line-height: 20px; font-weight: bold; } 
.property-neighbourhood-offenders-details tbody td .text { } 
.property-neighbourhood-offenders-details tbody td.distance { white-space: nowrap; }
.property-neighbourhood-panel { 
    width: 275px;
    float: right; 
    margin: 20px 32px 0 20px; 
    padding: 0 0 5px 0;
    
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;
}
.property-neighbourhood-frame { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;

    padding: 0 0 10px 0;
    margin: -1px -10px 0 -10px;
}
.property-neighbourhood-stats { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;

    padding: 19px;
    margin: -1px -5px 0 -5px;
}
.property-neighbourhood-stats h3 { font-size: 22px; line-height: 26px; margin: 0 20px 0 0; }
.property-neighbourhood-stats p.address { font-weight: bold; margin-bottom: 35px; }
.property-neighbourhood-stats table { margin: 0 0 20px 0; }
.property-neighbourhood-stats table thead { display: none; }
.property-neighbourhood-stats table tbody td { color: #666; line-height: 16px; vertical-align: top; }
.property-neighbourhood-stats table tbody td.amount { color: #00bc3e; font-size: 22px; font-weight: bold; padding: 10px 20px; }
.property-neighbourhood-stats table tbody td.amount.found { color: #fb5252; }
.property-neighbourhood-stats table tbody td.detail { padding: 5px 0; }

#property-money-history { }
.grid-960 #property-money-history .grid-two-third { width: 620px; margin-right: 20px; }
#property-price-history { } 
#property-price-history .header { 
    background: #EEE; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e0e0e0'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e0e0e0)); 
    background: -moz-linear-gradient(top,  #f2f2f2,  #e0e0e0); 
    padding: 15px 40px;
    border: 1px solid #c1c1c1; 
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;    
} 
#property-price-history .header h3 { float: left; background: url(../images/property-price-history-header-heading.png) no-repeat 0 50%; line-height: 30px; padding-left: 35px; margin: 0; } 
#property-price-history .header .sorter { float: right; } 
#property-price-history .header .sorter label { font-size: 12px; margin-right: 5px; } 
#property-price-history .header .sorter a.btn { }
#property-price-history table { margin: 0 0 20px 0; } 
#property-price-history thead th { padding: 15px 20px; } 
#property-price-history tbody td { color: #000; font-size: 16px; font-weight: bold; padding: 15px 20px; } 
#property-price-history .table-striped thead > tr:nth-child(odd) > th { border-top: none; }
#property-price-history .table-striped th { color: #666; background: #ededed; font-weight: normal; } 
#property-price-history .table-striped th, 
#property-price-history .table-striped td { border-left: 1px solid #ddd; }
#property-price-history .table-striped tbody tr > td:last-child, 
#property-price-history .table-striped thead tr > th:last-child { border-right: 1px solid #ddd; }
#property-price-history .table-striped tbody > tr:last-child { border-bottom: 1px solid #ddd; }
#property-price-history tbody td .heading { color: #000; font-size: 16px; font-weight: bold; } 
#property-price-history tbody td .text { } 
#property-price-history tbody td.description { color: #00bc3e; }
#property-price-history tbody td.description.sold { color: #fb5252; }
#property-price-history tbody td.price { } 
#property-price-history tbody td.change {  }
#property-price-history tbody td.sqft { } 
#property-price-history tbody td.date { }
#property-price-history tbody td.date .text { 
    color: #FFF; 
    background: #0093bc; 
    font-weight: bold; 
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;    
}

#property-tax-history { } 
#property-tax-history .header { 
    background: #EEE; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e0e0e0'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e0e0e0)); 
    background: -moz-linear-gradient(top,  #f2f2f2,  #e0e0e0); 
    padding: 15px 40px;
    border: 1px solid #c1c1c1; 
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;    
} 
#property-tax-history .header h3 { float: left; background: url(../images/property-tax-history-header-heading.png) no-repeat 0 50%; line-height: 30px; padding-left: 35px; margin: 0; } 
#property-tax-history .header .sorter { float: right; } 
#property-tax-history .header .sorter label { font-size: 12px; margin-right: 5px; } 
#property-tax-history .header .sorter a.btn { }
#property-tax-history table { margin: 0; } 
#property-tax-history thead th { padding: 15px 20px; } 
#property-tax-history tbody td { color: #000; font-size: 16px; font-weight: bold; padding: 15px 20px; } 
#property-tax-history .table-striped th { color: #666; background: #ededed; font-weight: normal; } 
#property-tax-history .table-striped th, 
#property-tax-history .table-striped td { border-left: 1px solid #ddd; }
#property-tax-history .table-striped tbody tr > td:last-child, 
#property-tax-history .table-striped thead tr > th:last-child { border-right: 1px solid #ddd; }
#property-tax-history .table-striped tbody > tr:last-child { border-bottom: 1px solid #ddd; }
#property-tax-history tbody td .heading { color: #000; font-size: 16px; font-weight: bold; } 
#property-tax-history tbody td .text { } 
#property-tax-history tbody td.year,
#property-tax-history thead th.year { text-align: center; }
#property-tax-history tbody td.property-taxes { } 
#property-tax-history tbody td.change {  }
#property-tax-history tbody td.change.changed { color: #fb5252; }
#property-tax-history tbody td.tax-assessment { color: #0093bc; } 
#property-tax-history tbody td.date { }
#property-tax-history tbody td.date .text { 
    color: #FFF; 
    background: #0093bc; 
    font-weight: bold; 
    display: inline-block;
    padding: 0 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;    
}
.property-listing-brief { 
    margin-bottom: 20px;
    background: #FFF;
}
.property-listing-picture { 
    padding: 5px 5px 0 5px; border-bottom: 1px solid #c6cacf; 
    border: 1px solid #c6cacf; 
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}
.property-listing-picture img { 
    display: block; 
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
}
.property-listing-info { padding: 10px; border: 1px solid #c6cacf; border-top: none; border-bottom: none; }
.property-listing-info p.address { font-size: 19px; font-weight: bold; margin: 0 0 5px 0; }
.property-listing-info p.rating { 
    display: block;
    width: 62px;
    height: 10px;
    background: url(../images/property-listing-info-rating.png);
    margin: 0;
}
.property-listing-info p.rating span { 
    display: block;
    height: 10px;
    background: url(../images/property-listing-info-rating.png) 0 -10px;
    font-size: 0;
    text-indent: -9999px;
}
.property-listing-info p.rating span.rating-1 { width: 13px; }
.property-listing-info p.rating span.rating-2 { width: 26px; }
.property-listing-info p.rating span.rating-3 { width: 39px; }
.property-listing-info p.rating span.rating-4 { width: 52px; }
.property-listing-info p.rating span.rating-5 { width: auto; }
.property-listing-details { 
    background: #fffce9; 
    border: 1px solid #c6cacf;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}
.property-listing-details p { float: left; margin: 0; padding: 5px 20px; border-right: 1px solid #c6cacf; }
.property-listing-details p:last-child { border-right: none; }
.property-listing-details p .heading { color: #666; }
.property-listing-details p .text { color: #000; font-weight: bold; display: block; }
.property-listing-details p.value .text { color: #0093bc; }
.property-listing-details p.value { padding-right: 35px; }
.property-listing-details p.beds { padding-right: 35px; }
.property-listing-details p.sqft {  }

#property-monthly-payment { } 
#property-monthly-payment .header { 
    background: #EEE; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e0e0e0'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e0e0e0)); 
    background: -moz-linear-gradient(top,  #f2f2f2,  #e0e0e0); 
    padding: 15px 40px;
    border: 1px solid #c1c1c1; 
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0; 
    text-align: right;
} 
#property-monthly-payment .header h3 { float: left; background: url(../images/property-monthly-payment-header-heading.png) no-repeat 0 50%; line-height: 30px; padding-left: 35px; margin: 0; } 
#property-monthly-payment .header p.text { line-height: 30px; margin: 0; } 
#property-monthly-payment .header p.text em { color: #0093bc; font-weight: bold; font-style: normal; text-transform: uppercase; } 
#property-monthly-payment .body { } 
.grid-960 #property-monthly-payment .grid-one-third { width: 319px; height: 532px; } 
.grid-960 #property-monthly-payment .grid-two-third { 
    padding: 20px;
    width: 598px;
} 
#property-monthly-payment .body form { 
    border: 1px solid #007c9f; 
    border-top: none;
    background: url(../images/property-monthly-payment-form.png);  
    border-radius: 0 0 0 10px;
    -moz-border-radius: 0 0 0 10px;
    -webkit-border-radius: 0 0 0 10px;
    -o-border-radius: 0 0 0 10px; 
}
#property-monthly-payment .body .section { padding: 20px; border-bottom: 1px solid #007c9f; } 
#property-monthly-payment .body .section:last-child { border-bottom: none; } 
#property-monthly-payment .body form label { color: #FFF; font-size: 18px; font-weight: bold; } 
#property-monthly-payment .body .section-money-down label { float: left; margin-bottom: 20px; } 
#property-monthly-payment .body form input { } 
#property-monthly-payment .body form .help-block { color: #91e7ff; font-size: 12px; line-height: 15px; margin: 0; } 
#property-monthly-payment .body form button { } 
#UpsellForm_cost {
    color: #000; 
    font-size: 40px; 
    font-weight: bold; 
    height: auto;
    width: 240px;
    padding-left: 40px; 
    line-height: 40px;
    background: #FFF url(../images/property-monthly-payment-cost.png) no-repeat 20px 50%; 
    margin-bottom: 1px; 
}
#property-monthly-payment .body .section button { 
    margin: 15px auto 0 auto;
    width: 240px;
    display: block;
    color: #523b01;
    background: url(../images/property-monthly-payment-form-submit.png) repeat-x;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
} 
#property-monthly-payment .body .estimate-price { color: #91e7ff; font-size: 12px; float: right; margin: 0 0 20px 0; } 

#property-monthly-payment .body form .slider #loan-percent-down { width: 170px; }
#property-monthly-payment .body form #loan-percent-down-display { float: right; color: #FFF; font-size: 40px; font-weight: bold; }
#property-monthly-payment .body form #loan-percent-down-display .symbol { font-size: 20px; vertical-align: middle; }

#property-monthly-payment-sort .dropdown-toggle { color: #666; font-size: 24px; line-height: 40px; padding: 6px 8px; }
#property-monthly-payment-sort .dd-label { vertical-align: top; }
#property-monthly-payment-sort .dropdown-toggle strong { color: #000; font-size: 40px; line-height: 1; font-weight: bold; }
#property-monthly-payment-sort .btn-large .caret { margin-top: 20px; }
#property-monthly-payment-details { 
    height: 492px; 
    border: 1px solid #c6cacf; 
    border-top: none;
    border-left: none;
    border-radius: 0 0 10px 0;
    -moz-border-radius: 0 0 10px 0;
    -webkit-border-radius: 0 0 10px 0;
    -o-border-radius: 0 0 10px 0; 
}
#property-monthly-payment-categories { list-style: none; margin: 0 0 20px 0; padding: 0; } 
#property-monthly-payment-categories li { 
    float: left;
    margin-right: 10px; 
    width: 141px;
    padding-top: 130px;
    text-align: center;
    background: url(../images/property-monthly-payment-category-insurance.png) no-repeat; 
    position: relative;
} 
.ie8 #property-monthly-payment-categories li { margin-right: 8px; }
#property-monthly-payment-categories li:last-child { margin-right: 0; }
#property-monthly-payment-categories li .text { color: #000; padding: 0 20px; display: block; }
#property-monthly-payment-categories li .amount { font-size: 32px; font-weight: bold; position: absolute; top: 50px; left: 0; width: 131px; }
#property-monthly-payment-categories li .amount .symbol { font-size: 16px; vertical-align: super;  }
#property-monthly-payment-categories li.interest { color: #366407; background: url(../images/property-monthly-payment-category-interest.png) no-repeat; } 
#property-monthly-payment-categories li.taxes { color: #662121; background: url(../images/property-monthly-payment-category-taxes.png) no-repeat; } 
#property-monthly-payment-categories li.homeowners-insurance { color: #007c9f; background: url(../images/property-monthly-payment-category-homeowners-insurance.png) no-repeat; } 
#property-monthly-payment-categories li.mortgage-insurance { color: #ffbb17; background: url(../images/property-monthly-payment-category-mortgage-insurance.png) no-repeat; } 
#property-monthly-payment-categories li .separator { } 
#property-monthly-payment-details-table { padding-right: 40px; }
#property-monthly-payment-details h3 { color: #000; font-size: 18px; line-height: 20px; margin: 0 0 5px 0; }
#property-monthly-payment-details h3.estimated-payment { margin: 0 0 20px 0; float: left; }
#property-monthly-payment-details p.personalized-rates { margin: 0 0 20px 0; float: right; }
#property-monthly-payment-details table { margin: 20px 0 30px 0; clear: both; }
#property-monthly-payment-details thead { display: none; }
#property-monthly-payment-details tbody td { color: #666; padding: 5px 20px; }
#property-monthly-payment-details tbody td.category { padding-left: 40px; background-image: url(../images/property-monthly-payment-details-table-category.png); background-repeat: no-repeat; background-position: 20px 50%; }
#property-monthly-payment-details tbody td.rate { color: #000; font-weight: bold; width: 1%; white-space: nowrap; }    
#property-monthly-payment-details ul { }
#property-monthly-payment-details li { color: #666; }
#property-monthly-payment-details li h4 { color: #000; font-size: 14px; line-height: 18px; margin: 0; }

#property-nearby-schools {
    margin-bottom: 16px;
}
.grid-960 #property-nearby-schools .grid-two-third { width: 620px; margin-right: 20px; }
#property-nearby-schools-info { }
#property-nearby-schools-info .header { 
    background: #EEE; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#e0e0e0'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#e0e0e0)); 
    background: -moz-linear-gradient(top,  #f2f2f2,  #e0e0e0); 
    padding: 15px 40px;
    border: 1px solid #c1c1c1; 
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;    
}
#property-nearby-schools-info .header h3 { float: left; background: url(../images/property-tax-history-header-heading.png) no-repeat 0 50%; line-height: 30px; padding-left: 35px; margin: 0; }
#property-nearby-schools-info .header .sorter { float: right; } 
#property-nearby-schools-info .header .sorter label { font-size: 12px; margin-right: 5px; } 
#property-nearby-schools-info .header .sorter a.btn { }
#property-nearby-schools-info table { margin: 0; } 
#property-nearby-schools-info thead th { line-height: 16px; padding: 10px 20px; vertical-align: middle; } 
#property-nearby-schools-info tbody td { color: #000; font-size: 14px; font-weight: bold; padding: 15px 20px; vertical-align: middle; } 
#property-nearby-schools-info .table-striped th { color: #666; background: #ededed; font-weight: normal; } 
#property-nearby-schools-info .table-striped th, 
#property-nearby-schools-info .table-striped td { border-left: 1px solid #ddd; }
#property-nearby-schools-info .table-striped tbody tr > td:last-child, 
#property-nearby-schools-info .table-striped thead tr > th:last-child { border-right: 1px solid #ddd; }
#property-nearby-schools-info .table-striped tbody > tr:last-child { border-bottom: 1px solid #ddd; }
#property-nearby-schools-info tbody td .heading { color: #000; font-size: 16px; font-weight: bold; } 
#property-nearby-schools-info tbody td .text { } 
#property-nearby-schools-info thead th.school { padding-left: 35px; }
#property-nearby-schools-info tbody td.school { font-weight: normal; padding-left: 35px; }
#property-nearby-schools-info tbody td.school a { font-weight: bold;  }
#property-nearby-schools-info tbody td.grades { }
#property-nearby-schools-info tbody td.distance { }
#property-nearby-schools-info tbody td.rating { text-align: center; }
#property-nearby-schools-info tbody td.rating .text { 
    color: #FFF;
    font-size: 20px; 
    display: inline-block;
    padding: 2px 7px;
    background: #fb5252; 
    border-radius: 13px;
    -moz-border-radius: 13px;
    -webkit-border-radius: 13px;
    -o-border-radius: 13px;

}
#property-nearby-schools-info tbody td.rating.rating-4 .text,
#property-nearby-schools-info tbody td.rating.rating-5 .text { background: #ffbb17; }
#property-nearby-schools-info tbody td.rating.rating-6 .text,
#property-nearby-schools-info tbody td.rating.rating-7 .text,
#property-nearby-schools-info tbody td.rating.rating-8 .text,
#property-nearby-schools-info tbody td.rating.rating-9 .text { background: #00bc3e; }

#property-stats-map { 
    background: url(../images/property-stats-map.png) repeat-x; 
    padding: 10px 20px 20px 20px;
    height: 502px;
    position: relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 40px;
} 
#property-stats-map-menu { text-align: right; } 
#property-stats-map-menu * { text-align: left; } 
#property-stats-map-menu label { color: #FFF; font-weight: bold; margin-right: 10px; } 
#property-stats-map-view-menu { 
    position: absolute;
    bottom: 40px;
    left: 40px;
} 
#property-stats-map-view-search { font-size: 18px; height: 34px; width: 420px;  } 
#property-stats-map-view-menu button { 
    color: #523b01;
    background: url(../images/property-monthly-payment-form-submit.png) repeat-x;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
} 
#property-stats-map-view { 
    width: 920px; 
    height: 490px; 
    background: #CCC; 
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    position: absolute; 
    bottom: 20px; 
    left: 20px; 
} 
.property-stats-map-location-panel { 
    width: 275px;
    float: right; 
    margin: 20px 32px 0 20px; 
    padding: 0 0 5px 0;
    position: absolute;
    top: 20px; 
    right: 20px;
    
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;
}

div.weather {

}
div.weather div.nearby {
    background: url('/images/weather/nearby.png') top left no-repeat;
    width: 100%;
    padding: 60px 0 0 0;
    margin-bottom: 45px;
}
div.weather div.nearby ul {
    margin: 0;
    float: left;
    width: 100%;
    padding: 0;
    list-style: none;
    background: url('/images/weather/nearby-bk.png') top left repeat-y;
}
div.weather div.nearby ul li {
    margin: 0;
    list-style: none;
    padding: 0 18px; 
    float: left;
    width: 444px;
    height: 37px;
    line-height: 37px;
}
div.weather div.conditions {
    background: url('/images/weather/conditions.png') top left no-repeat;
    width: 100%;
    height: 170px;
    margin-bottom: 45px;
    color: #fff;
    padding: 86px 0 0 0;
    position: relative;
}
div.weather div.conditions .last-updated {
    position: absolute;
    font-size: 11px;
    text-align: center;
    right: 20px;
    top: 20px;
    width: 275px;
    height: 34px;
    line-height: 34px;
}
div.weather div.conditions .frm {
    float: left;
    font-size: 12px;
    padding: 0px 20px 0 20px;
}
div.weather div.conditions .frm ul {
    margin: 0;
    padding: 0;
}
div.weather div.conditions .frm ul li {
    list-style: none;
}
div.weather div.conditions h3 {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    line-height: 10px;
}
div.weather div.conditions .weather {
    width: 110px;
}
div.weather div.conditions .wind {
    width: 110px;
}
div.weather div.conditions .preasure {
    width: 110px;
}
div.weather div.conditions .heat {
    width: 100px;
}
div.weather div.conditions .feels-like {
    width: 100px;
}
div.weather div.conditions .solar {
    width: 190px;
}
div.forecast-main {
    background: url('/images/weather/forecast-main.png') top left no-repeat;
    width: 100%;
    height: 623px;
    margin-bottom: 45px;
}
div.forecast-main ul {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    padding: 80px 20px 10px 23px;
}
div.forecast-main ul li {
    float: left;
    margin: 0;
    padding: 30px 12px;
    list-style: none;
    width: 204px;
    height: 200px;
    text-align: center; 
    color: #595761;
}
div.forecast-main ul li h5 {
    color: #fb5252;
}
div.forecast-main ul li.dark {
    color: #fff; 
}
div.forecast-main ul li.dark h5 {
    color: #00c0ff;
}
div.forecast {
    background: url('/images/weather/forecast.png') top left no-repeat;
    width: 839px;
    height: 70px;
    float: left;
    margin-bottom: 45px;
    padding:130px 22px 0 100px; 
}
div.forecast ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.forecast ul.sun {
    float: left;
    width: 350px;
}
div.forecast ul.moon {
    float: right;
    width: 404px;
}
div.forecast ul li.first {
    border-right: 1px solid #7a7a7a;
}
div.forecast ul li {
    float: left;
    width: 136px;
    padding-left: 30px;
}

div.almanac {
    background: url('/images/weather/almanac.png') top left no-repeat;
    width: 386px;
    height: 207px;
    float: right;
    margin-bottom: 45px;
    padding: 100px 43px 0 43px; 
    color: #fff;
}
div.almanac ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
div.almanac li {
    float: left;
    width: 190px;
    line-height: 39px;
}
.clearfix {
    clear: both;
    width: 100%;
}
.property-stats-zip {
    top: 197px;
    right: 20px;
}

.property-stats-walk {
    right: 20px;
    bottom : 40px;
    top: auto;
}
.property-stats-walk .strong {
    text-align: center;
    display: block;
}
.property-stats-map-location-frame { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;

    padding: 0 0 10px 0;
    margin: -1px -10px 0 -10px;
}
.property-stats-map-location-stats { 
    background: #FFF; 
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 2px 3px #333333;
    -moz-box-shadow: 0 2px 3px #333;
    -webkit-box-shadow: 0 2px 3px #333;

    padding: 10px;
    margin: -1px -5px 0 -5px;
}
.property-stats-map-location-stats h3 { font-size: 22px; line-height: 26px; margin: 0 20px 0 0; }
.property-stats-map-location-stats p.address { font-weight: bold; margin-bottom: 5px; }
.property-stats-map-location-stats ul.details { list-style: none; margin: 0; padding: 0; } 
.property-stats-map-location-stats ul.details li { color: #666; overflow: hidden; line-height: 16px; } 
.property-stats-map-location-stats ul.details li .detail-label { width: 105px; padding-right: 10px; display: block; float: left; } 
.property-stats-map-location-stats ul.details li .detail-data { width: 145px; display: block; float: left; } 
.property-stats-map-location-stats ul.details li .detail-data strong { color: #000; display: block; } 
.property-stats-map-location-stats button { 
    margin: 55px auto 0 auto;
    width: 240px;
    display: block;
    color: #523b01;
    background: url(../images/property-monthly-payment-form-submit.png) repeat-x;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
} 

#property-faq {
    border: 1px solid #c1c1c1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 390px 420px 40px;
    background: url(../images/property-faq-1.jpg) no-repeat 100% 0, url(../images/property-faq-2.jpg) no-repeat 0 100%;
}
.ie8 #property-faq { background: url(../images/property-faq-1.jpg) no-repeat 100% 0; }
#property-faq .header { height: 120px; }
#property-faq .header h3 { display: none; }
#property-faq-list { }
#property-faq-list .section { padding-bottom: 20px; margin-bottom: 20px; border-bottom: 1px solid #d9d9d9; } 
#property-faq-list .section:last-child { border-bottom: none; } 
#property-faq-list .section h4 { }
#property-faq-list .section p { color: #666; background: url(../images/property-faq-list-item.png) no-repeat 0 2px; padding-left: 30px; margin: 0; }

.top_bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 28px;
    padding: 6px 0 0 0;
    width: 100%;
    background-color: #accde3;
    z-index: 100;
    text-align: center;
}
.zillow_rounded {
    margin: 16px auto 0 auto;
    width: 150px;
}
.zillow_footer {
    margin: 16px auto 10px auto;
    text-align: center;
}
#property-crime-map {
    width: 556px;
    height: 450px;
    background: white;
    margin: 20px 0 0 20px;
}

/* start report popup styles */

#popup1 {
    position: relative;
    display: none;
}
#popup1_txt {
    width: 320px;
    height: 110px;
    margin: 58px 0 0 140px;
    font-family: Arial,sans-serif;
    font-size: 14px;
}
#popup1_txt a {
    color: #e55207;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 0 0 14px 0;
    display: block;
    font-weight: bold;
    border: none;
    outline: none;
}
.popup1 .ui-dialog-titlebar {
    display: none !important;
}
.popup1 {
    background: transparent url("../../images/popup1.png") no-repeat scroll left top;
}
#report_miss {
    background: transparent url("../../images/report_miss.png") no-repeat scroll left top;
    position: fixed !important;
    right: 12px;
    bottom: 12px;
    width: 263px;
    height: 59px;
    z-index: 101;
    cursor: pointer;
}
.popup1 .ui-button {
    width: 164px;
    height: 62px;
    padding: 0 !important;
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left top;
    border: none;
    color: white;
    margin: 0 0 0 156px !important;
    position: relative;
    bottom: 80px;
    float: left;
    
}
.popup1 .ui-button:hover {
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left -63px;
}
.popup1 .ui-button span {
    font-family: Arial, sans-serif;
    font-size: 26px !important;
    font-weight: bold;
    line-height: 28px;
    float: left;
    display: block;
    position: absolute;
    left: 26px;
    top: 13px;
}
.popup1 .ui-dialog-buttonset {
    width: 508px;
}


#popup2 {
    position: relative;
    display: none;
}
.popup2 .ui-dialog-titlebar {
    display: none !important;
}
.popup2 {
    background: transparent url("../../images/popup2.png") no-repeat scroll left top;
}
#popup2_txt {
    width: 100%;
    text-align: center;
    margin: 74px 0 0 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#popup_form_div {
    display: none;
    margin: 0;
    padding: 50px 0 0 0;
    background: transparent url("../../images/popup_form.png") no-repeat scroll left top;
}
#popup_form {
    position: relative;
    margin: 0 0 0 17px;
}
.popup_form .ui-dialog-titlebar {
    display: none !important;
}
.popup_form {
    background: transparent url("../../images/popup_form_flex.png") repeat-x scroll left top;
}
#popup_form input[type=text] {
    width: 214px;
    height: 26px;
    padding: 3px;
    margin: 0;
}
#popup_form label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 2px 0;
    width: 210px;
}
#popup_form textarea {
    width: 458px;
    height: 118px;
    padding: 3px;
}
#popup_form_name {
    float: left;
    margin: 5px 22px 8px 0;
}
#popup_form_email {
    float: left;
    margin: 5px 0 8px 0;
}
#popup_form_text {
    float: left;
    width: 464px;
    position: relative;
}
.popup_form .ui-button {
    width: 164px;
    height: 62px;
    padding: 0 !important;
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left top;
    border: none;
    color: white;
    margin: 8px auto 0 !important;
    position: relative;
    bottom: 0px;
    display: block;
}
.popup_form .ui-button:hover {
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left -63px;
}
.popup_form .ui-button span {
    font-family: Arial, sans-serif;
    font-size: 26px !important;
    font-weight: bold;
    line-height: 28px;
    float: left;
    display: block;
    position: absolute;
    left: 36px;
    top: 13px;
}
.popup_form_err {
    background-color: #C20000;
    border: 1px solid #FF7070;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin: 2px 0 2px 17px;
    padding: 3px;
    text-align: left;
    width: 458px;
}
.popup_form_bottom {
    width: 500px;
    height: 10px;
    position: relative;
    bottom: -10px;
    background: transparent url("../../images/popup_form_bottom.png") no-repeat scroll left top;
}
#popup_loading {
    width: 35px;
    height: 35px;
    background: transparent url("../../images/blueloading.gif") no-repeat scroll left top;
    margin: auto;
    position: absolute;
    top: 64px; left: 215px;
}
.popup_close {
    width: 28px;
    height: 30px;
    background: transparent url("../../images/popup_close.png") no-repeat scroll left top;
    position: absolute;
    right: -12px;
    top: -6px;
    cursor: pointer;
}

.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: url("/js/jquery-ui-1.10.3.custom/css/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
    opacity: 0.3;
}
.ui-front {
    z-index: 1500;
}
.ui-widget-overlay {
    z-index: 1000;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: visible;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url(js/jquery-ui-1.10.3.custom/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget-overlay {
	background: transparent url(../../images/overlay_bg.png) left top repeat;
	opacity: .9;
	filter: Alpha(Opacity=90);
}

/* end report popup styles */
