/* CM Grid */
[class*="grid"] { float: left; min-height: 1px; }
  
.grid-960 .grid-one-twelfth { width: 80px; }
.grid-960 .grid-two-twelfth,
.grid-960 .grid-one-sixth { width: 160px; }
.grid-960 .grid-three-twelfth,
.grid-960 .grid-one-fourth { width: 240px; } /* 1/4 */
.grid-960 .grid-four-twelfth,
.grid-960 .grid-two-sixth, 
.grid-960 .grid-one-third { width: 320px; } /* 1/3 */
.grid-960 .grid-six-twelfth, 
.grid-960 .grid-two-fourth, 
.grid-960 .grid-one-half { width: 480px; } /* 1/2 */
.grid-960 .grid-eight-twelfth,
.grid-960 .grid-four-sixth, 
.grid-960 .grid-two-third { width: 640px; }
.grid-960 .grid-nine-twelfth, 
.grid-960 .grid-three-fourth { width: 720px; }
.grid-960 .grid-ten-twelfth, 
.grid-960 .grid-five-sixth { width: 800px; }

/*** Non-standard */
.grid-960 .grid-one-fifth { width: 192px; }
.grid-960 .grid-four-fifth { width: 768px; }

/*** Additional */
.grid-960 .grid-five-twelfth { width: 400px; }
.grid-960 .grid-seven-twelfth { width: 560px; }

.grid-960,
.grid-row { float: none; }

.grid-row:before,
.grid-row:after { display: table; line-height: 0; content: ""; }
.grid-row:after { clear: both; }