<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Propertystudy.org</title>
    <link href="split/css/style.css" type="text/css" rel="stylesheet"/>
    <link href="css/colorbox.css" type="text/css" rel="stylesheet" />
    <link href="js/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" rel="stylesheet">
    {% include 'vwo.html.twig'%}
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    {% include "google_analytics.html.twig" %}
  </head>
  <body>
    <div id="logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="split/images/logo.png"></div>
    <div id="mid_sec">
      <div class="wrapper">
        <div class="white_box5" style="margin-top:100px;">
          <h1>About Us:</h1><br/>
          <p>We found that most sites may offer you an estimate range for the price of your home. While this information can be useful, in our opinion, it’s not nearly enough. That generic range estimate can’t offer answers to questions like “What is the market doing?”</p><br/>
	  <p>To make proper decisions you need real-time data analysis for a local market area. PropertyStudy.org is here to help you understand the real estate market and how individual properties stack up against the market. In other markets and buying decisions you have this kind of research and information why not during your real estate decisions as well, well now you do.</p><br/>
	  <p>We knew we would package up our real-time housing data for anyone who cares about such things. We have found our data to be extremely popular with real estate agents that need better property details, the home buyers and sellers and investors that need better insights. Of course lending and financial institutions also have powerful interest in understanding the current housing market. These groups also became an interest group for our products.</p><br/>
	  <p>PropertyStudy.org now reaches financial institutions, investors, real estate agent and home buyers and sellers every day.</p>
          <div class="clearfix"></div>
          <div id="database-section" class="db_search">
            <div class="database-section1">
              <div class="database-logo"><img src="images/quality-icon.png" alt="Quality" title="Quality"></div>
              <div class="database-text">
                <h3>Quality</h3>
                <p>Comprehensive information that’s accurate and up-to-date</p>
              </div>
            </div>
            <div class="database-section1">
              <div class="database-logo"><img src="images/speed-icon.png" alt="Speed" title="Speed" /></div>
              <div class="database-text">
                <h3>Speed</h3>
                <p>Records are consistently delivered within minutes</p>
              </div>
            </div>
            <div class="database-section2">
              <div class="database-logo"><img src="images/trust-icon.png" alt="Trust" title="Trust"></div>
              <div class="database-text">
                <h3>Trust</h3>
                <p>A reputable company that takes you seriously.</p>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div id="content_sec">
      <div class="wrapper">
        <div class="comparison-section">
          <div class="chart-section">
            <h3>Providing the Best Property Records to You</h3>
            <h4>PROPERTY STUDY <span>vs</span> COMPETITORS</h4>
          </div>
          <div class="chart-txt">
            <p>Home and Property Value<br />
              History of the Home<br />
              Details of the Property<br />
              Lot Size<br />
              Previous Sales Information<br />
              Construction Dates<br />
              Property Taxes<br />
              Foreclosures in the Area</p>
          </div>
          <div class="arrow-img"><img src="split/images/arrow-img.png" alt="" title="" /></div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div id="footer_sec">
      <div class="wrapper">
        <div class="footer-section">
          <div class="footer-menu-section">
            {% include 'footer_links.html.twig' %}
          </div>
          <div class="footer">
            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </body>
</html>
