{% extends "base.html.twig" %}
{% block head %}
  <link rel="stylesheet" href="/css/activation.css" />
{% endblock %}
{% block content %}
  <body>

    <!-- Google Code for PropertyRecordPro Conversion Page -->
    <script type="text/javascript">
     /* <![CDATA[ */
     var google_conversion_id = 989915039;
     var google_conversion_language = "en";
     var google_conversion_format = "3";
     var google_conversion_color = "ffffff";
     var google_conversion_label = "lxaICMnRtQQQn8-D2AM";
     var google_conversion_value = 0;
     /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>
      
    <div id="paneltop">
    </div>

    <div id="panelbottom">
      <h1>Your transaction has been approved and your account is now being activated.</h1>
      <div id="animation">
        <img src="/images/activation/animation.gif" alt="" />
      </div>
      <p>If you are not redirected in the next 5 seconds <a href="{{ next }}">click here</a></p>

    </div>

    <script type="text/javascript">
     var qs = window.location.search.substring(1);

     function Redirect() {
       window.location = '{{ next }}';
     }

     setTimeout("Redirect();", 5000);
    </script>


    {% include 'zendesk.html.twig' %}

    <img height="1" width="1" border="0" style="display: none;" src="http://www.adtrckers.com/tracking202/static/gpx.php?amount=" />
    <img src='https://trending.revcontent.com/ads/tracker.php?t=MzEzOTs2MTc1'/>

    <!-- MarketGid Sensor -->
    <script type="text/javascript">
     (function() {
       var d = document, w = window;
       w.MgSensorData = {cid:102906, lng:"us", nosafari:true};
       var n = d.getElementsByTagName("script")[0];
       var s = d.createElement("script");
       s.type = "text/javascript";
       s.async = true;
       var dt = !Date.now?new Date().valueOf():Date.now();
       s.src = "//a.mgid.com/mgsensor.js?d=" + dt;
       n.parentNode.insertBefore(s, n);
     })();
    </script>
    <!-- /MarketGid Sensor -->
  </body>
{% endblock %}
