<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>PropertyStudy.org</title>
    
    <link href="/css/style.css" type="text/css" rel="stylesheet" />
    <link href="/css/colorbox.css" type="text/css" rel="stylesheet" />

    {% include 'vwo.html.twig'%}
    
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
    {% block head %}
    {% endblock %}

    <script type="text/javascript">
     $(function(){
       window.onerror = function(msg, url, line) {
         $.post("/log-error", { msg: msg, url: url, line: line });
       };
     })
    </script>
    {% include "google_analytics.html.twig" %}
</head>
{% block content %}
{% endblock %}
</html>
