{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<script type="text/javascript" src="js/jquery-timer-master/jquery.timer.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
<link href="js/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" rel="stylesheet" />
<style type="text/css">
    .checkout_timer {
        position: fixed;
        right: 14px;
        bottom: 14px;
        width: 108px;
        height: 64px;
        border: 1px solid #a9a9a9;
        background-color: #e4e4e4;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -khtml-border-radius: 4px;
        border-radius: 4px;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#ffffff'); /* for IE */
        background: -webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#fff)); /* for webkit browsers */
        background: -moz-linear-gradient(bottom,  #e4e4e4,  #fff); /* for firefox 3.6+ */
    }
    .checkout_timer .text {
        font-size: 13px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        margin: 12px 0 0 4px;
    }
    .checkout_timer #timer_digits {
        color: #e93f33;
        font-size: 22px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        margin: 4px 0 0 26px;
    }
    .copyright-text {
        width: 840px !important;
    }
</style>
<script>
{% include 'checkout_popup.js' %}
</script>
{% endblock %}
{% block content %}
<body class="body4">
    <div id="main-container">
        <div style="margin:auto;padding:0;width:844px;">
            <div id="checkout-section-new">
                <div class="final-checkout-section">
                    <div class="header-section-checkout">
                        <div class="header-section-logo"><h3>PropertyStudy.org DISCOUNT</h3><p>Smarter Property Search!</p></div>
                    </div>
                    <div id="timer_info">Note: The timer at the bottom right shows how long you have before this page expires.</div>
                    <div style="font-size: 36px;padding: 18px 0 18px 18px;width: 818px;">Final Step! <span style="color: #006BFF;font-size: 36px;">Finish Your Order Below</span><img alt="" style="margin: 0 0 -12px 30px;" src="../images/arrow_black_checkout.jpg"></div>

                    <div class="step_left_sec_0606D">
                        <div class="report_include1_sec_0606C">
                            <div class="report_include1_0606C"><h3>Report Includes When Available:</h3>
                                <ul>
                                    <li>PropertyRecord</li>
                                    <li>Background of home</li>
                                    <li>Property Type</li>
                                    <li>Recent Sale Information</li>
                                    <li>Square Footage of Home</li>
                                </ul>
                                <ul>
                                    <li>Square Footage of Home</li>
                                    <li>Property Evaluations</li>
                                    <li>Financial Liability</li>
                                    <li>Date Originally Built</li>
                                    <li>Public Records</li>
                                </ul>

                            </div>
                            <div style="width:281px;" class="report_include1_total_sec_0606C">
                                <div style="width:281px;" class="total_sec1_0606C">
                                    <div style="width:201px;" class="report_include1_total_txt_0606C">
                                        Subtotal                </div>
                                    <div style="width:58px;" class="report_include1_price_txt_0606C">$0.25</div>
                                </div>
                                <div style="width:281px;" class="total_sec1_0606C">
                                    <div style="width:201px;" class="report_include1_total_txt_0606C">Delivery </div>
                                    <div style="width:58px;" class="report_include1_price_txt_0606C">$0.00</div>
                                </div>
                                <div style="width:281px;" class="total_sec2_0606C">
                                    <div style="width:201px;" class="report_include1_total_txt_0606C"><span>Total</span></div>
                                    <div style="width:58px;" class="report_include1_price_txt_0606C"><span>$0.25</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="order_matter1_0606C">
                            <p><span>Order Summary</span><br>
                                You will receive your report & ebook for $0.25
                            </p>
                            <p><span>Our customer service</span> phone is (888) 672-5146</p>
                            <p><span>Refund&nbsp;</span>If for whatever reason your unhappy with your report please contact customer support for a refund. Refunds are issued immediately when required.</p>
                        </div>
                        <div class="privacy_matter1_0606C"><span>Privacy Policy</span><br>
                            When using our site we protect your privacy at all times. For similar reasons, we may supplement the personal information you provide with publicly available information about you as well as information from other sources, as permitted by law.</div>
                    </div>

                    <div class="final-inner-section">
                        <div class="step_form_sec_0606D">
                            <div class="step_form_main_0606D">
                                <div class="step_report_txt_0606D">Your Report is Ready.<br>
                                    Please Order Now to<br>
                                    Ensure You Get Your Report.</div>
                                
                                <div class="step_form_inner_0606D">
                                    {% include 'order_form.html.twig' %}
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="report_payment_fields3_0606B12"><img style="float:left;" alt="" src="../images/footer_0606B.png"></div>
            </div>
            <div style="float: left;padding: 10px 0 20px;width: 840px;text-align: center;">
                <div style="padding: 15px 0;">
                    {% include 'footer_links.html.twig' %}
                </div>
            </div>
        </div>
    </div>
    <div id="dialog-message" title="Page has expired" style="visibility: hidden;">
        <p>
            Your report is about to expire, please fill out the information.
        </p>
    </div>
    <!--script type="text/javascript" src="js/jquery.validate.min.js"></script-->
    <script type="text/javascript">
        (function($) {
            var t = $('<div>');
            $('body').append(t.addClass('checkout_timer'));
            t.append($('<div class="text">').html('Page Expires in'));
            t.append($('<div id="timer_digits">'));

            var Countdown = new (function() {
                var $countdown, $form, // Form used to change the countdown time
                        incrementTime = 100,
                        currentTime = 30000,
                        updateTimer = function() {
                    $countdown.html(formatTime(currentTime));
                    if (currentTime == 0) {
                        Countdown.Timer.stop();
                        timerComplete();
                        return;
                    }
                    currentTime -= incrementTime / 10;
                    if (currentTime < 0)
                        currentTime = 0;
                },
                        timerComplete = function() {
                    //alert('Countdown timer complete!');
                    $("#dialog-message").dialog({
                        modal: true,
                        buttons: {
                            Reset: function() {
                                $(this).dialog("close");
                                location.reload();
                            }
                        },
                        width: 500
                    });
                    $("#dialog-message").css('visibility', 'visible');
                },
                        init = function() {
                    $countdown = $('#timer_digits');
                    Countdown.Timer = $.timer(updateTimer, incrementTime, true);

                };
                $(init);
            });
            function pad(number, length) {
                var str = '' + number;
                while (str.length < length) {
                    str = '0' + str;
                }
                return str;
            }
            function formatTime(time) {
                var min = parseInt(time / 6000),
                        sec = parseInt(time / 100) - (min * 60);
                return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2);
            }
        })(jQuery);

        $(document).ready(function() {
            var d = new Date(),
                    n = d.getMonth(),
                    y = d.getFullYear().toString();

            $('#OrderForm_ccExpMonth option:eq(' + n + ')').prop('selected', true);
            $('#OrderForm_ccExpYear[value="' + y.slice(-2) + '"]').prop('selected', true);

            //$("#upsellForm").validate();

            $(".numbers").keydown(function(event) {
                // Allow: backspace, delete, tab, escape, and enter
                if (event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 ||
                        // Allow: Ctrl+A
                                (event.keyCode == 65 && event.ctrlKey === true) ||
                                // Allow: home, end, left, right
                                        (event.keyCode >= 35 && event.keyCode <= 39)) {
                            // let it happen, don't do anything
                            return;
                        }
                        else {
                            // Ensure that it is a number and stop the keypress
                            if (event.shiftKey || (event.keyCode < 48 || event.keyCode > 57) && (event.keyCode < 96 || event.keyCode > 105)) {
                                event.preventDefault();
                            }
                        }
                    });

            $('.yes-btn input').click(function(ev) {
                $(window).unbind('beforeunload');
                
                ev.preventDefault();
                //if ($("#upsellForm").valid()) {
                $(this).attr('disabled', true).attr('src', 'images/yes_continue_processing_disabled.jpg');
                setTimeout(function() {
                    $('#upsellForm').submit();
                }, 500);
                //}
                return false;
            });
        });
    </script>
    {% include 'seevolution.html.twig' %}
    {% include 'zendesk.html.twig' %}
</body>

{% endblock %}
