{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<style>
    .show-report-text-promo {
        color: #000000;
        float: left;
        font-size: 18px;
        font-weight: normal;
        line-height: 20px;
        margin: 20px 0 0 140px;
        padding: 18px 0;
        text-align: left;
        width: 100%;
        color: #c72e02;
    }
    .show-report-text-promo h3 {
        font-size: 30px;
        line-height: 30px;
    }
    .cost-report-txt-promo {
        border-top: 1px solid #D1E1EA;
        color: black;
        float: left;
        font-family: arial;
        font-size: 14px;
        font-weight: normal;
        line-height: 18px;
        margin: 26px 20px 0 0;
        padding: 24px 0 0;
        position: relative;
        text-align: left;
    }
    .cost-offering {
        font-size: 18px;
        color: black;
        font-weight: bold;
        margin: 26px 0 0 0;
    }
    .show-btn-promo {
        margin-bottom: 100px !important;
    }
</style>
{% endblock %}
{% block content %}
<body class="body1">
    <div id="main-container">
        <div id="main">
            <div id="main-section">
                <div class="show-section">
                    <div class="show-h">
                        <div class="down-arrow"></div>
                        <h3>We have Downloaded your Report</h3>
                    </div>
                    <div class="show-content-section">
                        {% if options.type == 'promo'  %}
                        <div class="cost-price">PROPERTY REPORT</div>
                        <div class="special-promo"></div>
                        <div class="special-promo-price"></div>
                        <div class="show-report-text-promo">
                            <p>SPECIAL PRICING TODAY FOR</p>
                            <h3>PROPERTY REPORTS IN <span class="promo-city">CITY</span></h3>
                            <div class="cost-offering">We are offering property reports in <span class="promo-city">city</span> for only <span style="color:#609d0b;">$0.95</span></div>
                            <div class="cost-report-txt-promo">
                                <p>Our reports offer valuable and sensitive property information that other sites do NOT provide. Other companies offer unreliable records, we provide real results and we want to prove it to you today.</p>
                            </div>
                        </div>
                        {% elseif options.type == 'costdiscount' %}
                        <div class="cost-price discount">PROPERTY REPORT</div>
                        <div class="cost-discount-today"></div>
                        <div class="show-report-text-promo">
                            <p>SPECIAL PRICING TODAY FOR</p>
                            <h3>PROPERTY REPORTS IN <span class="promo-state">STATE</span></h3>
                            <div class="cost-offering">We are offering property reports in <span class="promo-state">state</span> for only <span style="color:#609d0b;text-decoration:underline;">$0.95</span></div>
                            <div class="cost-report-txt-promo">
                                <p>Our reports offer valuable and sensitive property information that other sites do NOT provide. Other companies offer unreliable records, we provide real results and we want to prove it to you today.</p>
                            </div>
                        </div>
                        {% else %}
                        <div class="show-report-text">
                            <h3>Your Property Report is waiting for you</h3>
                            <p>Please Continue Now to Ensure You Get Your Report</p>
                            <div class="cost-report-txt">
                                <h3>Why Does Each Property Search Report Cost $0.95?</h3>
                                <p>Due to the nature of this valuable and sensitive information, there is a $0.95 processing fee for one report. Other companies offer you free reports, because they are only using unreliable records. We charge you because we provide real results.</p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="show-btn-1 show-btn-promo">
                            <input type="submit" onclick="location.href = '{{ path(options.nextUrl) }}';" value="" title="Show My Report" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'seevolution.html.twig' %}
    <script type="text/javascript" src="js/ziptastic-jquery-plugin/jquery.ziptastic.js"></script>
    <script>
        {% if options.type == 'promo' %}
        $.ziptastic({{ zip }}, function(country, state, city, zip) {
            $('.promo-city').html(city);
        })
        {% elseif options.type == 'costdiscount' %}
        $.ziptastic({{ zip }}, function(country, state, city, zip) {
            $('.promo-state').html(state);
        })
        {% endif %}
    </script>
    {% include 'zendesk.html.twig' %}
</body>
{% endblock %}