<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PropertyStudy.org</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="body3">
    <div class="content-matter-g">
        <h1>Customer Service</h1>
        <p>Phone Support Monday - Friday 8AM - 6PM: (888) 833-5920</p>
        <p>Email: contact@propertystudy.org</p>
    </div>

    {% include 'boldchat.html.twig' %}
    {% include 'seevolution.html.twig' %}
</body>
</html>