<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title{{ code }}>Property Reports Error</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link href="css/error.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <p>{{ exception.message }}</p>
</body>
</html>