<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>PropertyStudy.org</title>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="body3">
    <div class="content-matter-g">
        <h1>FAQ</h1>
        <p><strong>What is PropertyStudy.org?</strong></p>
        <p>PropertyStudy.org provides you with the most accurate, up-to-date, and useful information pertaining to a home or property. Whether you are researching addresses, home values, property records, neighbourhood reports, mortgage, or refinancing rates we are able to provide you with millions of records from across the nation.</p>
        <p><strong>Where do you get your Home and Property Information</strong></p>
        <p>Our information is compiled from public records, so we might have inaccurate numbers or outdated information. We regularly update the information as we receive it from data providers, but sometimes the data we get is just plain wrong.</p>
        <p><strong>How do I close my account or inquire about billing?</strong></p>
        <p>Our number one goal is to ensure customer satisfaction. If at anytime you require customer service you can email us at contact@propertystudy.org or call (888) 833-5920.</p>
        <p><strong>How do I contact Property Study?</strong></p>
        <p>You may email our customer service experts at contact@propertystudy.org. We also have phone support available Monday-Friday, 8AM-5PM at (888) 833-5920.</p>
        <p><strong>Privacy or Terms and Conditions.</strong></p>
        <p>We do not sell your personal information. You can read our full privacy policy or terms and conditions on the home page</p>
    </div>
</body>