<div class="footer-menu">
    <ul>
        <li><a href="{{ url('homepage') }}" title="Home" class="current scrollTop">Home</a></li>
        <li><a href="{{ path('faq') }}" class="cboxElement" title="Frequently Asked Questions">Frequently Asked Questions</a></li>
        <li><a href="{{ path('customer-service') }}" class="cboxElement" title="Customer Service">Customer Service</a></li>
    </ul>
</div>
<div class="copyright-text">&#0169; 2013 Property<a class="hidden_skip" href="{{ path(options.nextUrl) }}" style="text-decoration:none;color:black;">Study.org</a>, Secure Guard Inc <span>-</span> <a href="{{ path('about') }}" title="About">About</a> <span>-</span> <a href="http://propertystudy.org/blog" title="Blog">Blog</a> <span>-</span> <a href="{{ path('privacy') }}" title="Privacy" class="privacy cboxElement">Privacy</a> <span>-</span> <a href="{{ path('terms') }}" title="Terms" class="terms cboxElement">Terms</a> <span>-</span> <a href="{{ path('legal') }}" title="Legal" class="legal cboxElement">Legal</a></div>
<script type="text/javascript">
    $(document).ready(function() {
        $(".cboxElement").colorbox({iframe: true, width: "70%", height: "70%"});
    });
</script>
<style>
    .body1 .copyright-text {
        color: white !important;
    }
    .body1 .hidden_skip {
        color: white !important;
    }
</style>
