<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Property Report</title>
    <link href="report_steps/css/report_steps.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js" type="text/javascript"></script>
  </head>
  <body>
    <div id="main-container">
      <div id="top-section">
        <div id="logo"></div>
      </div>
      <div id="main">
        <div id="main-section">
          <div id="main-inner-section">
	    <p>&nbsp;</p>
	    <script type="text/javascript" language="JavaScript">
	     <!--
	     bwapsprodid = "400";
	     bwapsstate = "{{ bwapsstate }}"; 
	     bwapszip = "{{ bwapszip }}";
	     bwapscid = "4171";
	     bwapcurrentlyinsured = "{{ bwapcurrentlyinsured }}";
	     bwapsagedriver = "{{ bwapsagedriver }}";
	     bwapsincidenthistory = "{{ bwapsincidenthistory }}";
	     bwapshomeowner = "{{ bwapshomeowner }}";
	     bwapsmultidriverhouseholds = "{{ bwapsmultidriverhouseholds }}";
	     -->
	    </script>
	    <script type="text/javascript" src="https://cdn.bwserver.net/11600/11656/scripts/bw-load.js"></script>
          </div>
        </div>
        <div class="footer-section">
          <div class="footer">
            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. HouseReports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>

    {% include 'boldchat.html.twig' %}
  </body>
</html>
