<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Property Report</title>
    <link href="report_steps/css/report_steps.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="//images.vantage-media.net/p/ads/vm_load_mo.js"></script>
  </head>
  <body>
    <div id="main-container">
      <div id="top-section">
        <div id="logo"></div>
      </div>
      <div id="main">
        <div id="main-section">
          <div id="main-inner-section">
	    <p>&nbsp;</p>
	    <script>
	     function geoip_postal_code() {
	       return "{{ zipcode }}";
	     }
	     function geoip_country_code() {
	       return "US";
	     }
	     vm_load({
	       "displayId" : 11018,
	       "publisherId" :33753,
	       "campaign" :9218,
	       "location" : "",
	       "MortgageType" : "{{ loan_type }}",
	       "CreditScore" : "{{ credit_score }}",
	       "PropertyType" : "{{ property_type }}",
	       "PropertyUse" : "",
	       "EngagementOption" : "",
	       "Adsource" : "",
	       "PublisherTrackingId" : "",
	       "md" : 3,
	       "maxResults" : "8"
	     });
	    </script>
          </div>
        </div>
        <div class="footer-section">
          <div class="footer">
            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. HouseReports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
  </body>
</html>
