<form class="form-section" id="upsellForm" action="" method="post" enctype="{{ form_enctype(order_form) }}">
    {% if error is defined %}
        <div class="view-error-message">
            <p>{{ error }}</p>
            <!--p>Check Credit Card Number</p>
            <p>Check Expiration Date</p>
            <p>Check CVV Number</p-->
        </div>
    {% endif %}
    {% include 'form_errors.html.twig' with{'form': order_form} %}
    <div class="final-txt"><h3 style="padding-bottom:2px;">Credit Card Payment</h3></div>
    
    <div class="form_field_sec_0606D">
        <div class="form_field_sec_0606D">
            <div class="form_txt_0606D">First Name:</div>
            <div class="form_field_0606D">
                {{ form_widget(order_form.firstName) }}
            </div>
        </div>
        <div class="form_field_sec_0606D">
            <div class="form_txt_0606D">Last Name:</div>
            <div class="form_field_0606D">
                {{ form_widget(order_form.lastName) }}
            </div>
        </div>
        <div class="form_field_sec_0606D">
            <div class="form_txt_0606D">Zip Code:</div>
            <div class="form_field_0606D">
                {{ form_widget(order_form.postcode) }}
            </div>
        </div>
        <div class="form_field_sec_0606D">
            <div class="form_txt_0606D">&nbsp;</div>
            <div class="payment-card"><img src="images/visa-logo.png" alt="VISA" title="VISA" /><img src="images/mastercard-logo.png" alt="MasterCard" title="MasterCard" /></div>
        </div>
        <div class="form_field_sec_0606D">
            <div class="form_txt_0606D">Card Number:</div>
            <div class="form_field_0606D">
                {{ form_widget(order_form.ccNumber) }}
                <div class="please-txt">Please do not use spaces or hyphens</div>
            </div>
            
        </div>
        <div class="form_field_sec_0606D">
            <div class="form_txt_0606D">Card Type:</div>
            <div class="form_field_0606D">
                {{ form_widget(order_form.ccType) }}
            </div>
        </div>

    </div>
    <div class="form_field_sec_0606D">

    </div>
    <div class="form_field_sec_0606D">
        <div class="form_txt_0606D">Expiration Date:</div>
        <div class="form_field_0606D">
            <div class="form_field1_0606D">
                {{ form_widget(order_form.ccExpMonth) }}
            </div>
            <div class="form_field1_0606D">
                {{ form_widget(order_form.ccExpYear) }}
            </div>
        </div>
    </div>
    <div class="form_field_sec_0606D">
        <div class="form_txt_0606D">CVV Number:</div>
        <div class="form_field_0606D">
            <div class="form_field_0606D">
                {{ form_widget(order_form.ccCVV) }}
                <div class="form_txt1_0606D"><a class="form_txt1_0606D" href="#" title="Whats this?">Whats this?</a></div>
            </div>
            
        </div>
    </div>
    <div class="form_field_sec_0606D">
        <div class="form_txt_0606D">Email:</div>
        <div class="form_field_0606D">
            {{ form_widget(order_form.emailAddress) }}
        </div>
    </div>
    <div class="you-txt">
      {% if app.session.get('funnel') == 'root' %}
	You will receive access to millions of public record search records. By typing your e-mail address and clicking “Yes” below, that will constitute your electronic signature, and that you have read, understand and accept this site’s <a href="{{ path('terms') }}" class="cboxElement">Terms</a>. You may search neighborhood, address history, ownership and much more. This is your written authorization to charge your account according to the order summary. Please continue below.
      {% else %}
	You will receive access to millions of public record search records. By typing your e-mail address and clicking “Yes” below, that will constitute your electronic signature. You may search neighborhood, address history, ownership and much more. This is your written authorization to charge your account according to the order summary. Please continue below.
      {% endif %}
    </div>
    <div class="yes-btn">
        <input class="unbind_unload" type="image" src="../images/yes_continue_checkout.jpg" title="Yes, Continue to Report" alt="Yes, Continue to Report" />
    </div>
    
    {{ form_rest(order_form) }}
</form>

