<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Property Records Professionals -   </title>
    {% include 'vwo.html.twig'%}
    <link href="css/preupsell2.css" rel="stylesheet" type="text/css"/>
    <link href="css/colorbox.css" title="Default" media="screen" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="js/jquery.colorbox-min.js"></script>
    <script>
     {% include 'checkout_popup.js' %}
    </script>
    {% include "google_analytics.html.twig" %}
  </head>
  <body>
    <div class="container">
      <div id="part_9">
        <div class="banner"><img src="/images/grey-banner2.jpg" /></div>
        <h1 id="part_1">Thank You For Your Order, Premium Access Below</h1>
      </div>
      <div class="frame">
        <div id="part_2">
          <h2>Make your searching simple</h2>
          <p>
            You Will Receive The Following<br />
            Property Record Reports - Get your Property Study. Ordering premium access below is optional.
            Your report is available instantly without ordering premium access. Only proceed below if you want premium access.
          </p>
          <p>
            Search unlimited reports every month, you can search property maps, home values, foreclosures, and property reports.
          </p>
          <p>
            Customer Service - if at any time you have a question regarding account, are unsatisfied, or a billing inquiry you can contact us by phone at: 1-(888) 833-5920 or email: contact@propertystudy.org
          </p>
          <p>
            Billing Information: Our offer discount will be available to you today. You will be billed $19.95 per month until you cancel your account. The billing will start today and monthly payments are subject to change. This offer automatically renews. Only proceed if you wish to continue with the special discount.
          </p>
        </div>
        <div class="clearfix"></div>

        <form id="upsell_form" method="post" action="" name="yesfrm" enctype="{{ form_enctype(upsell_form) }}" >

          <div id="part_4">
            <h2>Create Login To Get Access</h2>
            {{ form_errors(upsell_form) }}
            {% if error is defined %}
              <div class="view-error-message">
                <p>{{ error }}</p>
              </div>
            {% endif %}
            <p>
              <label for="Upsell2Form_password_first">Password (Case sensitive 6-36 characters)</label>
              {{ form_widget(upsell_form.password.first) }}
            </p>
            <p>
              <label for="Upsell2Form_password_second">Confirm Password</label>
              {{ form_widget(upsell_form.password.second) }}
              {{ form_errors(upsell_form.password) }}
            </p>
            <p>
              <label for="Upsell2Form_emailAddress">Email Address</label>
              {{ form_widget(upsell_form.emailAddress) }}
              {{ form_errors(upsell_form.emailAddress) }}
            </p>
          </div>
          <div id="part_5">
            <p>
              PropertyStudy.org will give you access to millions of property records, home values, neighborhood reports and sales information. By typing in your password and clicking "I Agree" below, that will constitute your electronic signature. You may search estimated values, type of property, bedrooms, bathrooms, lot size, size, year built and foreclosure status. This is your written authorization to charge your account according to the order summary. To receive this optional premium access to the millions of records in our database continue below.
            </p>
            <p>
              Order Summary: You will receive access to millions of property records across the nation. This offer is optional, only sign up if you wish to proceed with premium access. You will be billed $19.95 today and every month until you wish to cancel your account. You will receive unlimited access to our databases containing millions of records around the United States.
            </p>
          </div>
          <div>
            <div id="part_6">
              <div class="agree">
                {{ form_widget(upsell_form.terms) }}
                <label for="Upsell2Form_terms">I agree to the <a href="{{path('privacy')}}" class="terms cboxElement">Privacy Policy</a>, <a href="{{path('terms')}}" class="terms cboxElement">Terms and conditions</a> and $19.95/mo charge.</label>
                {{ form_errors(upsell_form.terms) }}
              </div>
            </div>
            <div class="actions">
              <div id="part_7">
                <input  class="upsell_btn" type="image" src="images/agree.png" />
                <br /><br /><br />
                By clicking the "I Agree" button you certify that you are at least 18 years old, a legal resident of the United States and agree to the offer privacy policy &amp; terms.
              </div>
              <div id="part_8">
                <a class="upsell_btn" href="{{ path('ebookspecialintro') }}"><img src="images/decline.png" /></a>
              </div>
            </div>
            {{ form_rest(upsell_form)}}
          </div>
        </form>
      </div>
    </div>
    <script type="text/javascript">
     $(document).ready(function() {
       $(".cboxElement").colorbox({iframe: true, width: "80%", height: "80%"});
     });

     function showcontentofpage(i) {
       document.getElementById("part_" + i).style.visibility = "visible";
       document.getElementById("part_" + i).style.display = "block";
     }

     $(window).load(function() {
       setTimeout("showcontentofpage(4)", 100);

       setTimeout("showcontentofpage(6)", 2000);
       setTimeout("showcontentofpage(7)", 2000);

       setTimeout("showcontentofpage(5)", 3500);
       setTimeout("showcontentofpage(8)", 3500);

       setTimeout("showcontentofpage(1)", 4500);
       setTimeout("showcontentofpage(2)", 4500);
       setTimeout("showcontentofpage(9)", 4500);
     });

     $('.upsell_btn').click(function(ev) {
       $(window).unbind('beforeunload');
     });

    </script>
    {#% include 'seevolution.html.twig' %#}
    {% include 'zendesk.html.twig' %}
  </body>
</html>
