<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title>PropertyStudy.org - Your Best Property History Site</title>
        <link href="css/preupsell.css" rel="stylesheet" type="text/css"/>
        <link href="css/colorbox.css" title="Default" media="screen" rel="stylesheet" type="text/css"/>
        
        {% include 'vwo.html.twig'%}
        
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script src="js/jquery.colorbox-min.js"></script>
        <script>
            {% include 'checkout_popup.js' %}
        </script>
	{% include "google_analytics.html.twig" %}
    </head>
    <body>
        <div class="main_upsell">
            <div class="header_section">
                <div class="header_txt">Thank You <span>your order has been completed</span></div>
                <div class="logo_1708"><img src="images/logo5_1708.jpg" align="left" />PropertyStudy<span></span></div>
            </div>
            <div class="middle_section">
                <div class="history_database_txt">
                    <h5>Make your Searching Simple</h5>
                    <h3>Get Access to Billions of Property Records for Only<br />
                        $19.95 /monthly for Unlimited Access:</h3>
                    <h6>Receive Unlimted Access to Property History Records including:</h6>
                    <ul class="new_250512">
                        <li>Property Records Reports - Find the History of Property or Home Nationwide</li>
                        <li>Home Value Reports - Find the Value of Any Home</li>
                        <li>Flood Damage or Incident Reports - Do you know the History of your Home?</li>
                        <li>Property Ownership – Get the property’s prior owner’s name.</li>
                    </ul>
                </div>
                <div class="middle_section_inner">
                    <div class="middle_left_section_250512">
                        <div class="type_txt_250512" >Special Discount</div>
                        <form method="post" action="" name="yesfrm" enctype="{{ form_enctype(upsell_form) }}"/>
                            {% if error is defined %}
                                <div class="view-error-message">
                                    <p>{{ error }}</p>
                                </div>
                            {% endif %}
                            <div class="address_section_250512">
                                <div class="service_sec1_25012">
                                    <div class="service_sec1_l_25012">Offer:</div>
                                    <div class="service_sec1_r_25012">We will enroll you in a monthly subscription for just $19.95 per month until you would like to close your account. This subscription automatically renews and gives you access to unlimited report access.</div>
                                </div>
                                <div class="service_sec1_25012">
                                    <div class="service_sec1_l_25012">Customer Service:</div>
                                    <div class="service_sec1_r_25012">If you require any customer service, we are always available at (888) 833-5920 or contact@propertystudy.org. For any billing or account inquires feel free to contact us.</div>
                                </div>
                                <div class="type_emailtxt_250512">Ordering today you are agreeing to the Special Discount offered. You will be enrolled in the monthly subscription that accepts the monthly fees outlined above. We agree to deliver and provide all sevices pursuant in the terms.
                                    <br /><br/>
                                    I accept the <a href="{{ path('terms') }}" class="cboxElement">terms and conditions</a> and <a href="{{ path('privacy') }}" class="cboxElement">privacy policy</a>. By entering my email address and clicking "yes" it's my electronic signature and confirms my authorization for you to charge my account according the the order summary. Please submit my secure order below.</div>
                                <div class="email_sec_250512">
                                    <div class="email_txt_250512">E-mail Address:</div>
                                    <div class="email_field_sec_0204">
                                        {{ form_widget(upsell_form.emailAddress) }}
                                        {{ form_errors(upsell_form.emailAddress) }}
                                    </div>
                                </div>
                                <div class="agree_120213">
                                    {{ form_widget(upsell_form.terms) }}
                                   <p>I agree to be charged $19.95 every month until I cancel my account.</p>
                                    {{ form_errors(upsell_form.terms) }}
                              </div>
                                <div class="clicking_yes_no_130912" id="upsell_yes_no_div"><input class="upsell_btn" type="image" name="sbtn" src="images/yes_btn.jpg">
                                <br><br>
                                <a class="upsell_btn" href="{{ path('report') }}"><img src="images/no_btn_0204.jpg" alt=""></a>
                                
                                <br><br>
                                </div>
                            </div>
                             {{ form_rest(upsell_form) }}
                        </form>
                        <div class="blue_bottombg_250512"><img src="images/blue_botbg_250512.jpg" alt="" /></div>
                    </div>
                    <div class="middle_right_section_250512">
                        <div class="details_matter_250512" style="padding-bottom:10px;">
                            <h3>Property Records Reports Details:</h3>
                            <p>Unlimited Access to our Property Records Database</p>
                            <p>With Access to our Database you will receive unlimited access to the following categories:</p>
                            <p><strong>Property Records Reports</strong> -  Find the History of Property or Home Nationwide.<br />
                                <strong>Home Value Reports</strong> - Find the Value of Any Home.<br />
                                <strong>Find the Value of Any Home</strong> - Do you know the History of your Home?<br />
                                <strong>Property Ownership</strong> - Get the property’s prior owner’s name.</p>
                          
                            <div class="service_sec_25012"><div class="service_sec_l_25012">Disclaimer</div>
                                <div class="service_sec_r_25012">In addition to our refund policy we also offer a search credit for any unsuccessful search.</div>
                            </div>

                        </div>
                        <div class="privacy_terms_txt_250512"><a href="{{path('privacy')}}" class="terms cboxElement" title="Privacy Policy">Privacy</a> | <a href="{{path('terms')}}" class="terms cboxElement" title="Terms and Conditions">Terms </a></div>
                    </div>
                </div>
            </div>
            <div class="copyright_txt">2013 PropertyStudy.org</div>
            </div>
        <script type="text/javascript">
            $(document).ready(function(){ $(".cboxElement").colorbox({iframe:true, width:"80%", height:"80%"}); });
            
            $('.upsell_btn').click(function(ev){
                $(window).unbind('beforeunload');
            });
            
        </script>
        {% include 'seevolution.html.twig' %}
        {% include 'zendesk.html.twig' %}
    </body>
</html>
