<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Property Report</title>
    {% include 'vwo.html.twig'%}
    <link href="css/report/style.css" rel="stylesheet" type="text/css" />
    <link href="css/report/colorbox.css" title="Default" media="screen" rel="stylesheet" type="text/css"/>
    <link type="text/css" rel="stylesheet" href="js/fotorama-3.0.8/fotorama.css"/>
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/fotorama-3.0.8/fotorama.js" type="text/javascript"></script>
    <script src="js/jquery.colorbox-min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
    <script type="text/javascript" src="js/gmap3v5.1.1/gmap3.js"></script>
    <script type="text/javascript" src="js/report-script.js"></script>
    {% if app.security.isGranted('ROLE_USER') %}
        <script type="text/javascript" src="js/InFieldLabels/src/jquery.infieldlabel.min.js"></script>
    {% endif %}
    {% include "google_analytics.html.twig" %}
  </head>
  <body>
    <div id="main-container">
      <div id="main">
        {% if app.security.isGranted('ROLE_USER') %}
            {% include "topbar.html.twig" %}
        {% endif %}
        <div id="main-section" {% if app.security.isGranted('ROLE_USER') %} style="margin-top:60px;" {% endif %}>
          <div id="main-inner-section" style="margin-top:24px;padding-top:10px;border-radius:10px 10px 10px 10px;border-top:1px solid #c3c3c3;">
            <h3>No exact match found for input address.</h3>
          </div>
          <div id="ebook_section">
            <h3>Home Security Ebook</h3>
            <a href="{{ path('security-homebook') }}">Click to download the ebook.</a>
          </div>
          <div id="faq-section">
            <h4>Frequently Asked Questions:</h4>
            <div id="accordion">
              <h3 class="accordion">Where does PropertyStudy get its history information?</h3>
              <div>Information in a PropertyStudy report comes from hundreds of US data sources. This includes both government sources, as well as private companies such as: Department of Commerce, state& localcrime rates,state property tax rates, consumer protection agencies, insurance companies and other state agencies.</div>

              <h3 class="accordion">What should I do if the PropertyStudy report has information that is different than what I was told by the seller of the home?</h3>
              <div>The answer to this depends entirely on your personal circumstances. If you feel that you have been given misleading information, or if you feel that a realtor has committed (or tried to commit) fraud against you, and contacting the seller for clarification has not been successful, you could contact the government agency responsible for issuing his/her dealer license.</div>

              <h3 class="accordion">How do I contact PropertyStudy customer service?</h3>
              <div>PropertyStudy offers you customer service 24 hours per day, 7 days per week. You can live chat with us. Visit PropertyStudy.org or call (888) 833-5920.</div>

              <h3 class="accordion">What is a Property Records Specialist Agent?</h3>
              <div>Our Property Records Specialist Agents all have property records research and customer service experience. Typically an agent requires 1 or more years doing property research before they can be designated a specialist. All agents have customer service experience or customer service training.</div>

              <h3 class="accordion">Why was I assigned Property Records Specialist Agent?</h3>
              <div>Our report process is automated just like our competitors however unlike our competitors we go a step further with our results and service. After years of examination we found having an experienced research professional working with our automated system provided our customers the customized, detailed results that they demanded.</div>

              <h3 class="accordion">The Property Report Is Clean, should I still get an inspection?</h3>
              <div>Although PropertyStudy reports are the best in the industry you will still want to have a home inspected before you buy it. Home inspections are important because they can expose structural problems (exterior, interior, drainage and mechanical) and if the property was properly maintained.</div>
            </div>
          </div>
          <div class="footer-section">
            <div class="footer">
              <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. HouseReports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
            </div>
            <div class="copyright-text">See more details for {{ app.session.get('searchString') }}<br>
              &#0169; Zillow, Inc., 2006-2013. Use is subject to <a href="http://www.zillow.com/corp/Terms.htm" target="_blank" title="Terms of Use" class="terms cboxElement">Terms of Use</a> | <a href="http://www.zillow.com/wikipages/What-is-a-Zestimate" target="_blank" title="What's a Zestimate?">What's a Zestimate?</a></div>
            <div class="zillow-logo"><img src="images/zillow-logo.gif" alt="" title="" /></div>

          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
     report_bottom_script();

     {% if app.property.address.latitude is defined and app.property.address.longitude is defined %}
     google_maps({{ app.property.address.latitude }}, {{ app.property.address.longitude }});
     {% endif %}

    </script>

    {% include 'boldchat.html.twig' %}
    {% include 'seevolution.html.twig' %}

    <div id="popup1">
      <div id="popup1_txt">
        <div>Thank you for purchasing from PropertyStudy.org, our charge will appear as "PropertyStudy.org8888335920" on your credit card statement.<br/><br/></div>
      </div>
      <div class="popup_close"></div>
    </div>
    <div id="popup2">
      <div id="popup2_txt">If for any reason your report is missing anything, please click the Help<br/>image at the bottom right of your page.<br/><br/>We will ensure you get all the information you require.</div>
      <div class="popup_close"></div>
    </div>
    <div id="popup_form_div">
      {% include 'report_missing_info_form.html.twig' %}
      <div class="popup_close"></div>
    </div>
    <div id="report_miss"></div>
    <div class="clear"></div>
    {#% include 'zendesk.html.twig' %#}
  </body>
</html>
