<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Property Report</title>
    <link href="report_steps/css/report_steps.css" rel="stylesheet" type="text/css" />
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script type="text/javascript" src="report_steps/js/report-steps.js"></script>
    <script src="report_steps/js/amcharts/amcharts.js" type="text/javascript"></script>
    <script src="report_steps/js/amcharts/serial.js" type="text/javascript"></script>
    <script src="report_steps/js/amcharts/pie.js" type="text/javascript"></script>
    <script type="text/javascript" src="//www.google.com/jsapi"></script> 
    <style type='text/css'>#ws-walkscore-tile{position:relative;text-align:left}#ws-walkscore-tile *{float:none;}#ws-footer a,#ws-footer a:link{font:11px/14px Verdana,Arial,Helvetica,sans-serif;margin-right:6px;white-space:nowrap;padding:0;color:#000;font-weight:bold;text-decoration:none}#ws-footer a:hover{color:#777;text-decoration:none}#ws-footer a:active{color:#b14900}</style>
    {% include "google_analytics.html.twig" %}
  </head>
  <body>
    <div id="main-container">
      <div id="top-section">
        <div id="logo"></div>
      </div>
      <div id="main">
	{# if app.security.isGranted('ROLE_USER') %}
            {% include "topbar.html.twig" %}
        {% endif #}
        <div id="main-section">
          <div id="main-inner-section">
            <div class="record-head">
              <h3>Property Report Record For:</h3>
              <h4>{{ searchString }}</h4>
            </div>
            <div id="steps-infop">
              <h2 id="steps-title">7 Steps To Get The Most Out Of Your Report</h2>
              <div id="steps-row1">
                <div class="step-info">
                  <div class="step-info-big">Step 1: <span class="step-info-hl">Get<br/>Property Value</span></div>Understand the value<br/>of the property.
                </div>
                <div class="step-info">
                  <div class="step-info-big">Step 2: <span class="step-info-hl">See<br/>Comparables</span></div>Accurately compare<br/>the property to sur-<br/>rounding ones.
                </div>
                <div class="step-info">
                  <div class="step-info-big">Step 3: <span class="step-info-hl">Market Conditions<br/></span></div>Understand how the<br/>local market is around<br/>the property.
                </div>
		<div class="step-info">
                  <div class="step-info-big">Step 4: <span class="step-info-hl">Review Map<br/></span></div>Check the property<br/>from above and what<br/>surrounds it.
                </div>
                <div class="step-info">
                  <div class="step-info-big">Step 5: <span class="step-info-hl">Check<br/>Local Crime</span></div>See what sort of crime<br/>is around the property.
                </div> 
              </div>
              <div id="steps-row2"> 
                <div class="step-info">
                  <div class="step-info-big">Step 6: <span class="step-info-hl">View<br/>Community Breakdown</span></div>See the quality of the<br/>neighborhood & what<br/>it has to offer.
                </div>
                <div class="step-info">
                  <div class="step-info-big">Step 7: <span class="step-info-hl">Get Your<br/>Property Security<br/>Ebook</span></div>Learn how to protect<br/>your property.
                </div>
		<div class="step-info">
                  <div class="step-info-big">Step 8: <span class="step-info-hl">Explore<br/>Mortgages & Financing</span></div>Save thousands on your mortgage.
                </div>
                <div class="step-info">
                  <div class="step-info-big">Step 9: <span class="step-info-hl">Find Cheaper Insurance</span></div>Save hundreds on better insurance.
                </div>
              </div>
            </div>

            <div class="reportsection" id="propertyvalue">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 1</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Get Property Value</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Value Range</span>
		    <span class="sectionpartright">- The max and min value properties in this area could be bought and sold for.</span>
                  </div>
                  <div class="expert">
                    <div class="advice">
                      <span>If you are selling or buying this home, you should consult a local real estate professional because they can give an exact estimate that takes into account all the unique characteristics of this home.</span>
                    </div>
                  </div>
                  <div id="valuerange">
                    <div id="homerangelow">Low: ${{ info['homerangelow'] }}</div>
                    <div id="homerangemedian">${{ info['homerangemedian'] }}</div>
                    <div id="homerangehigh">High: ${{ info['homerangehigh'] }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div class="reportsection" id="comparables">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 2</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">See Comparables</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Comparable Properties</span>
                    <span class="sectionpartright">- Directly compare this property to similar properties.</span>
                  </div>
                  <div class="expert">
                    <div class="advice">
                      <span>Using other properties in the neighborhood that are for sale will give you another accurate measure to judge this properties worth.
                      </span>
                    </div>
                  </div>
		  <div id="comparable_props">
                    <div id="comparable_instruction"><strong style="font-size:18px;">Instructions</strong>:<br/><br/>Click the&nbsp;<img src="report_steps/images/comparableinstr1.png" alt="" />&nbsp;button on the chart below and enter the property’s full address (if the correct one is not currently displayed).<br/>The address you searched is <strong>{{ searchString }}</strong>,<br/>The Comparables chart will give you comparable properties.<br/><br/></div>
                    <div id="ftbcomparable">
                      <iframe src='http://homes.findthebest.com/w/idekXZNVSwB' width=790 height=400 frameborder=0 scrolling='no' style='position:static;vertical-align:top;max-width:100%;min-height:400px;'></iframe>
                      <div id="ftbblock1"></div>
                      <div id="ftbblock2"></div>
                      <div id="ftbblock3"></div>
                    </div>
		  </div>
                </div>
              </div>
            </div>

	    <div class="reportsection">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 3</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Review Market Conditions</div>
              </div>
              <div class="sectioncontent">
		<div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Buyers Market Conditions</span>
                    <span class="sectionpartright">- Market factors that need to be considered when<br/>&nbsp;&nbsp;buying a property in this neighborhood.</span>
                  </div>
		  <div class="expert">
                    <div class="advice">
                      <span>Knowing the median sales price, mortgage debt rate and percentage of distressed properties in the area can help you to ensure you are investing in property at a good price and that its value will increase over time. Remember that distressed properties are foreclosed and short sale properties.</span>
                    </div>
                  </div>
                  <div id="buyers_market">
                    <div class="bmarket" id="bm1"><div class="bml">Median sale price over the last 12 months</div><div class="bmr">${{info.medsaleprice}}</div></div>
		    <div class="bmarket" id="bm2"><div class="bml">Median mortgage debt</div><div class="bmr">${{info.hmvcymort}}</div></div>
		    <!--div class="bmarket" id="bm3"><div class="bml">Distressed Properties</div><div class="bmr">8.7%</div></div-->
		    <div class="clear"></div>
		  </div>
                </div>
		<div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">B. Property Ownership</span>
                    <span class="sectionpartright">- View the proportions of property ownership between owned,<br/>&nbsp;&nbsp;rented and vacant properties.</span>
                  </div> 
                  <div id="prop_ownership">
                    
                  </div>
                </div>

		<div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">C. Price Trends</span>
                    <span class="sectionpartright">- Price Trends Chart.</span>
                  </div>
		  <div class="expert">
                    <div class="advice">
		      <span>If you are selling or buying this home, you should consult a local real estate professional because they can give an exact estimate that takes into account all the unique characteristics of this home.</span>
                    </div>
                  </div>
		  <div id="pricetrendchart">
                    <div class="altoresearch">
		      <img class="altoresearchart" src="https://charts.altosresearch.com/altos/app?s=median&ra=a,c&q=a&st={{ data['state'] }}&c={{ data['city'] }}&z=a&sz=a&ts=e&service=chart&theme=newChart&pai=552" alt=""/>
		      <div class="altoresearchtext">
			<span>Price Trends</span><br/><br/>Median single family home price.
		      </div>
		      <div class="clear"></div>
                    </div>
		    <div class="altoresearch">
		      <img class="altoresearchart" src="https://charts.altosresearch.com/altos/app?s=median_price_per_sqft&ra=a,c&q=a&st={{ data['state'] }}&c={{ data['city'] }}&z=a&sz=a&ts=e&service=chart&theme=newChart&pai=552" alt=""/>
		      <div class="altoresearchtext">
			<span>Price per Square foot</span><br/><br/>Median price per square foot.
		      </div>
		      <div class="clear"></div>
                    </div>
		  </div> 
		</div>
		<br/>
		<div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">D. Sellers Market Conditions</span>
                    <span class="sectionpartright">- Market factors that need to be considered when<br/>&nbsp;&nbsp;selling a property in this neighborhood.</span>
                  </div> 
		  <div id="pricetrendchart2">
		    <div class="altoresearch">
		      <img class="altoresearchart" src="https://charts.altosresearch.com/altos/app?s=mean_dom&ra=a,c&q=a&st={{ data['state'] }}&c={{ data['city'] }}&z=a&sz=a&ts=e&service=chart&theme=newChart&pai=552" alt=""/>
		      <div class="altoresearchtext">
			<span>Sales and Demand Trends</span><br/><br/>Average days that properties have been on the market.
		      </div>
		      <div class="clear"></div>
                    </div> 
		    <div class="altoresearch">
		      <img class="altoresearchart" src="https://charts.altosresearch.com/altos/app?s=inventory&ra=a,c&q=a&st={{ data['state'] }}&c={{ data['city'] }}&z=a&sz=a&ts=e&service=chart&theme=newChart&pai=552" alt=""/>
		      <div class="altoresearchtext">
			<span>Homes for Sale</span><br/><br/>Number of properties on the market. 
		      </div>
		      <div class="clear"></div>
                    </div>
                  </div>
		</div>
		
              </div>
            </div>
	    
            <div class="reportsection">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 4</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Review Map</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Bird's Eye View Map</span>
                    <span class="sectionpartright">- See the property and neighboring properties from the air.</span>
                  </div>
                  <div class="expert">
                    <div class="advice">
                      <span>Keep your eye out for messy neighboring yards, dilapidating buildings, nearby highways, commerical and industrial properties because they can all affect the property’s long term value and desirability.</span>
                    </div>
                  </div>
                  <div id="gmap">
                    <h4>Bird's Eye View: {{ searchString }}</h4>
                    <div id="birdeye"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="reportsection">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 5</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Check Local Crime</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Crime Risk</span>
                    <span class="sectionpartright">- Likelihood of a different crimes happening near the property.</span>
                  </div>
                  <div class="expert">
                    <div class="advice">
                      <span>Crime near the property allows you to understand how your short-term and long-term property may be affected. All crimes tends to decrease property value, however certain crimes like vehicle theft are concidered less harmful and will not damage value like murders.</span>
                    </div>
                  </div>
		  <div style="text-align:center;"><strong>100 = National Average</strong></div>
                  <div id="crimerisk">

                  </div>
                </div>
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">B. Local Crime Search</span>
                    <span class="sectionpartright">- See actual crimes that have been commited near the property<br/>&nbsp;&nbsp;in the last few days.</span>
                  </div>
                  <div class="expert">
                    <div class="advice">
                      <span>Often things happen in a neighborhood that you are unaware of. Looking up crimes in your area will allow you to see actual activity in the area and will allow you to better prepare yourself.</span>
                    </div>
                  </div>
                  <div id="formwrap">
                    <div id="alert">Sorry, we could not understand your location. Please try a different address.</div>
                    <form action="javascript:codeAddress()">
                      <input id="address" onblur="codeAddress()" onclick="clearWatermark()" type="text" value="Enter an address"/>
		      <a href="javascript: void(0)" id="update_address_button" onclick="codeAddress()">Update address</a>
		      <div class="clear"></div>
                    </form>
                  </div>
                  <div id="localcrimes">

                  </div>
                  <div id='table_container'></div>
                </div>
              </div>
            </div>

            <div class="reportsection">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 6</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Get Community Breakdown</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Local Schools</span>
                    <span class="sectionpartright">- See actual schools, type and ranking near the property.</span>
                    <div class="clear"></div>
                  </div>
                  <div class="expert">
                    <div class="advice">
                      <span>Having great schools near the property can help to stablize the property’s value. It is typical for properties with good surrounding schools to hold their value better. Additionally, good schools help the salability of the property.</span>
                    </div>
                  </div>
                  <div id="schools">
                    
                  </div>
                </div>
                <div class="sectiondivide"></div>
		<!--div class="sectionpart">
                <div class="sectionpartop">
                <span class="sectionpartleft">B. School Districts</span>
                <span class="sectionpartright">- Evaluate the quality of the nearby school districts.</span>
                <div class="clear"></div>
                </div>
                <div class="expert">
                <div class="advice">
                <span>Similar to having great schools near the property being in a good school district is very beneficial to a property's long-term value.</span>
                </div>
                </div>
		<div id="school_districts">
		
		</div>
                </div>
		<div class="sectiondivide"></div-->
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">B. Transportation Summary</span>
                    <span class="sectionpartright">- Average commute time, accessability of walking and<br/>&nbsp;&nbsp;public transportation.</span>
                    <div class="clear"></div>
                  </div>
                  <div id="transportation">
                    
                  </div>
                </div>
                <div class="sectiondivide"></div>
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">C. Walkscore</span>
                    <span class="sectionpartright">- This score out of 100 will help you understand how convienent it is to walk to<br/>&nbsp;&nbsp;locations around this property. It will allow you to determine how<br/>&nbsp;&nbsp;necessary owning a car will be.</span>
                    <div class="clear"></div>
                  </div>
                  <div class="expert">
                    <div class="advice">
                      <span>Us Americans love owing cars and driving but there are advantages to properities that rely less on private transportation. Properties where you can use public transportation, walk, or bicycle are growing in popularity.</span>
                    </div>
                  </div>
                  <script type='text/javascript'>
                   var ws_wsid = '8b82ee0bab9303865233beb0d0b8651e';
                   //var ws_address = '1018 Lombard Street, San Francisco, CA';
                   var ws_address = '{{ searchString }}';
                   var ws_width = '810';
                   var ws_height = '502';
                   var ws_layout = 'horizontal';
                   var ws_hide_footer = 'true';
                   var ws_commute = 'true';
                   var ws_transit_score = 'true';
                   var ws_map_modules = 'default';
                   var ws_no_link_info_bubbles = 'true';
                   var ws_no_link_score_description = 'true';
                  </script>
                  <div id='ws-walkscore-tile'></div>

                </div>
                <div class="sectiondivide"></div>
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">D. Demographic Summary</span>
                    <span class="sectionpartright">- Houses in the area, median age, percent married and<br/>&nbsp;&nbsp;children.</span>
                    <div class="clear"></div>
                  </div>
                  <div id="demographics">
                    <div class="ditem first">
                      <div class="dnum">{{ community.medianage }}</div>
                      <div class="dinfo">Median Age</div>
                    </div>
                    <div class="ditem">
                      <div class="dnum">{% set adults = community.age20_24 + community.age25_29 + community.age30_34 + community.age35_39 + community.age40_44 +
					 community.age45_49 + community.age50_54 + community.age55_59 + community.age60_64 + community.age65_69 + community.age70_74 +
					 community.age75_79 + community.age80_84 + community.agegt85 %}{{ community.marmarr // (adults / 100) }}%</div>
		      <div class="dinfo">Married</div>
                    </div>
                    <div class="ditem">
                      <div class="dnum">{{ community.hhd }}</div>
                      <div class="dinfo">Number of Homes</div>
                    </div>
                    <div class="ditem last">
                      <div class="dnum">{{ community.hhdch }}</div>
                      <div class="dinfo">Homes with Children</div>
                    </div>
                    <div class="clear"></div>
                  </div>
                </div>
                <div class="sectiondivide"></div>
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">E. Household Income</span>
                    <span class="sectionpartright">- Household income in the community.</span>
                    <div class="clear"></div>
                  </div>
                  <div id="householdincome">

                  </div>
                </div>
                <div class="sectiondivide"></div>
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">F. Education Level</span>
                    <span class="sectionpartright">- Highest level of education obtained in the area.</span>
                    <div class="clear"></div>
                  </div>
                  <div id="educationlevel">

                  </div>
                </div>
                <div class="sectiondivide"></div>
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">G. Weather Conditions</span>
                    <span class="sectionpartright">- Current weather conditions near the property.</span>
                    <div class="clear"></div>
                  </div>
                  <div class="weather-text">
                    <h3 style="color:#4f4f4f"><span>{{ data.city | capitalize }}, {{ data.state | capitalize }}</span> Weather Conditions:</h3>
                    <div class="weather">
                      {% set result = app.weather.conditions.current_observation %}
                      <div class="conditions">
                        <div class="last-updated">{{ result.observation_time }}</div>
                        <div class="frm weather">
                          <h3>Weather</h3>
                          <p>{{ result.weather }}</p>
                          <p>{{ result.temperature_string }}</p>
                          <p>{{ result.relative_humidity }}</p>
                        </div>
                        <div class="frm wind">
                          <h3>Wind</h3>
                          <ul>
                            <li>Direction: {{ result.wind_dir }}</li>
                            <li>Degrees: {{ result.wind_degrees }}</li>
                            <li>Mph: {{ result.wind_mph }}</li>
                            <li>Gust mph: {{ result.wind_gust_mph }}</li>
                            <li>Kph: {{ result.wind_kph }}</li>
                            <li>Gust kph: {{ result.wind_gust_kph }}</li>
                          </ul>
                        </div>
                        <div class="frm preasure">
                          <h3>Preasure</h3>
                          <p>{{ result.pressure_in }}</p>
                          <h3>Dew point</h3>
                          <p>{{ result.dewpoint_string }}</p>
                        </div>
                        <div class="frm heat">
                          <h3>Heat</h3>
                          <p>{{ result.heat_index_string }}</p>
                          <h3>Wind chill</h3>
                          <p>{{ result.windchill_string }}</p>
                        </div>
                        <div class="frm feels-like">
                          <h3>Feels like</h3>
                          <p>{{ result.feelslike_string }}</p>
                          <h3>Visibility</h3>
                          <p>{{ result.visibility_mi }}</p>
                        </div>
                        <div class="frm solar">
                          <h3>Solar radiation</h3>
                          <p>{{ result.solarradiation }}</p>
                          <h3>Precipitations</h3>
                          <ul>
                            <li>1h {{ result.precip_1hr_in }}</li>
                            <li>today {{ result.precip_today_string }}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="forecast">
                    {% set result = app.weather.astronomy %}
                    <ul class="sun">
                      <li class="first">Rise at: {{ result.sun_phase.sunrise.hour }}:{{ result.sun_phase.sunrise.minute }}</li>
                      <li>Sets at: {{ result.sun_phase.sunset.hour }}:{{ result.sun_phase.sunset.minute }}</li>
                    </ul>
                    <ul class="moon">
                      <li class="first">% Illuminated: {{ result.moon_phase.percentIlluminated }}</li>
                      <li>Age of moon: {{ result.moon_phase.ageOfMoon }}</li>
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="sectiondivide"></div>
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">H. Weather Risk</span>
                    <span class="sectionpartright">- The risk of extreme weather in this community.</span>
                    <div class="clear"></div>
                  </div>
		  <div style="text-align:center;"><strong>100 = National Average</strong></div>
                  <div id="weatherrisk">

                  </div>
                </div>
              </div>
            </div>
	    
            <div class="reportsection">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 7</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Get Bonus Ebook</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Home Security Bonus</span>
                    <span class="sectionpartright">- Improve the security of your home with our bonus. This is<br/>&nbsp;&nbsp;included with your property report so there is<br/>&nbsp;&nbsp;<u><b>no extra cost</b></u> to you.</span>
                  </div>
                  <div id="ebook">
                    <div id="ebookimg"><img src="report_steps/images/ebook.jpg" alt="" /></div>
                    <div id="ebooktxt">
                      <b>Bonus:</b> Ways to Improve the Security of Your Home: The comprehensive home security guide. (Value: $24)<br/><br/>
		      Includes:<br/>
		      - <b>How Secure is Your Home.</b> Everybody thinks that their home is secure. Effortlessly understand how your’s stacks up.<br/><br/>
		      - <b>Steps to Improve Your Home Security.</b> There is more to improving a home’s security than just getting an alarm.<br/><br/>
		      - <b>Ways to Prevent Break-ins.</b> Simple steps to make sure you are not the victim of a break-in.<br/><br/>
		      - <b>Locks That Make Your Home More Secure.</b> Learn which locks offer the greatest protection for your home.<br/><br/>
		      - <b>Making Your Windows More Secure</b>. Best techniques to prevent a window entry.<br/><br/>
		      - <b>How Good Lighting is a Deterrent.</b> Improve your home’s security through the good lighting techniques.<br/><br/>
		      - <b>Door Alarm Systems.</b> Simple door alarm systems and how they can ward off burglars.
                    </div>
                    <div class="clear"></div>
                    <div id="ebooklink">
                      <strike>$24</strike><br/>
		      <a href="{{ path('security-homebook') }}">Click to download the ebook.</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

	    <div class="reportsection">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 8</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Get Home Insurance Details</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Home Insurance Rate</span>
                    <span class="sectionpartright">- Check to see what you can save on your home insurance.</span>
                  </div>
		  <div class="expert">
                    <div class="advice">
                      <span>If you are selling or buying this home, you should consult a local real estate professional because they can give an exact estimate that takes into account all the unique characteristics of this home.</span>
                    </div>
                  </div>
                  <div id="homeinsurance">
		    <h3>Clicking below will open a new window</h3>
		    <form action="">
		      <label for="homeinsurancezip">Zipcode</label>
		      <input id="homeinsurancezip" name="homeinsurancezip" type="text" value="" />
		    </form>
                    <a id="homeinsurancelink" class="otherwindowbutton" target="_blank" href="{{ path('homeinsurance') }}">Click To Get The Best Rates</a>
		    <script>
		     var homeinsurancezip = $('#homeinsurancezip');
		     var homeinsurancehref = $('#homeinsurancelink').attr('href');
		     if (homeinsurancezip.attr('value') === '') {
		       $('#homeinsurancezip').attr('value', '{{ data.zip }}');
		     }
		     $('#homeinsurancelink').click(function(ev){
		       var zip = homeinsurancezip.attr('value');
		       if (zip == '') {
			 ev.preventDefault();
			 $('#homeinsurancezip').focus();
			 return false;
		       }
		       $(this).attr('href', homeinsurancehref+'?ZipCode='+zip);
		     });
		    </script>
                  </div>
                </div>
              </div>
            </div>

	    <div class="reportsection" id="market_conditions">
              <div class="sectiontop">
                <div class="sectiontopstep">Step 9</div>
                <div class="sectiontoparrow"></div>
                <div class="sectiontitle">Get Mortgage or Refinancing</div>
              </div>
              <div class="sectioncontent">
                <div class="sectionpart" id="pricetrendchart">
                  <div class="sectionpartop">
                    <span class="sectionpartleft">A. Mortgage/Refinancing Quote</span>
                    <span class="sectionpartright">- Check to see that you are getting the best<br/>&nbsp;&nbsp;mortgage rate.</span>
                  </div>
		  <div class="expert">
                    <div class="advice">
                      <span>Get a lower rate can save you thousands to tens of thousands of dollars over the life of a mortgage. Getting the lowest rate maximizes the amount of money you save.</span>
                    </div>
                  </div>
                  <div id="mortgagerates">
		    <h3>Clicking below will open a new window</h3>
		    <form action="{{ path('mortgage_rates') }}" id="mrform" method="get">
		      <div class="mortgageratesblock">
			<div class="mrfiled">
			  <label for="loan_type">Loan Type</label>
			  <div class="selectwrap">
			    <select id="loan_type" name="loan_type">
			      <option value="">Select</option>
			      <option value="1">Purchase</option>
			      <option value="2">Refinance</option>
			      <option value="3">Poor Credit Loans</option>
			    </select>
			  </div>
			</div>
			<div class="mrfiled">
			  <label for="credit_score">Credit Score</label>
			  <div class="selectwrap">
			    <select id="credit_score" name="credit_score">
			      <option value="">Select</option>
			      <option value="1">Excellent</option>
			      <option value="2">Very Good</option>
			      <option value="3">Good</option>
			      <option value="4">Fair</option>
			      <option value="5">Poor</option>
			    </select>
			  </div> 
			</div>
			<div class="clear"></div>
		      </div>
		      <div class="mortgageratesblock" style="margin:0 auto 12px auto;">
			<div class="mrfiled">
			  <label for="property_type">Property Type</label>
			  <div class="selectwrap">
			    <select id="property_type" name="property_type">
			      <option value="">Select</option>
			      <option value="1">Single Family</option>
			      <option value="2">Condo/Townhome</option>
			      <option value="3">Multi-Unit</option>
			      <option value="4">Mobile</option>
			    </select>
			  </div> 
			</div>
			<div class="mrfiled">
			  <label for="mortgage_zipcode">Zip</label>
			  <input id="mortgage_zipcode" type="text" name="zipcode" value="" />
			</div>
			<div class="clear"></div>
		      </div>
		      <div class="clear"></div>
		      <a id="mortgageratelink" class="otherwindowbutton" target="_blank" href="{{ path('mortgage_rates') }}">Start Your Request</a>
		      <script>
		       var loan_type = $('#loan_type');
		       var credit_score = $('#credit_score');
		       var property_type = $('#property_type');
		       var mortgage_zipcode = $('#mortgage_zipcode'); 
		       var mortgageratelink = $('#mortgageratelink');
		       var mortgageratehref = mortgageratelink.attr('href');
		       if (mortgage_zipcode.attr('value') === '') { mortgage_zipcode.attr('value', '{{ data.zip }}'); }
		       $('#mortgageratelink').click(function(ev){
			 var zip = mortgage_zipcode.attr('value');
			 if (zip == '') {
			   ev.preventDefault();
			   mortgage_zipcode.focus();
			   return false;
			 }
			 $(this).attr('href', mortgageratehref+'?zipcode='+zip+'&credit_score='+credit_score.attr('value')+'&property_type='+property_type.attr('value')+'&loan_type='+loan_type.attr('value'));
		       });
		      </script>
		      <h1>When Banks Compete. <span style="color:#598920;">You Win.</span></h1>
		    </form>
                  </div> 
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="footer-section">
          <div class="footer">
            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. HouseReports.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
          </div>
        </div>
      </div>
    </div>

    <div id="popup1">
      <div id="popup1_txt">
        <div>Thank you for purchasing from PropertyStudy.org, our charge will appear as "PropertyStudy.org8888335920" on your credit card statement.<br/><br/></div>
      </div>
      <div class="popup_close"></div>
    </div>
    <div id="popup2">
      <div id="popup2_txt">If for any reason your report is missing anything, please click the Help<br/>image at the bottom right of your page.<br/><br/>We will ensure you get all the information you require.</div>
      <div class="popup_close"></div>
    </div>
    <div id="popup_form_div">
      {% include 'report_missing_info_form.html.twig' %}
      <div class="popup_close"></div>
    </div>
    <div id="report_miss"></div>
    <div class="clear"></div>

    <script>
     google.load('visualization', '1.0', {'packages': ['table']});
     //google.load("maps", "3", {other_params: 'sensor=false&key=AIzaSyA2yyzc409_8XZUpx__3dbXw7D0wKawcAc', callback: initializemaps});

     function loadMaps() {
       var script = document.createElement('script');
       script.type = 'text/javascript';
       script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key={{ app.config.google_maps_key }}&' +
		    'callback=initializemaps';
       document.body.appendChild(script);
     }
     $(function(){
       loadMaps();
     });

     arealoc = {};
     var downloadMap, localCrimesMap, movementListener, movementTimeout, infowindow, geocoder;
     var movementListeners = [];

     var imgroot = '{{ app.request.getSchemeAndHttpHost }}';

     var address = '{{ data['street'] }} {{ data['city'] }} {{ data['state'] }} {{ data['zip'] }}';

     var crimeChartData = [
       {type: 'Murder', value: {{ community.crmcymurd }}, color: '#456479' },
       {type: 'Rape', value: {{ community.crmcyrape }}, color: '#7fa557' },
       {type: 'Robbery', value: {{ community.crmcyrobb }}, color: '#9f3244' },
       {type: 'Assault', value: {{ community.crmcyasst }}, color: '#7b9cb0' },
       {type: 'Burglary', value: {{ community.crmcyburg }}, color: '#697a52' },
       {type: 'Larceny', value: {{ community.crmcylarc }}, color: '#7e73af' },
       {type: 'MV Theft', value: {{ community.crmcymveh }}, color: '#e6ac5c'},
       {type: 'Overall', value: {{ community.crmcytotc }}, color: '#456479' }
     ];

     var householdsChartData = [
       { range: '>$500K', value: {{ community.hincygt_500 }}, color: '#456479'},
       { range: '$250K-$500K', value: {{ community.hincy250_500 }}, color: '#7fa557'},
       { range: '$200K-$250K', value: {{ community.hincy200_250 }}, color: '#9f3244'},
       { range: '$150K-$200K', value: {{ community.hincy150_200 }}, color: '#7b9cb0'},
       { range: '$125K-$150K', value: {{ community.hincy125_150 }}, color: '#697a52'},
       { range: '$100K-$125K', value: {{ community.hincy100_125 }}, color: '#7e73af'},
       { range: '$75K-$100K', value: {{ community.hincy75_100 }}, color: '#e6ac5c'},
       { range: '$60K-$75K', value: {{ community.hincy60_75 }}, color: '#456479'},
       { range: '$50K-$60K', value: {{ community.hincy50_60 }}, color: '#7fa557'},
       { range: '$45K-$50K', value: {{ community.hincy45_50 }}, color: '#9f3244'},
       { range: '$40K-$45K', value: {{ community.hincy40_45 }}, color: '#7b9cb0'},
       { range: '$35K-$40K', value: {{ community.hincy35_40 }}, color: '#697a52'},
       { range: '$30K-$35K', value: {{ community.hincy30_35 }}, color: '#7e73af'},
       { range: '$25K-$30K', value: {{ community.hincy25_30 }}, color: '#e6ac5c'},
       { range: '$20K-$25K', value: {{ community.hincy20_25 }}, color: '#456479'},
       { range: '$15K-$20K', value: {{ community.hincy15_20 }}, color: '#7fa557'},
       { range: '$10K-$15K', value: {{ community.hincy10_15 }}, color: '#9f3244'},
       { range: '<$10K', value: {{ community.hincy00_10 }}, color: '#7b9cb0'}
     ];

     var educationChartData = [
       { type: 'Associates degree', value: {{ community.eduassoc }}, color: '#456479'},
       { type: 'Bachelors degree', value: {{ community.edubach }}, color: '#7fa557'},
       { type: 'Graduate degree', value: {{ community.edugrad }}, color: '#9f3244'},
       { type: 'Some college', value: {{ community.eduscoll }}, color: '#7b9cb0'},
       { type: 'High school', value: {{ community.eduhsch }}, color: '#697a52'},
       { type: 'Some high school', value: {{ community.edushsch }}, color: '#7e73af'},
       { type: 'Up to a grade 9', value: {{ community.edultgr9 }}, color: '#e6ac5c'}
     ];

     var weatherRisksData = [
       {type: 'Earthquake', value: {{ community.rskcyquak }}, color: '#456479'},
       {type: 'Wind', value: {{ community.rskcywinx }}, color: '#7fa557'},
       {type: 'Hail', value: {{ community.rskcyhanx }}, color: '#9f3244'},
       {type: 'Hurricane', value: {{ community.rskcyhunx }}, color: '#7b9cb0'},
       {type: 'Tornado', value: {{ community.rskcytonx }}, color: '#697a52'},
       {type: 'Overall', value: {{ community.rskcyrisk }}, color: '#7e73af'}
     ];
     
     var transportationData = [
       {type: 'People commuting by car', value: {{ community.trwdrive }}, color: '#456479'},
       {type: 'People using public transport', value: {{ community.trwpublic }}, color: '#7fa557'},
       {type: 'People walking or biking to work', value: {{ community.trwself }}, color: '#9f3244'},
       {type: 'People working from home', value: {{ community.trwhome }}, color: '#7b9cb0'}
     ];

     var priceTrendsData = [       
     ];

     var ownershipData = [
       {type: 'Owned', value: {{ community.dwlowned }}, color: '#456479'},
       {type: 'Vacant', value: {{ community.dwlvacnt }}, color: '#7fa557'},
       {type: 'Rented', value: {{ community.dwlrent }}, color: '#9f3244'},
     ];
     
     var schoolsData = [
       {% for school in app.nearbySchools.school %}
       {% if school.gsRating is defined %}
       {% set rating = school.gsRating %}
       {% elseif school.parentRating is defined %}
       {% set rating = school.parentRating %}
       {% else %}
       {% set rating = 'n/a' %}
       {% endif %}
       {% if school.website == '' %}
       ['{{ school.name }}', '{{ school.gradeRange }}', '{{ school.distance }} mi', '{{ rating }}']{% if not (loop.index == app.nearbySchools.school.count) %},{% endif %}
       {% else %}
       {% if 'http://' in ''~school.website %}
       ['<a href="{{ school.website }}" target="_blank">{{ school.name }}</a>', '{{ school.gradeRange }}', '{{ school.distance }} mi', '{{ rating }}']
       {% else %}
       ['<a href="http://{{ school.website }}" target="_blank">{{ school.name }}</a>', '{{ school.gradeRange }}', '{{ school.distance }} mi', '{{ rating }}']
       {% endif %}
       {% if not (loop.index == app.nearbySchools.school.count) %},{% endif %}
       {% endif %}
       {% endfor %}
     ];

     init();

    </script>
    {% include 'boldchat.html.twig' %}
    <script type="text/javascript" src="//www.walkscore.com/tile/show-walkscore-tile.php"></script>
  </body>
</html>
