{% extends "base.html.twig" %}
{% block head %}
  <style>
   #botimg {
     position:absolute;bottom:0;
     left: 0;
   }
   #surveyMonkeyInfo {
     margin: 0 auto;
   }
   #search-container {
     min-height: 300px !important;
     background-image: none !important;
     background-color: transparent !important;
     border-radius: 0 !important;
   }
   #login_button {
     position: absolute;
     right: 4px;
     top: -5px;
   }
  </style>
{% endblock %}
{% block content %}
  <body class="body1">
    <div id="main-container">
      <div id="main">
        <div id="main-section">
          <div class="header-search">
            <div class="logo-1"><img src="images/logo-1.png" alt="PropertyStudy.org" title="PropertyStudy.org" /></div>
          </div>
          <div id="search-container">
            <a id="login_button" href="{{ options.nextUrl }}">Next >></a>
            <div id="surveyMonkeyInfo"><div><script src="https://www.surveymonkey.com/jsEmbed.aspx?sm=6RLpRpiMJ6TyVInOsrU7IQ_3d_3d"></script></div></div>
          </div>
          <img id="botimg" src="images/people-collage.jpg" alt="" title="" />
        </div>
        <div class="footer-section-1">
          <div class="footer-menu-section-1">
            {% include 'footer_links.html.twig' %}
          </div>
          <div class="footer-1">
            <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The matieral appearing on the website could include technical, typrographical, or photographic errors. PropertyStudy.org does not warrant that any of the matierls on its website are accurate, completete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
          </div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
