.brute-select {
	display: inline-block;
	position: relative;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	background: #fff;
	vertical-align: middle;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  transition: border 0.2s linear 0s, box-shadow 0.2s linear 0;
  height: 54px;
}

.brute-select-focus {
	border-color: #09c;
	box-shadow: 0 0 5px #3cf;
}

.brute-select-select {
	filter: alpha(opacity=0);
	opacity: 0;
	border: none;
	padding: 7px 15px 1px 1px;
	margin: 0;
	display: block;
  width: 183px;
	height: 23px;
	position: relative;
	z-index: 1;
}
.brute-select-select option {
    
}
.brute-select-title.error {
    background-color: #fee;
}

.brute-select-title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 1px 15px 0 16px;
  margin: 2px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 23px;
	height: 25px;
	color: #000;
}

.brute-select-arrow {
	position: absolute;
	right: 5px;
	top: 28px;
	border: 4px solid transparent;
	border-top-color: #666;

}
#loan-program {
   background-color: white;
   height: 54px;
}
