body {
  margin: 0;
  padding: 0;
  border: none;
}
table {
  border-collapse:collapse;
  border: none;
}
tr {
  border: none;
  width: 100%;
}
body {
  font-family: Georgia;
  border: none;
  width: 100%;
  background-image: url(../images/ebookupsell/bg.jpg);
}
td {
  padding: 0;
}
tbody {
  border: none;
  padding: 0;
  margin: 0;
}
a:link {
  color: #000066;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
  color: #000066;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
  color: #000066;
}
.style1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
.style1 {
  color: #8eb726;
  font-weight: bold;
}
#maintable {
  width: 100%;
}
#td1 {
  background: transparent url("../images/ebookupsell/header-bg.jpg") repeat-x center top;
  height: 269px;
}
#td1 img {
  margin: 0 auto;
  width: 724px;
  display: block;
}
#td2 {
  background: transparent url("../images/ebookupsell/bg.jpg") repeat-x center top;
}
#table2 {
  background: transparent url("../images/ebookupsell/table-bg.jpg") repeat-y center top;
  width: 724px;
}
.center {
  display: block;
  width: 724px;
  margin: 0 auto;
}
#table3 {
  width: 650px;
}
#table4 {
  width: 550px;
  margin: 0 auto;
  border-collapse: separate;
}
#table5 {
  width: 724px;
  margin: 0 auto;
}
#table6 {
  width: 350px;
  margin: 0 auto;
}
#td3 {
  background: transparent url("../images/ebookupsell/footer-bg.jpg") repeat-x center top;
  margin: 0 auto;
}
#table7 {
  background: transparent url("../images/ebookupsell/testimonial.jpg") no-repeat center top;
  width: 500px;
  margin: 0 auto;
}
#table8 {
  width: 400px;
  margin: 0 auto;
}
#table9 {
  width: 550px;
  border-collapse: separate;
  margin: 0 auto;
}
#topblock {
  background: transparent url("../images/ebookupsell/header.jpg") no-repeat center top;
  width: 724px;
  height: 269px;
  margin: 0 auto;
  position: relative;
}
#logowrap {
  position: absolute;
  display: block;
  left: 12px; top: 0;
  width: 264px;
  height: 34px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 10px 0 #000000;
}
#logowrap div {
  width: 264px;
  height: 34px;
  background: transparent url("../images/logo_small.png") no-repeat left top;
}
#EbookupsellForm_email {
  display: block;
  margin: 0 auto 16px;
  padding: 4px;
}
#ebookupsellimg {
  margin: 0 auto;
  display: block;
}
#ebookupsellformsubmit {
  display: block;
  margin: 0 auto 24px;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
  background-image: none;
  border: none;
  text-decoration: underline;
  color: blue;
  font-size: 22px;
  font-weight: normal;
}
#enterEmail {
  font-weight: bold;
  color: black;
  text-decoration: none;
  cursor: default;
  background-color: #ffff00;
  padding: 3px;
}
#ebookupsellform .form-error {
  color: red;
  text-align: center;
  width: 100%;
  display: block;
  margin: 0 0 16px 0;
}
#toreport {
  font-size: 13px;
}
#toreport:hover {
  text-decoration: underline;
}
#ebookupsellform button {
  border: none;
  background-color: transparent;
  background-image: none;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}
#ebookupsellform button:active {
  padding: 0;
}
#ebookupsellform button:focus {
  padding: 0;
}
#ebooktoreport {
  width: 340px;
  height: 50px;
  background: transparent url("../images/ebookupsell/buttoncheckout.png") no-repeat left top;
  display: block;
  margin: 0 auto;
}
#bonus {
  background: transparent url("../images/ebookupsell/bonus.jpg") no-repeat center top;
  width: 500px;
  height: 310px;
  margin: 0 auto;
}
#bonus2 {
  background: transparent url("../images/ebookupsell/bonus-2.jpg") no-repeat center top;
  width: 500px;
  height: 310px;
  margin: 0 auto;
}
#bonus3 {
  background: transparent url("../images/ebookupsell/bonus-3.jpg") no-repeat center top;
  width: 500px;
  height: 310px;
  margin: 0 auto;
}
#getebooks {
  color: #8EB726;
  font-weight: bold;
}
#buynowfirst {
  cursor: pointer;
}