div.container {
    width: 732px;
    margin: 0 auto;
    font-family: Georgia;
    font-size: 13px;
}
*:focus {
    outline: none;
}
div.frame  {
    border:1px solid #b3b3b3;
    background: #f2f2f2;
    position: relative;
}
h1 {
    font: normal normal 18px Georgia;
}
div.frame h2 {
    margin: 0;
    padding: 15px 20px;
    background: #b3b3b3;
    font: normal normal 18px Georgia;
}
div.banner {
    padding: 15px 0;
}

div.frame p {
    padding: 5px 20px;
    margin: 0;
}

form label {
    display: block;
}
form input[type=text], form input[type=password] {
    width: 300px;
    border:1px solid #666666;
    color: #666666;
    padding: 5px 0;
}

form input[type=image] {
}
div.agree  {
    text-align: center;
    padding: 15px 0 0 0;
}
div.agree a {
    color: #000;
}
div.agree label {
    display: inline;

}
p.actions {
    text-align: center;
}
#part_1, #part_2, #part_3, #part_4, #part_5, #part_6, #part_7, #part_8, #part_9 {
    visibility: hidden;
}
a, img {
    border: none;
}
#part_2 { 
    display: none;
}
#part_2 div {
    float: left;
    border-right: 1px solid #ccc;
    width: 100px;
    padding: 20px;
    width: 202px;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#part_2 div.arrow {
    background: url('/images/arrow_1105.png') top left no-repeat;
    width: 89px;
    height: 60px;
    position: absolute;
    right: 0;
    top: 240px;
    z-index: 2;
}
#part_2 div.last {
    border: none;
}
div.clearfix {
    clear: both;
}

#part_6 {
    padding: 5px 20px;
}

#part_7 {
    text-align: center;
    padding: 20px 20px 5px 20px;
}
#part_8 {
    text-align: center;
    padding: 20px;
}