@charset "utf-8";
/* CSS Document */

#logo {
    background-color: #FFFFFF;
    box-shadow: 0 2px 10px 0 #000000;
    color: #1872AC;
    font-size: 25px;
    font-weight: bold;
    height: 64px;
    left: 2%;
    line-height: 64px;
    padding: 0 0 0 10px;
    position: absolute;
    top: 0;
    z-index: 1;
}
.cs_logo {
    margin-top: 60px !important;
}
#mid_sec {
    background: url("../images/main_bg20.jpg") repeat-x scroll center top rgba(0, 0, 0, 0);
    float: left;
    margin: 0;
    min-height: 800px;
    position: relative;
    width: 100%;
}
#loginform {
    background: url("../images/mid_box_white_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 10px 0 #000000;
    margin: 122px auto 0;
    padding: 14px 34px 0;
    width: 272px;
    position: relative;
}
#loginform label {
    color: #606060;
    font-size: 18px;
    float: left;
    width: 200px;
    padding: 5px 0 3px 0;
}
#loginform h1 {
    font-size: 18px;
    font-weight: bold;
    color: #606060;
    margin: 24px 0 6px 0;
}
#loginform input[type=text], #loginform input[type=password] {
    width: 260px;
    height: 38px;
    float: left;
    padding: 0 6px;
    font-size: 20px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #1872AC;
    margin: 3px 0 0;
}
#login_forgot > a {
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    float: left;
    margin: 28px 0 0 0;
}
#loginform input[type=submit] {
    float: right;
    width: 126px;
    height: 48px;
    cursor: pointer;
    background: transparent url(../images/login_button_bg.png) left 4px no-repeat;
    border-style: none;
    color: white;
    margin: 10px 0 20px 0;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    right: -4px;
}
#login_logo {
    width: 264px;
    height: 34px;
    background: transparent url(../images/logo_small.png) left top no-repeat;
}
#login_wrap {
    width: 940px;
    margin: 0 auto;
    background-color: transparent;
    padding-top: 1px;
    font-family: Arial;
    position: relative;
}
#login_forgot:hover {
    text-decoration: underline;
}




body {
    margin: 0;
    padding: 0;
    background:url(../images/body-bg.png) left top repeat-x #FFF;
    font-family: Arial, Geneva, Verdana, sans-serif;
}
.body1 {
    margin:0px;
    padding:0px;
    background:url(../images/body-bg.jpg) center top repeat-x #121d30;
    font-family: Arial, Geneva, Verdana, sans-serif;
}
.body2 {
    margin:0px;
    padding:0px;
    background:#deeef8;
    font-family: Arial, Geneva, Verdana, sans-serif;
}
.body3 {
    margin:0px;
    padding:0px;
    background:#FFF;
    font-family: Arial, Geneva, Verdana, sans-serif;
}
.body4 {
    background:url(../images/billing_body_bg.jpg) left top repeat-x #FFF;
}
.body5 {
    background: #f5f5f5;
}
div, h1, h2, h3, h4, h5, h6, span, p, ul, li, img {
    margin: 0;
    padding: 0;
}
img {
    border:none;
}
.clear {
    clear: both;
}
.checkout_timer {
    position: fixed;
    right: 14px;
    bottom: 14px;
    width: 108px;
    height: 64px;
    border: 1px solid #a9a9a9;
    background-color: #e4e4e4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4e4e4', endColorstr='#ffffff'); /* for IE */
    background: -webkit-gradient(linear, left bottom, left top, from(#e4e4e4), to(#fff)); /* for webkit browsers */
    background: -moz-linear-gradient(bottom,  #e4e4e4,  #fff); /* for firefox 3.6+ */
}
.checkout_timer .text {
    font-size: 13px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 12px 0 0 4px;
}
.checkout_timer #timer_digits {
    color: #e93f33;
    font-size: 22px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    margin: 4px 0 0 26px;
}
#main-container {
    float:left;
    width: 100%;
}
#main {
    margin:0 auto;
    width: 940px;
}
#main-section {
    float: left;
    width: 940px;
    position:relative;
}
#username_block, #password_block {
    height: 86px;
}

.header-section {
    width: 940px;
    min-height:302px;
    float:left;
    position:relative;
    background:url(../images/header-bg.jpg) left top no-repeat;
    padding:0;
}
.comprehensive-text {
    float: left;
    width: 450px;
    font-family:arial;
    font-size:20px;
    font-weight:normal;
    text-align:left;
    color:#FFF;
    line-height:24px;
    padding:24px 0 0 280px;
}
.comprehensive-text h3 {
    font-weight:normal;
    padding:0;
}
.comprehensive-text h3 span {
    font-weight:bold;
}
.logo {
    width: 430px;
    float:left;
    margin:150px 0 0 0px;
    position:relative;
}
.banner-section {
    float: left;
    width: 940px;
    position:relative;
}
#banner-search-section {
    width:940px;
    float:left;
    position:relative;
    padding:0 0 10px 0;
}
#search-section {
    width:540px;
    float:left;
    position:relative;
    background:url(../images/form-bg-repeat.png) left top repeat-x #1f2f4a;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    padding:20px;
}
.search-form-seaction {
    width:520px;
    min-height:219px;
    float:left;
    background:url(../images/form-bg.png) left top repeat-x;
    position:relative;
    padding:0 0 0 20px;
}
.search-form-seaction h3 {
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    text-align:left;
    color:#FFF;
    line-height:22px;
    padding:10px 0 15px 0;
}
.search-form-panel {
    width:520px;
    float:left;
}
.search-form-box {
    width:520px;
    float:left;
    margin:8px 0 0 0px;
}
.search-left-box {
    width:240px;
    float:left;
    text-align:left;
}
.search-left-txt-box {
    width:240px;
    float:left;
    font-size:15px;
    color:#FFF;
    font-weight:bold;
    text-align:left;
}
.search-left-field-box {
    width:238px;
    float:left;
    height:34px;
    margin:5px 0 0 0px;
    text-align:left;
    border:1px solid #FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.search-txtfield {
    width:228px;
    vertical-align:top;
    height:24px;
    border:none;
    font-size:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    padding:5px;
}

.search-right-box {
    width:240px;
    float:left;
    margin:0 0 0 20px;
}
.search-right-txt-box {
    width:240px;
    float:left;
    font-size:15px;
    color:#FFF;
    font-weight:bold;
    text-align:left;
}
.search-right-field-box {
    width:238px;
    float:left;
    height:34px;
    font-size:14px;
    border:1px solid #FFF;
    color:#000;
    margin:5px 0 0 0px;
    text-align:left;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.search-box-1 {
    width:190px;
    float:left;
    text-align:left;
}
.search-txt-box-1 {
    width:190px;
    float:left;
    font-size:15px;
    color:#FFF;
    font-weight:bold;
    text-align:left;
}
.search-form-field {
    width:190px;
    float:left;
    height:34px;
    margin: 7px 0 0 0;
}
#search_state_select {
    width: 188px;
    height: 28px;
    padding: 4px 0 0 0;
    margin: 5px 0 0 0;
    float: right;
    overflow: hidden;
    background: white url(../images/select_dropdown.jpg) no-repeat 172px 16px;
    border:1px solid white;
    border-radius:3px;
}
#search_state_select select {
    background: transparent;
    width: 210px;
    height: 24px;
    padding: 3px 3px 3px 4px;
    font-size: 14px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
*:focus {
  outline: 0;
  border: none;
}
.search-form-txtbox {
    width:186px;
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#384954;
    text-align:left;
    font-weight:normal;
    line-height:26px;
    border:1px solid #FFF;
    background-color:#f8f8f8;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    padding:2px;
}
label.error { display:none !important; }
input.error {
    background-color: #FFEEEE !important;
}
.search-box-2 {
    width:100px;
    float:left;
    text-align:left;
    padding:0 0 0 20px;
}
.search-txt-box-2 {
    width:100px;
    float:left;
    font-size:15px;
    color:#FFF;
    font-weight:bold;
    text-align:left;
}
.search-form-field-2 {
    width:100px;
    float:left;
    height:34px;
    margin:5px 0 0 0;
}
.search-form-txtbox-2 {
    width:88px;
    float:left;
    font-family:Arial;
    font-size:14px;
    color:#000;
    text-align:left;
    font-weight:normal;
    height:22px;
    border:1px solid #FFF;
    background-color:#FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    padding:5px;
}
.go-btn {
    width:169px;
    float:left;
    height:64px;
    padding:5px 0 5px 20px;
}
.go-btn input {
    background: url("../images/go-btn-sprite.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:64px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:169px;
}
.go-btn input:hover {
    cursor:pointer;
    background:url("../images/go-btn-sprite.png") no-repeat center -64px transparent;
    height:64px;
}
.view-property-txt {
    float:left;
    width: 540px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    padding:10px 0 0 0;
}
.view-property-txt h3 {
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    line-height:20px;
    color:#FFF;
    padding:0 0 12px 0;
}
.view-property-txt-1 {
    float: left;
    width:230px;
    padding: 0 0 0 20px;
}
.view-property-txt-1 ul {
    margin:0px;
    padding: 0px;
    width:230px;
}
.view-property-txt-1 li {
    list-style:none;
    font-family:Arial;
    font-size:15px;
    color:#b6c4da;
    font-weight:bold;
    text-align:left;
    line-height:16px;
    padding:4px 0 4px 22px;
    background:url(../images/tick-1.png) left 4px no-repeat;
}
.record-bar {
    width: 255px;
    right: -11px;
    top: 15px;
    position:absolute;
    z-index:1;
}
.providing-record-section {
    width:340px;
    float:left;
    position:relative;
    margin:0 0 0 20px;
    padding:10px 0;
}
.providing-record-section h3 {
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    line-height:20px;
    color:#000;
}
.providing-record-section h4 {
    font-family:arial;
    font-size:26px;
    font-weight:bold;
    line-height:20px;
    color:#c72e02;
    padding:10px 0 10px 0;
}
.banner-list {
    width:340px;
    float:left;
    position:relative;
    margin:10px 0 0 0;
}
.banner-list h3 {
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    line-height:20px;
    color:#000;
    padding:10px 0 12px 0;
    border-top:1px solid #d7d7d7;
}
.banner-list ul {
    padding:0px;
    margin:0px;
}
.banner-list li {
    margin:0px;
    list-style:none;
    display:block;
    float:left;
    background:url(../images/tick.png) left top no-repeat;
    font-family:arial;
    font-size:18px;
    color:#000;
    text-align:left;
    font-weight:normal;
    line-height:17px;
    width:300px;
    padding:5px 0 5px 35px;
    margin: 4px 0 0 0;
}
.look-text {
    width:340px;
    float:left;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    line-height:20px;
    color:#000;
    position:relative;
}
.look-text p {
    padding:15px 0 0 0;
}
.checkreport-section {
    width: 940px;
    float:left;
    position:relative;
    background:#bad2e1;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    padding:10px 0;
}
.check-history-section {
    width: 455px;
    min-height:354px;
    float:left;
    position:relative;
    background:url(../images/home-pic.jpg) left top no-repeat;
    margin:0 0 0 10px;
    font-family:arial;
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    color:#000;
}
.check-history-section h3 {
    font-family:arial;
    font-size:24px;
    font-weight:bold;
    line-height:22px;
    color:#000;
    padding:20px 0 0 20px;
}
.check-history-section h4 {
    font-family:arial;
    font-size:31px;
    font-weight:bold;
    line-height:20px;
    color:#c72e02;
    padding:10px 0 10px 20px;
}
.check-history-section p {
    padding:10px 200px 10px 20px;
}
.get-btn {
    width:153px;
    float:left;
    height:153px;
    padding:0 0 5px 15px;
}
.get-btn input {
    background: url("../images/get-btn-sprite.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:153px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:153px;
}
.get-btn input:hover {
    cursor:pointer;
    background:url("../images/get-btn-sprite.png") no-repeat center -153px transparent;
    height:153px;
}
.sample-section {
    width: 455px;
    min-height:354px;
    float:left;
    position:relative;
    background:url(../images/report-pic.jpg) left top no-repeat;
    margin:0 0 0 10px;
}
.sample-section h3 {
    font-family:arial;
    font-size:38px;
    font-weight:bold;
    line-height:30px;
    text-align:center;
    color:#000;
    padding:27px 0 0 0;
}
.comparison-section {
    float: left;
    width: 940px;
    position:relative;
    background:url(../images/comparison-bg.jpg) left top no-repeat;
    min-height:592px;
    margin:15px 0 10px 0;
    position:relative;
}
.body1 .comparison-section {
    background:url(../images/comparison-bg-1.jpg) left top no-repeat !important;
}
.chart-section {
    width: 680px;
    float:left;
}
.chart-section h3 {
    font-family:arial;
    font-size:32px;
    font-weight:bold;
    line-height:22px;
    color:#000;
    padding:10px 0 0 0;
    text-align:center;
}
.chart-section h4 {
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    line-height:20px;
    color:#000;
    padding:10px 0 50px 0;
    text-align:center;
    text-transform:uppercase;
}
.chart-section h4 span{
    color:#cb3702;
    padding: 0 3px;
}
.chart-txt {
    width:270px;
    float:left;
    text-align:left;
    font-size:15px;
    line-height:44px;
    color:#FFF;
    font-weight:bold;
    font-family:arial;
    padding:73px 0 10px 38px;
}
.chart-txt p{
    padding:0 0 10px 0;
}
.arrow-img {
    width: 205px;
    left: 80px;
    bottom: -45px;
    position:absolute;
    z-index:1;
}
.footer-section {
    float: left;
    width: 940px;
    margin:30px 0 0 0;
    padding: 20px 0;
}
.footer-menu-section {
    width:100%;
    float:left;
    border-bottom:1px solid #ddd;
    padding: 15px 0;
}
.footer-menu {
    width:100%;
    text-align:center;
}
.footer-menu ul {
    padding:0px;
    margin:0px;
}
.footer-menu li {
    padding:0px;
    margin:0px;
    list-style:none;
    display:inline;
}
.footer-menu li a {
    font-family:Arial;
    font-size:14px;
    text-align:center;
    color:#20578c;
    font-weight:normal;
    line-height:13px;
    padding:0 4px 0 8px;
    border-left:1px solid #384954;
    text-decoration:none;
}
.footer-menu li a:hover, .footer-menu li a.current:hover {
    text-decoration:underline;
}
.footer-menu li a.current {
    font-family:Arial;
    font-size:14px;
    text-align:center;
    color:#20578c;
    font-weight:normal;
    line-height:13px;
    border:none;
    text-decoration:none;
}
.copyright-text {
    width:940px;
    float:left;
    font-family:arial;
    font-size:14px;
    color:#000;
    text-align:center;
    font-weight:normal;
    padding:15px 0 0 0;
}
.body4 .copyright-text {
    width: 844px;
}
.copyright-text p span {
    font-weight:normal;
    color:#20578c;
}
.copyright-text a {
    color:#20578c;
    text-decoration:none;
}
.copyright-text a:hover {
    color:#20578c;
    text-decoration:underline;
}
.footer {
    width:940px;
    float:left;
    position:relative;
    padding:15px 0 0 0;
    font-size:12px;
    line-height:15px;
    text-align:center;
    font-family:Arial;
    font-weight:normal;
    color:#363636;
}
.footer p {
    padding:0 0 15px 0;
}
.footer p span {
    color:#1d5184;
    font-weight:bold;
}
.footer-2 {
    width:940px;
    float:left;
    position:relative;
    font-size:12px;
    line-height:15px;
    text-align:center;
    font-family:Arial;
    font-weight:normal;
    color:#363636;
    padding:15px 0 0 0;
}
.footer-2 p {
    padding:0 20px;
}

/******************************* Searching ************************************/

.header-search {
    width: 940px;
    min-height:112px;
    float:left;
    position:relative;
    padding:0;
}
.logo-1 {
    width: 430px;
    float:left;
    margin:28px 0 0 250px;
    position:relative;
}
#search-container {
    float:left;
    width: 940px;
    min-height:665px;
    background:url(../images/search-bg.jpg) left top repeat-x;
    position:relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
}
.search-h-bg {
    float:left;
    width: 940px;
    min-height:58px;
    background:url(../images/search-h.jpg) left top no-repeat;
    position:relative;
}
.search-h {
    float: left;
    width: 313px;
    background: url(../images/search-icon.png) left 2px no-repeat;
    padding:5px 0 15px 36px;
    margin:13px 0 0 310px;
    border:none;
}
.searching-txtfield {
    width:300px;
    vertical-align:top;
    height:24px;
    font-family:Arial;
    font-weight:bold;
    font-size:17px;
    color:#000;
    text-align:left;
    border:none;
    background:none;
}
.search-property {
    width:940px;
    float:left;
    text-align:center;
    font-size:32px;
    line-height:44px;
    color:#c72e02;
    font-weight:bold;
    font-family:arial;
    padding:13px 0 10px 0;
}
.animated-pic {
    float:left;
    width: 880px;
    padding:0 0 0 60px;
    position:relative;
}
#database-section {
    float: left;
    width: 900px;
    background: url(../images/database-bg.png) center top no-repeat;
    position: relative;
    margin:20px 0 70px 40px;
}
.database-section1 {
    float: left;
    width: 278px;
    min-height:75px;
    position: relative;
    border-right: 1px solid #d7d7d7;
    margin: 15px 0 0 0;
    padding:7px 0 0 0;
}
.database-section2 {
    float: left;
    width: 278x;
    min-height:75px;
    position: relative;
    margin: 15px 0 0 0;
    padding:7px 0 0 0;
}
.database-logo {
    float: left;
    width: 46px;
    padding: 0 12px 0 20px;
}
.database-text {
    float: left;
    width: 200px;
    text-align:left;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color:#000;
    padding: 7px 0 0 0px;
}
.database-text h3{
    text-align:left;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    color:#2b3f63;
}
.database-text p{
    padding: 3px 20px 0 0px;
}
.powerful-txt {
    float:left;
    width: 940px;
    font-size:20px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:center;
    padding:0;
}
.powerful-txt p {
    padding:0 0 15px 0;
}
.powerful-txt img {
    padding:0;
}
.footer-section-1 {
    float: left;
    width: 940px;
    padding: 10px 0 20px 0;
}
.footer-menu-section-1 {
    width:940px;
    float:left;
    border-bottom:1px solid #2b3c57;
    padding: 15px 0;
}
.footer-menu-1 {
    width:300px;
    float:left;
    padding:0 0 0 330px;
    text-align:center;
}
.footer-menu-1 ul {
    padding:0px;
    margin:0px;
}
.footer-menu-1 li {
    padding:0px;
    margin:0px;
    list-style:none;
    display:block;
    float:left;
}
.footer-menu-1 li a {
    float:left;
    font-family:Arial;
    font-size:14px;
    text-align:center;
    color:#6dcff6;
    font-weight:normal;
    line-height:13px;
    padding:0 4px 0 4px;
    border-left:1px solid #c0c3c8;
    text-decoration:none;
}
.footer-menu-1 li a.current {
    float:left;
    font-family:Arial;
    font-size:14px;
    text-align:center;
    color:#6dcff6;
    font-weight:normal;
    line-height:13px;
    padding:0 4px 0 4px;
    border:none;
    text-decoration:none;
}
.copyright-text-1 {
    width:940px;
    float:left;
    font-family:arial;
    font-size:14px;
    color:#FFF;
    text-align:center;
    font-weight:normal;
    padding:15px 0 0 0;
}
.copyright-text-1 p span {
    font-weight:normal;
    color:#6dcff6;
}
.copyright-text-1 a {
    color:#6dcff6;
    text-decoration:none;
}
.copyright-text-1 a:hover {
    color:#6dcff6;
    text-decoration:underline;
}
.footer-1 {
    width:940px;
    float:left;
    position:relative;
    padding:15px 0 0 0;
    font-size:12px;
    line-height:15px;
    text-align:center;
    font-family:Arial;
    font-weight:normal;
    color:#a1a1a1;
}
.footer-1 p {
    padding:0 0 15px 0;
}
.footer-1 p span {
    color:#a1a1a1;
    font-weight:bold;
}

/******************************* Requesting Download ************************************/

#download-container {
    float:left;
    width: 940px;
    background:url(../images/downloading-bg.png) left top repeat-x #deeef8;
    position:relative;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0 0 50px 0;
}
.download-section {
    float:left;
    width: 920px;
    position:relative;
    padding:10px;
}
.download-h-bg {
    float:left;
    width: 920px;
    min-height:54px;
    position:relative;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    background-color:#FFF;
}
.download-h {
    float:left;
    width: 920px;
    background:url(../images/finished-icon.png) 20px 14px no-repeat;
    position:relative;
    font-family:Arial;
    font-weight:normal;
    font-size:18px;
    color:#000;
    text-align:left;
}
.download-h p {
    padding:18px 0 15px 60px;
}
.download-h p span {
    font-weight:bold;
}
.download-content-section {
    float:left;
    width: 920px;
    background:url(../images/download-content-bg.png) left top repeat-x #feffff;
    position:relative;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 3px -3px #706463;
    -moz-border-shadow: 0 4px 3px -3px #706463;
    -webkit-border-shadow: 0 4px 3px -3px #706463;
    -o-border-shadow: 0 4px 3px -3px #706463;
}
.report-text {
    float: left;
    width: 920px;
    text-align:center;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    color:#000;
    padding: 20px 0;
}
.report-text h3{
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    color:#000;
    padding: 0 0 5px 0px;
}
.report-text h4{
    font-size: 34px;
    line-height: 32px;
    font-weight: bold;
    color:#c72e02;
    padding: 0 0 10px 0px;
}
.best-report-txt {
    float:left;
    width: 794px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    padding: 0 0 0 106px;
}
.best-report-txt p {
    padding:2px 0 10px 0;
}
.best-report-txt-1 {
    float: left;
    width:235px;
    padding: 0;
}
.best-report-txt-1 ul {
    margin:0px;
    padding: 0px;
    width:235px;
}
.best-report-txt-1 li {
    list-style:none;
    font-family:Arial;
    font-size:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:18px;
    padding:5px 0 5px 33px;
    background:url(../images/tick.png) left top no-repeat;
}
.best-report-txt-2 {
    float: left;
    width:300px;
    padding: 0;
}
.best-report-txt-2 ul {
    margin:0px;
    padding: 0px;
    width:300px;
}
.best-report-txt-2 li {
    list-style:none;
    font-family:Arial;
    font-size:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:18px;
    padding:5px 0 5px 33px;
    background:url(../images/tick.png) left top no-repeat;
}
.see-btn {
    width:389px;
    float:left;
    height:75px;
    margin:25px 0 30px 265px;
}
.see-btn input {
    background: url("../images/see-btn-sprite.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:75px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:389px;
}
.see-btn input:hover {
    cursor:pointer;
    background:url("../images/see-btn-sprite.png") no-repeat center -75px transparent;
    height:75px;
}
.download-report-h {
    float:left;
    width: 920px;
    background:url(../images/download-icon.png) 20px 14px no-repeat;
    position:relative;
    font-family:Arial;
    font-weight:normal;
    font-size:18px;
    color:#000;
    text-align:left;
}
.download-report-h p {
    padding:18px 0 15px 50px;
}
.download-report-h p span {
    font-weight:bold;
    color:#c72e02;
}
.report-section {
    float: left;
    width: 880px;
    position:relative;
    padding: 0 20px;
}
.map-section {
    float: left;
    width: 290px;
    text-align:center;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    color:#000;
    padding: 20px 20px 24px 0;
    border-right:1px solid #d7d7d7;
}
.map-img {
    float: left;
    width: 290px;
    padding:0 0 10px 0;
}
.map-text {
    float:left;
    width: 290px;
    background:url(../images/phone-icon.png) left top no-repeat;
    position:relative;
    font-family:Arial;
    font-weight:normal;
    font-size:14px;
    line-height: 18px;
    color:#000;
    text-align:left;
    height: 46px;
}
.map-text p {
    padding:2px 0 0 60px;
}
.map-text h3{
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color:#c72e02;
    padding: 0 0 0 60px;
}
.report-download-section {
    float: left;
    width: 551px;
    padding: 14px 0 20px 18px;
    border-top:1px solid #d7d7d7;
    position:relative;
}
.download-report-section {
    float: left;
    width: 550px;
    position: relative;
    padding:12px 0 0 0;
}
.download-report-icon {
    float: left;
    width: 70px;
    padding: 0 0 0 0;
}
.download-report-text {
    float: left;
    width: 360px;
    text-align:left;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color:#000;
    padding: 0;
}
.download-report-text h3 {
    text-align:left;
    font-size: 36px;
    font-weight: bold;
    line-height: 30px;
    color:#000;
    padding: 0;
}
.download-report-text p {
    padding: 0;
}
.download-report-text a {
    color:#000;
    text-decoration:none;
}
.download-report-text a:hover {
    color:#000;
    text-decoration:underline;
}
.downlaod-animation {
    float:left;
    width: 550px;
    padding:0;
    position:relative;
}
.summary-section {
    float: left;
    width: 550px;
    margin: 12px 0 20px 0;
    border-top:1px solid #d7d7d7;
}
.summary-h{
    float: left;
    width: 540px;
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    line-height:18px;
    color: #000;
    padding:12px 0 0 0;
}
.summary-menu {
    width:550px;
    float:left;
    padding:10px 0 0 0;
    margin:0;
}
.summary-menu ul {
    padding:0px;
    margin:0;
}
.summary-menu li {
    padding:0 14px 0 10px;
    margin:0;
    list-style:none;
    display:block;
    float:left;
    font-family:arial;
    font-size:14px;
    text-align:center;
    font-weight:normal;
    line-height: 20px;
    color:#000;
    background: url("../images/bullet.png") left 6px no-repeat;
}
.summary-menu li a {
    display:block;
    float:left;
    color:#000;
    text-decoration:none;
    font-size:14px;
    font-weight:normal;
}
.summary-menu li a:hover {
    color:#c72e02;
    text-decoration:none;
}

/************************** Finished ******************************/

.finished-report-h {
    float:left;
    width: 920px;
    background:url(../images/finished-icon.png) 20px 14px no-repeat;
    position:relative;
    font-family:Arial;
    font-weight:bold;
    font-size:18px;
    color:#58910a;
    text-align:left;
}
.finished-report-h p {
    padding:18px 0 15px 54px;
}
.show-btn {
    width:379px;
    float:left;
    height:77px;
    margin:25px 0 20px 265px;
}
.show-btn input {
    background: url("../images/show-btn-sprite.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:77px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:379px;
}
.show-btn input:hover {
    cursor:pointer;
    background:url("../images/show-btn-sprite.png") no-repeat center -77px transparent;
    height:77px;
}
.show-section {
    float:left;
    width: 940px;
    position:relative;
    padding:30px 0;
}
.show-h {
    float:left;
    width: 940px;
    min-height:88px;
    position:relative;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    background-color:#FFF;
}
.show-h h3{
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
    color:#000;
    padding: 25px 0 15px 0;
    text-align:left;
    margin: 0 0 0 210px;
}
.show-content-section {
    float:left;
    width: 660px;
    background:url(../images/download-content-bg.png) left top repeat-x #feffff;
    position:relative;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 3px -3px #706463;
    -moz-border-shadow: 0 4px 3px -3px #706463;
    -webkit-border-shadow: 0 4px 3px -3px #706463;
    -o-border-shadow: 0 4px 3px -3px #706463;
    padding:0 140px
}
.show-report-text {
    float: left;
    width: 100%;
    text-align:center;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    color:#000;
    padding: 18px 0 18px 0;
    margin: 20px 0 0 0;
}
.show-report-text h3{
    font-size: 31px;
    font-weight: bold;
    line-height: 30px;
    color:#c72e02;
    padding: 10px 0 0 0px;
}
.show-report-text p{
    padding: 5px 0 0 0px;
}
.cost-report-txt {
    float:left;
    width: 620px;
    font-size:14px;
    line-height:18px;
    color:black;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    padding: 24px 0 0 0;
    margin:26px 20px;
    border-top: 1px solid #d1e1ea;
}
.cost-report-txt h3{
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    color: black;
    padding: 0;
}
.cost-report-txt p {
    padding:5px 0 10px 0;
}
.show-btn-1 {
    width:379px;
    float:left;
    height:77px;
    margin:15px 0 25px 140px;
}
.show-btn-1 input {
    background: url("../images/show-btn-sprite.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:77px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:379px;
}
.show-btn-1 input:hover {
    cursor:pointer;
    background:url("../images/show-btn-sprite.png") no-repeat center -77px transparent;
    height:77px;
}

/************************** New or Existing Customer ******************************/


#main-section-new {
    float: left;
    width: 940px;
    background:#FFF;
    position:relative;
}
#checkout-section-new {
    float: left;
    width: 844px;
    background:transparent;
    position:relative;
}
.header-section-new {
    width: 940px;
    min-height:111px;
    float:left;
    position:relative;
    background:#FFF;
    padding:0;
}
.header-section-checkout {
    width: 836px;
    height:85px;
    position:relative;
    background: transparent url("../images/header_bluebg_checkout.jpg") repeat-x scroll 0 0;
    padding:0;
}
.header-section-checkout2 {
    width: 836px;
    height:85px;
    position:relative;
    /* background: transparent url("../images/header_bluebg_checkout.jpg") repeat-x scroll 0 0; */
    background-color: #30466D;
    padding:1px 0 0 0;
}
.header-section-logo {
    background: url("../images/logo_checkout.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 16px 0 0 8px;
    padding: 0 0 0 48px;
    text-align: left;
}
.header-section-logo2 {
    background: url("../images/logo_checkout.png") no-repeat scroll left top transparent;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    margin: 16px auto 0;
    padding: 0 0 0 48px;
    text-align: left;
    width: 276px;
}
.header-section-logo h3, .header-section-logo2 h3 {
    font-size: 30px !important;
    margin: 0;
    padding: 0 !important;
    color: #FFFFFF !important;
}
.logo-new {
    width: 430px;
    float:left;
    margin:25px 0 0 10px;
    position:relative;
}
.secure-logos {
    float: left;
    width: 425px;
    position:relative;
    padding:25px 0 0 60px;
}
.secure-logos img {
    padding:0 5px 0 0;
}
.checkout-section {
    float:left;
    width: 900px;
    background:url(../images/checkout-repeat.png) left top repeat-x #FFF;
    position:relative;
    padding:0 20px 50px 20px;
    border-bottom:1px solid #d7d7d7;
}
.checkout-section h3 {
    font-family:arial;
    font-size:32px;
    font-weight:bold;
    line-height:30px;
    color:#000;
    padding:20px 0;
}
.customer-container {
    float:left;
    width: 900px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
}
.customer-section {
    float:left;
    width: 435px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    padding:5px;
    background-color:#deeef8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.customer-section h3 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:16px;
    color:#000;
    padding:15px 0 20px 15px;
}
.customer-section-1 {
    float:left;
    width: 435px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    background-color:#deeef8;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin:0 0 0 10px;
    padding:5px;
}
.customer-section-1 h3 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:16px;
    color:#000;
    padding:15px 0 20px 15px;
}
.customer-inner-section {
    float:left;
    width: 405px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    background-color:#FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    padding:15px;
}
.customer-txt {
    float:left;
    width: 405px;
    font-size:16px;
    line-height:16px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
}
.customer-txt p {
    padding:20px 0 10px 0;
}
.proceed-btn {
    width:309px;
    float:left;
    height:61px;
    margin:55px 0 0 0;
}
.proceed-btn input {
    background: url("../images/proceed-btn-sprite.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:61px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:309px;
}
.proceed-btn input:hover {
    cursor:pointer;
    background:url("../images/proceed-btn-sprite.png") no-repeat center -61px transparent;
    height:61px;
}
.account-detail-box {
    width:400px;
    float:left;
    text-align:left;
    padding:7px 0 0 0;
}
.account-txt-box {
    width:120px;
    float:left;
    font-size:16px;
    line-height:26px;
    color:#000;
    font-weight:bold;
    text-align:left;
    padding:5px 0 5px 0;
}
.account-field-box {
    width:275px;
    float:left;
    height:36px;
}
.account-txtfield {
    width:263px;
    height:24px;
    border:1px solid #d7d7d7;
    background-color:#FFF;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    padding:5px;
    font-family:Arial;
    font-size:14px;
    text-align:left;
    font-weight:normal;
    line-height:18px;
    color:#000;
}
.sign-btn {
    width:130px;
    float:left;
    height:61px;
    margin:15px 0 0 120px;
}
.sign-btn input {
    background: url("../images/sign-btn-sprite.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:61px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:130px;
}
.sign-btn input:hover {
    cursor:pointer;
    background:url("../images/sign-btn-sprite.png") no-repeat center -61px transparent;
    height:61px;
}
.forgot-text {
    width:130px;
    float:left;
    font-family:arial;
    font-size:14px;
    color:#2a649a;
    text-align:center;
    font-weight:normal;
    padding:35px 0 0 10px;
}
.forgot-text a {
    color:#2a649a;
    text-decoration:underline;
}
.forgot-text a:hover {
    color:#e24d07;
    text-decoration:underline;
}

/************************** Select Payment ******************************/

.payment-container {
    float:left;
    width: 900px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    background-color:#1f2f4a;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
}
.price-section {
    width:840px;
    float:left;
    padding:15px 30px;
}
.item-txt-h {
    width:305px;
    float:left;
    font-family:Arial;
    font-size:16px;
    color:#FFF;
    text-align:left;
    font-weight:bold;
    padding:0;
}
.price-txt-h {
    width:60px;
    float:right;
    font-family:Arial;
    font-size:16px;
    color:#FFF;
    text-align:right;
    font-weight:bold;
    padding:0;
}
.payment-section {
    float:left;
    width: 890px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    background-color:#FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    margin:5px;
}
.payment-info-section {
    float:left;
    width: 890px;
    position:relative;
}
.payment-txt {
    float:left;
    width: 770px;
    font-size:14px;
    line-height:18px;
    color:#000;
    font-weight:normal;
    font-family:arial;
    text-align:left;
    position:relative;
    padding:20px 0 20px 30px;
}
.payment-txt h3 {
    font-family:arial;
    font-size:18px;
    font-weight:bold;
    line-height:20px;
    color:#000;
    padding:0;
}
.payment-txt p {
    font-weight:normal;
    padding:2px 0 10px 0;
}
.payment-txt-1 {
    float: left;
    width:230px;
    padding: 0;
}
.payment-txt-1 ul {
    margin:0px;
    padding: 0px;
    width:230px;
}
.payment-txt-1 li {
    list-style:none;
    font-family:Arial;
    font-size:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:18px;
    padding:5px 0 5px 33px;
    background:url(../images/tick.png) left top no-repeat;
}
.payment-txt-2 {
    float: left;
    width:300px;
    padding: 0;
}
.payment-txt-2 ul {
    margin:0px;
    padding: 0px;
    width:300px;
}
.payment-txt-2 li {
    list-style:none;
    font-family:Arial;
    font-size:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:18px;
    padding:5px 0 5px 33px;
    background:url(../images/tick.png) left top no-repeat;
}
.price-txt {
    float:left;
    width: 90px;
    font-size:18px;
    line-height:18px;
    color:#000;
    font-weight:bold;
    font-family:arial;
    text-align:right;
    position:relative;
}
.price-txt p {
    padding: 20px 30px 0 0;
}
.total-payment-txt {
    width: 830px;
    float:left;
    position:relative;
    background-color:#e4f4ff;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-top:1px solid #d7d7d7;
    padding:20px 30px;
}
.total-price-txt {
    width: 740px;
    float:left;
    position:relative;
    font-family:arial;
    font-size:32px;
    font-weight:bold;
    line-height:30px;
    text-align:right;
    color:#000;
}
.total-price-txt-1 {
    width: 90px;
    float:left;
    position:relative;
    font-family:arial;
    font-size:32px;
    font-weight:bold;
    line-height:30px;
    color:#c72e02;
    text-align:right;
}
.proceed-btn-1 {
    width:459px;
    float:right;
    height:77px;
    margin:20px 0 0 0;
}
.proceed-btn-1 input {
    background: url("../images/proceed-btn-sprite-1.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:77px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:459px;
}
.proceed-btn-1 input:hover {
    cursor:pointer;
    background:url("../images/proceed-btn-sprite-1.png") no-repeat center -77px transparent;
    height:77px;
}


/************************** Checkout ******************************/


.final-checkout-section {
    background:url(../images/mid_bgrepeat.png) left top repeat-y transparent;
    float: left;
    padding: 0 0 0 4px;
    width: 840px;
}
.final-checkout-section h3 {
    font-family:arial;
    font-size:32px;
    font-weight:bold;
    line-height:30px;
    color:#000;
    padding:20px 0;
}
.final-inner-section {
    border: 1px solid #B9CDDE;
    float: right;
    margin: 0 8px 0 0;
    width: 517px;
}
.step_form_sec_0606D {
    width: 472px;
    float: left;
    background-color: #e8f1fd;
    padding: 20px 20px 41px 25px;
}
.step_form_main_0606D {
    width: 470px;
    float: left;
    background-color: #fff;
    border: 1px solid #999;
}
.step_report_txt_0606D {
    width: 470px;
    float: left;
    font-family: Arial;
    font-size: 13px;
    color: #eb061e;
    font-weight: bold;
    text-align: center;
    padding: 8px 0 8px 0;
}
.step_report_txt_0606D2 {
    width: 470px;
    float: left;
    font-family: Arial;
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 8px 0 8px 0;
}
.step_form_inner_0606D2 {
    width: 470px;
    float: left;
    background-color: #e0fbbc;
    border-top: 1px solid #999;
}
.step_form_inner_0606D {
    width: 470px;
    float: left;
    background-color: #eeeeee;
    border-top: 1px solid #000000;
}
.form-field-1 {
    width:217px;
    float:left;
    margin:0 5px 0 0;
}
.form-txtbox-1 {
    width:213px;
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#384954;
    text-align:left;
    font-weight:normal;
    height:24px;
    line-height:22px;
    border:1px solid #ccc;
    background-color:#FFF;
    padding:2px;
}
.form-field-2 {
    width:69px;
    float:left;
    margin:0 5px 0 0;
}
.form-txtbox-2 {
    width:65px;
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#384954;
    text-align:left;
    font-weight:normal;
    height:24px;
    line-height:22px;
    border:1px solid #ccc;
    background-color:#FFF;
    padding:2px;
}
.form-field-3 {
    width:109px;
    float:left;
}
.report_payment_fields3_0606B12 {
    float: left;
    width: 844px;
    height: 12px;
}
.form-txtbox-3 {
    width:105px;
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#384954;
    text-align:left;
    font-weight:normal;
    height:24px;
    line-height:22px;
    border:1px solid #ccc;
    background-color:#FFF;
    padding:2px;
}
.what-txt {
    width:100px;
    float:left;
    font-family:arial;
    font-size:13px;
    text-align:left;
    font-weight:normal;
    line-height:32px;
    color:#225a90;
    padding:0 0 0 10px;
}
.what-txt a {
    color:#225a90;
    text-decoration:underline;
}
.what-txt a:hover {
    color:#225a90;
    text-decoration:none;
}
.payment-card {
    width:200px;
    float:left;
}
.payment-card > * {
    float:left;
}
.orderCardType {
    height: 30px;
    width: 20px;
    position: relative;
}
.orderCardType input {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}
.payment-card img {
    margin:0 5px 0 0;
}
.please-txt {
    width:110px;
    float:left;
    font-family:Arial;
    font-size:11px;
    color:#000;
    text-align:left;
    font-weight:normal;
    line-height:13px;
    padding:0 0 0 10px;
}
.you-txt {
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 13px;
    padding: 22px 11px;
    text-align: left;
    width: 448px;
}
.yes-btn {
    width:300px;
    float:left;
    height:41px;
    margin:25px;
}
.yes-btn input {
    margin: 0 0 5px;
}
.step_main_sec_0606D {
    float: left;
    padding: 0 0 6px;
    width: 836px;
}
.step_left_sec_0606D {
    float: left;
    margin: 0 0 0 15px;
    width: 281px;
}
.report_include1_sec_0606C {
    float: left;
    padding: 6px 0 20px;
    width: 281px;
}
.report_include1_0606C, .report_include1_0606C2 {
    float: left;
    padding: 0 0 22px;
    width: 281px;
}
.report_include1_0606C h3, .report_include1_0606C2 h3 {
    color: #454545;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    padding: 2px 0 0;
}
.report_include1_0606C ul, .report_include1_0606C2 ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 140px;
}
.report_include1_0606C li {
    background: url("../images/arrow_bullet_0606.png") no-repeat scroll left top transparent;
    color: #484848;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    list-style: none outside none;
    margin: 7px 0 0;
    padding: 0 0 0 18px;
    text-align: left;
    width: 122px;
}
.report_include1_0606C2 li {
    background: url("../images/tick.png") no-repeat scroll left top transparent;
    color: #484848;
    display: block;
    float: left;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
    list-style: none outside none;
    margin: 7px 0 0;
    padding: 4px 0 0 28px;
    height: 20px;
    text-align: left;
    width: 110px;
}
.report_include1_total_sec_0606C {
    float: right;
    width: 190px;
}
.total_sec1_0606C {
    border-bottom: 2px solid #E9F3FF;
    float: left;
    padding: 7px 0;
    width: 190px;
}
.report_include1_total_txt_0606C {
    color: #2C2C2C;
    float: left;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    text-align: right;
    width: 70px;
}
.report_include1_price_txt_0606C {
    color: #2C2C2C;
    float: left;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    padding: 0 12px 0 0;
    text-align: right;
    width: 108px;
}
.total_sec2_0606C {
    border-top: 1px solid #E9F3FF;
    float: left;
    padding: 7px 0;
    width: 190px;
}
.order_matter1_0606C {
    color: #303030;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    text-align: left;
    width: 281px;
}
.order_matter1_0606C p {
    padding: 0 0 12px;
}
.order_matter1_0606C span {
    color: #303030;
    font-size: 12px;
    font-weight: bold;
}
#timer_info {
    background-color: #DDDDDD;
    text-align: center;
    width: 836px;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    line-height: 30px;
}
.privacy_matter1_0606C {
    border: 1px solid #B9CDDE;
    color: #303030;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    margin: 10px 0 0;
    padding: 12px 4px;
    text-align: left;
    width: 272px;
}
.final-txt h3 {
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0 25px 16px;
    text-align: left;
    width: 454px;
}
.form_field_sec_0606D {
    float: left;
    padding: 9px 0 0;
    width: 470px;
}
.form_txt_0606D {
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 13px;
    line-height: 20px;
    padding: 0 8px 0 0;
    text-align: right;
    width: 127px;
}
.form_field_0606D {
    float: left;
    width: 335px;
}
.form-txtbox {
    background-color: #FFFFFF;
    border-color: #ACACAC #E2E2E4 #E2E2E4;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    text-align: left;
    width: 198px;
}
.visa_mastercard_0606D {
    float: left;
    padding: 5px 0 3px;
    width: 335px;
}
#OrderForm_ccType{
    background-color: #FFFFFF;
    border-color: #ACACAC #E2E2E4 #E2E2E4;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 1px;
    text-align: left;
    width: 200px;
}
.form_field1_0606D {
    float: left;
    margin: 0 4px 0 0;
}
#OrderForm_ccExpMonth, #OrderForm_ccExpYear {
    background-color: #FFFFFF;
    border-color: #ACACAC #E2E2E4 #E2E2E4;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 13px;
    height: 20px;
    line-height: 20px;
    padding: 1px;
    text-align: left;
    width: 80px;
}
#OrderForm_ccCVV {
    background-color: #FFFFFF;
    border-color: #ACACAC #E2E2E4 #E2E2E4;
    border-style: solid;
    border-width: 1px;
    color: #000000;
    float: left;
    font-family: Arial;
    font-size: 13px;
    height: 16px;
    line-height: 16px;
    text-align: left;
    width: 35px;
}
.form_txt1_0606D a {
    color: #0015AE;
    text-decoration: underline;
}
.form_txt1_0606D {
    color: #0015AE;
    float: left;
    font-family: Arial;
    font-size: 10px;
    line-height: 20px;
    padding: 0 0 0 9px;
    text-align: left;
    width: 127px;
}

/************************** Generic ******************************/

.content-matter-g {
    width:100%;
    float:left;
    font-family:Arial;
    font-size:13px;
    text-align:left;
    font-weight:normal;
    color:#000;
    line-height:18px;
    padding: 20px 0 10px 0;
    background:#FFF;
}
.content-matter-g h1 {
    font-family:Arial;
    font-size:30px;
    color: #751728;
    font-weight: bold;
    padding:12px 0 22px 20px;
}
.content-matter-g h2 {
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    line-height:18px;
    color:#000;
    padding:0 0 10px 20px;
}
.content-matter-g h3 {
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    line-height:18px;
    color:#000;
    padding:0 0 10px 20px;
}
.content-matter-g p {
    padding:0 20px 20px 20px;
}
.content-matter-g a {
    font-family:Arial;
    font-size:13px;
    color:#000;
    text-decoration:underline;
}
.content-matter-g a:hover {
    font-family:Arial;
    font-size:13px;
    color:#6c9f25;
    text-decoration:none;
}

.view-error-message {
    float:left;
    width: 464px;
    font-family:Arial;
    font-size:15px;
    color:#FFF;
    font-weight:normal;
    text-align:left;
    background-color:#c20000;
    border:1px solid #ff7070;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    line-height:22px;
    margin:2px 0 2px 2px;
}
.view-error-message p {
    padding:8px 14px;
}
.top_bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    padding: 0;
    width: 100%;
    background: transparent url("../images/topbarBg.jpg") repeat-x scroll left top;
    z-index: 100;
    text-align: center;
}
#contactBg {
    width: 360px;
    height: 31px;
    float: left;
    background: transparent url("../images/contactBg.png") no-repeat scroll left top;
    margin: 11px 0 0 0;
    color: white;
    font-size: 12px;
    line-height: 31px;
    text-align: left;
}
#topContact {
    margin: 0 0 0 44px;
}
#topPhone {
    margin: 0 0 0 58px;
}
#top_bar_in {
    width: 940px;
    margin: 0 auto;
    height: 54px;
    position: relative;
    padding: 6px 0 0 0;
}
#chat_button {
    float: right;
    width: 112px;
    height: 32px;
    background: transparent url("../images/chatBtn.png") no-repeat scroll left top;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 10px 0 0 0;
    text-align: center;
}
#chat_button:hover {
    text-decoration: none;
    background: transparent url("../images/chatBtn.png") no-repeat scroll left -33px;
    cursor: pointer;
}
#chat_button a {
    color: white;
    text-decoration: none;
    display: block;
    width: 112px;
    height: 32px;
    background-color: transparent;
}
#chatHours {
    color: #9EBCC8;
    font-size: 12px;
    float: right;
    margin: 20px 7px 0 0;
}
#login_button {
    float: right;
    width: 112px;
    height: 32px;
    background: transparent url("../images/loginBtn.png") no-repeat scroll left top;
    display: block;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 0;
    margin: 10px 0 0 9px;
    text-align: center;
}
#login_button:hover {
    text-decoration: none;
    background: transparent url("../images/loginBtn.png") no-repeat scroll left -33px;
    cursor: pointer;
}
#homepage #main-section {
    margin-top: 60px;
}
.down-arrow {
    background: url("../images/cost_down_arrow.png") no-repeat scroll left top transparent;
    width: 50px;
    height: 50px;
    position: absolute;
    left: 148px;
    top: 20px;
}
.cost-price {
    background: url("../images/cost_price.png") no-repeat scroll left 20px transparent;
    width: 185px;
    height: 80px;
    position: absolute;
    left: 45px;
    top: 42px;
    font-weight: bold;
    text-align: center;
}
.special-promo {
    background: url("../images/special_promo.png") no-repeat scroll left top transparent;
    width: 185px;
    height: 20px;
    position: absolute;
    left: 45px;
    top: 110px;
}
.special-promo-price {
    background: url("../images/now_just.png") no-repeat scroll left top transparent;
    width: 185px;
    height: 16px;
    position: absolute;
    left: 45px;
    top: 130px;
}
.cost-discount-today {
    background: url("../images/cost_discount_today.png") no-repeat scroll left top transparent;
    width: 207px;
    height: 154px;
    position: absolute;
    left: 32px;
    top: 140px;
}
.cost-price.discount {
    border-bottom: 1px solid #D1E1EA;
}

span.form-error{
    float: left;
    margin-top: 5px;
    color: red;
}
#top_bar_inner {
    height: 54px;
    margin: 0 auto;
    padding: 6px 0 0;
    position: relative;
    width: 940px;
}

/* CVV Tooltip start */
a.cvv {outline:none; }
a.cvv strong {line-height:30px;}
a.cvv:hover {text-decoration:none;} 
a.cvv span {
    z-index:10;display:none; padding:14px;
    margin-top:30px; margin-left:-70px;
    width:400px; line-height:16px;
}
a.cvv:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:-12px;border:0;left:32px;}

/*CSS3 extras*/
a.cvv span
{
    border-radius:4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    -moz-box-shadow: 5px 5px 8px #CCC;
    -webkit-box-shadow: 5px 5px 8px #CCC;
    box-shadow: 5px 5px 8px #CCC;
}
/* CVV Tooltip end */

/* Modal windows css */
.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-resizable{position:relative}.ui-resizable-handle{position:absolute;font-size:.1px;display:block}.ui-resizable-disabled .ui-resizable-handle,.ui-resizable-autohide .ui-resizable-handle{display:none}.ui-resizable-n{cursor:n-resize;height:7px;width:100%;top:-5px;left:0}.ui-resizable-s{cursor:s-resize;height:7px;width:100%;bottom:-5px;left:0}.ui-resizable-e{cursor:e-resize;width:7px;right:-5px;top:0;height:100%}.ui-resizable-w{cursor:w-resize;width:7px;left:-5px;top:0;height:100%}.ui-resizable-se{cursor:se-resize;width:12px;height:12px;right:1px;bottom:1px}.ui-resizable-sw{cursor:sw-resize;width:9px;height:9px;left:-5px;bottom:-5px}.ui-resizable-nw{cursor:nw-resize;width:9px;height:9px;left:-5px;top:-5px}.ui-resizable-ne{cursor:ne-resize;width:9px;height:9px;right:-5px;top:-5px}.ui-button{display:inline-block;position:relative;padding:0;line-height:normal;margin-right:.1em;cursor:pointer;vertical-align:middle;text-align:center;overflow:visible}.ui-button,.ui-button:link,.ui-button:visited,.ui-button:hover,.ui-button:active{text-decoration:none}.ui-button-icon-only{width:2.2em}button.ui-button-icon-only{width:2.4em}.ui-button-icons-only{width:3.4em}button.ui-button-icons-only{width:3.7em}.ui-button .ui-button-text{display:block;line-height:normal}.ui-button-text-only .ui-button-text{padding:.4em 1em}.ui-button-icon-only .ui-button-text,.ui-button-icons-only .ui-button-text{padding:.4em;text-indent:-9999999px}.ui-button-text-icon-primary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 1em .4em 2.1em}.ui-button-text-icon-secondary .ui-button-text,.ui-button-text-icons .ui-button-text{padding:.4em 2.1em .4em 1em}.ui-button-text-icons .ui-button-text{padding-left:2.1em;padding-right:2.1em}input.ui-button{padding:.4em 1em}.ui-button-icon-only .ui-icon,.ui-button-text-icon-primary .ui-icon,.ui-button-text-icon-secondary .ui-icon,.ui-button-text-icons .ui-icon,.ui-button-icons-only .ui-icon{position:absolute;top:50%;margin-top:-8px}.ui-button-icon-only .ui-icon{left:50%;margin-left:-8px}.ui-button-text-icon-primary .ui-button-icon-primary,.ui-button-text-icons .ui-button-icon-primary,.ui-button-icons-only .ui-button-icon-primary{left:.5em}.ui-button-text-icon-secondary .ui-button-icon-secondary,.ui-button-text-icons .ui-button-icon-secondary,.ui-button-icons-only .ui-button-icon-secondary{right:.5em}.ui-buttonset{margin-right:7px}.ui-buttonset .ui-button{margin-left:0;margin-right:-.3em}input.ui-button::-moz-focus-inner,button.ui-button::-moz-focus-inner{border:0;padding:0}.ui-dialog{position:absolute;top:0;left:0;padding:.2em;outline:0}.ui-dialog .ui-dialog-titlebar{padding:.4em 1em;position:relative}.ui-dialog .ui-dialog-title{float:left;margin:.1em 0;white-space:nowrap;width:90%;overflow:hidden;text-overflow:ellipsis}.ui-dialog .ui-dialog-titlebar-close{position:absolute;right:.3em;top:50%;width:21px;margin:-10px 0 0 0;padding:1px;height:20px}.ui-dialog .ui-dialog-content{position:relative;border:0;padding:.5em 1em;background:0;overflow:auto}.ui-dialog .ui-dialog-buttonpane{text-align:left;border-width:1px 0 0;background-image:none;margin-top:.5em;padding:.3em 1em .5em .4em}.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{float:right}.ui-dialog .ui-dialog-buttonpane button{margin:.5em .4em .5em 0;cursor:pointer}.ui-dialog .ui-resizable-se{width:12px;height:12px;right:-5px;bottom:-5px;background-position:16px 16px}.ui-draggable .ui-dialog-titlebar{cursor:move}.ui-widget{font-family:Verdana,Arial,sans-serif;font-size:1.1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Verdana,Arial,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #aaa;background:#fff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;color:#222}.ui-widget-content a{color:#222}.ui-widget-header{border:1px solid #aaa;background:#ccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;color:#222;font-weight:bold}.ui-widget-header a{color:#222}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #d3d3d3;background:#e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#555}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#555;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #999;background:#dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited{color:#212121;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #aaa;background:#fff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;font-weight:normal;color:#212121}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#212121;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #fcefa1;background:#fbf9ee url(images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;color:#363636}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#363636}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #cd0a0a;background:#fef1ec url(images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;color:#cd0a0a}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#cd0a0a}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#cd0a0a}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}.ui-widget-header .ui-icon{background-image:url(images/ui-icons_222222_256x240.png)}.ui-state-default .ui-icon{background-image:url(images/ui-icons_888888_256x240.png)}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url(images/ui-icons_454545_256x240.png)}.ui-state-active .ui-icon{background-image:url(images/ui-icons_454545_256x240.png)}.ui-state-highlight .ui-icon{background-image:url(images/ui-icons_2e83ff_256x240.png)}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url(images/ui-icons_cd0a0a_256x240.png)}.ui-icon-blank{background-position:16px 16px}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:4px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:4px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:4px}.ui-widget-overlay{background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{margin:-8px 0 0 -8px;padding:8px;background:#aaa url(images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;opacity:.3;filter:Alpha(Opacity=30);border-radius:8px}

.ui-dialog-titlebar-close {
    display: none !important;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}
