.comparison-section {
  background-image: none;
  background-color: white;
  padding: 1px 0 20px 0;
  min-height: 64px;
  margin: 25px auto 14px;
}
.compar-header {
  text-align: center;
  color: #868686;
  font-size: 30px;
  font-weight: normal;
  line-height: 36px;
  margin: 10px auto;
  padding: 0 20px;
}
.compar-header1 {
  color: #868686;
  font-weight: normal;
  margin: 0;
  position: relative;
  text-align: center;
  font-size: 20px;
}
.compar-content {
  margin: 20px 0 0 0;
}
.compar-block {
  font-size: 19px;
  text-align: center;
  color: #333;
  width: 306px;
  float:left;
}
.compar-img {
  width: 100%;
  height: 152px;
  margin: 0 0 20px 0;
}
#compar-img1 {
  background: transparent url(../images/block1.jpg) no-repeat scroll center;
}
#compar-img2 {
  background: transparent url(../images/block2.jpg) no-repeat scroll center;
}
#compar-img3 {
  background: transparent url(../images/block3.jpg) no-repeat scroll center;
}
#content_sec {
  background-image: none;
  background-color: white;
  min-height: 64px !important;
}
