{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<link href="ebookspecial/css/style.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<body id="homepage">
    <div class="top_bar">
        <div id="top_bar_inner">
            <div style="margin:0px;" class="header-section-logo"><h3>PropertyStudy.org</h3><p>Smarter Property Search!</p></div>
        </div>
    </div>
    <div id="main-container">
        <div id="main">
            <div id="main-section">
                <div id="ebookblock">
                    <div id="ebookmoneyback"><b>30 Days NO RISK Ebook Guarantee</b><br/>If you purchase these books and are not satisfied you can return them for a FULL refund within 30 days EVEN IF YOU READ THEM!</div>
                    <div id="ebookrightcontent">
                        <div id="ebookrightheader">We have recently partnered with one of the largest ebook publishers in the USA!</div>
                        <div id="ebookintroffer">
                            <div id="ebookintrofferheader">Over 95% savings! Get this ebook package for just $4.99!</div>
                            <div id="ebookintroleft-small" class="ebookofferintro">How To Make Your Home Sell<br/><span><strike>$21.99</strike></span></div>
                            <div id="ebookintroright-small" class="ebookofferintro">Guide To Buying Your Dream Home<br/><span><strike>$16.99</strike></span></div>
                            <div class="clear"></div>
                        </div>
                        <a href="{{ app.url_generator.generate('ebookspecialselect') }}" id="ebookintrocontinue" class="btnactive">CONTINUE TO REPORT</a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
  {% include 'seevolution.html.twig' %}
  {% include 'zendesk.html.twig' %}
</body>
{% endblock %}
