{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<link href="ebookspecial/css/style.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<body id="homepage">
    <div class="top_bar">
        <div id="top_bar_inner">
            <div style="margin:0px;" class="header-section-logo"><h3>PropertyStudy.org</h3><p>Smarter Property Search!</p></div>
        </div>
    </div>
    <div id="main-container">
        <div id="main">
            <div id="main-section">
                <div id="ebookblock">
                    <div id="ebookmoneyback"><b>30 Days NO RISK Ebook Guarantee</b><br/>If you purchase these books and are not satisfied you can return them for a FULL refund within 30 days EVEN IF YOU READ THEM!</div>
                    <div id="ebookrightcontent">
                        <div id="ebookintroffer">
                            <div id="ebookintrofferheader">Thank You For Ordering The Ebook Package</div>
                            <div id="ebookspecialthxtxt">
                                <div>You credit card statement wil show the $4.99 ebook package charge as:</div>
                                <div>&nbsp;</div>
                                <div>propertystudy.org $4.99</div>
                                <div>&nbsp;</div>
                                <div>Remember if you are at all dissatisfied with either book you can return one or both of them for a full refund within the next 30 days.</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <a href="{{ app.url_generator.generate('report') }}" id="ebookintrocontinue"></a>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
  {% include 'seevolution.html.twig' %}
  {% include 'zendesk.html.twig' %}
</body>
{% endblock %}
