{% extends "base.html.twig" %}
{% block head %}
{{ parent() }}
<link href="ebookspecial/css/style.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<body id="homepage">
    <div class="top_bar">
        <div id="top_bar_inner">
            <div style="margin:0px;" class="header-section-logo"><h3>PropertyStudy.org</h3><p>Smarter Property Search!</p></div>
        </div>
    </div>
    <div id="main-container">
        <div id="main">
            <div id="main-section">
                <div id="ebookblock">
                    <div id="ebookmoneyback"><b>30 Days NO RISK Ebook Guarantee</b><br/>If you purchase these books and are not satisfied you can return them for a FULL refund within 30 days EVEN IF YOU READ THEM!</div>
                    <form id="ebookrightcontent" action="" method="post">
                        <div id="ebookintroffer">
                            <div id="ebookintrofferheader">Over 95% savings! Get this ebook package for just $4.99!</div>
                            <div id="ebookinput">
                                <div class="left">
                                    {{ form_widget(form.ebooks[0]) }}
                                </div>
                                <div class="right">
                                    <div id="ebookintroleft-small-one" class="ebookofferselect">How To Make Your Home Sell<br/><span><strike>$21.99</strike></span></div>
                                    <div id="ebookintroright-small-two" class="ebookofferselect">Guide To Buying Your Dream Home<br/><span><strike>$16.99</strike></span></div>
                                </div>
                                <div class="clear"></div>
                            </div>
                            <div id="nothanks">
                                <div class="left">
                                    {{ form_widget(form.ebooks[1]) }}
                                </div>
                                <label for="EbookSpecial_ebooks_1" class="right">
                                    No thank you
                                </label>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div id="summary">
                            <div id="summaryheader">Order Summary</div>
                            <div class="summaryitem">
                                <div class="left">Ebook Package&nbsp;&nbsp;$</div>
                                <div class="right" id="makehomesell">4.99</div>
                            </div> 
                            <div class="summaryitem">
                                <div class="left">Subtotal&nbsp;&nbsp;$</div>
                                <div class="right" id="subtotal">4.99</div>
                            </div>
                            <div class="summaryitem">
                                <div class="left">Discount&nbsp;&nbsp;$</div>
                                <div class="right" id="discount">33.99</div>
                            </div>
                            <div class="summaryitem">
                                <div class="left">Shipping&nbsp;&nbsp;$</div>
                                <div class="right">0.00</div>
                            </div>
                            <div class="summaryitem" id="total">
                                <div class="left">Total&nbsp;&nbsp;$</div>
                                <div class="right" id="totalprice">4.99</div>
                            </div>			  
                            <div class="summaryitem" id="summarybottom">*Ebooks are sent to your email*</div>
                        </div>
                        <div id="ebookemailwrap">
                            <div id="ebookemail">
                                <div id="ebookemailhead">Enter The Email Where You Want Receive Your Ebooks</div>
                            {{ form_widget(form.emailAddress) }}
                            {% if error is defined and error %}
                                <div id="emailerror">{{ error }}</div>
                            {% endif %}
                            </div>
                            <div id="ebookemailbottom">Entering your email and clicking "continue" constitues your digital signature.</div>
                        </div>
                        <button type="submit" id="ebookintrocontinue" value="" class="btnactive">CONTINUE TO REPORT</button>
                        {{ form_rest(form) }}
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
    {% include 'seevolution.html.twig' %}
    {% include 'zendesk.html.twig' %}
    <script type="text/javascript">
     var ebook_yes = $('#EbookSpecial_ebooks_0');
     var ebook_no = $('#EbookSpecial_ebooks_1');
     ebook_no.click(function() {
       $('#ebookemail').css('display', 'none');
       $('#ebookemailbottom').css('display', 'none');
       $('.summaryitem .right').html('0.00');
     });
     ebook_yes.click(function() {
       $('#ebookemail').css('display', 'block');
       $('#ebookemailbottom').css('display', 'block');
       $('#makehomesell').html('4.99');
       $('#subtotal').html('4.99');
       $('#discount').html('33.99');
       $('#totalprice').html('4.99');
     });

     var btn = $('#ebookintrocontinue');
     var btnsubmitted = false;
     btn.click(function(ev){
       if (!btnsubmitted) {
	 btn.removeClass('btnactive').addClass('btndisabled').text('PROCESSING');
	 btnsubmitted = true;
	 return;
       } else {
	 ev.preventDefault();
	 return;
       } 
     });
    </script>
</body>
{% endblock %}
