@charset "utf-8";
/* CSS Document */

button::-moz-focus-inner {
  border: 0;
}
.topformfield {
    position: relative;
    float: left;
}
.topformfield label {
    position: absolute;
    top: 4px;
    left: 7px;
    font-size: 15px;
    color: #333;
}
#top_form {
    float: left;
    margin: 0 0 0 12px;
    width: 446px;
}
#top_form input {
    width: 215px;
    height: 18px;
    border: 1px solid #1872AC;
    padding: 2px;
    margin: 1px;
    background-color: white;
    font-size: 14px;
}
#top_form select {
    float: left;
    width: 221px;
    height: 24px;
    border: 1px solid #1872AC;
    padding: 2px;
    margin: 1px;
    background-color: white;
    font-size: 14px;
}
.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  padding: 0;
  width: 100%;
  background: transparent url("../../images/topbarBg.jpg") repeat-x scroll left top;
  z-index: 100;
  text-align: center;
}
#contactBg {
  width: 360px;
  height: 31px;
  float: left;
  background: transparent url("../../images/contactBg.png") no-repeat scroll left top;
  margin: 11px 0 0 0;
  color: white;
  font-size: 12px;
  line-height: 31px;
  text-align: left;
}
#topContact {
  margin: 0 0 0 44px;
}
#topPhone {
  margin: 0 0 0 58px;
}
#top_bar_in {
  width: 940px;
  margin: 0 auto;
  height: 54px;
  position: relative;
  padding: 6px 0 0 0;
}
#login_button {
  float: right;
  width: 112px;
  height: 32px;
  background: transparent url("../../images/loginBtn.png") no-repeat scroll left top;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 10px 0 0 9px;
  text-align: center;
}
#login_button:hover {
  text-decoration: none;
  background: transparent url("../../images/loginBtn.png") no-repeat scroll left -33px;
  cursor: pointer;
}
#topsearchbtn {
    background: transparent url("../../images/loginBtn.png") no-repeat scroll left top !important;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 14px;
    font-weight: bold;
    line-height: 32px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 112px !important;
    height: 32px !important;
    position: absolute;
    right: -2px;
    top: 14px;
    border: none !important;
    cursor: pointer;
}
#chat_button {
  float: right;
  width: 112px;
  height: 32px;
  background: transparent url("../../images/chatBtn.png") no-repeat scroll left top;
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 32px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  padding: 0;
  margin: 10px 0 0 0;
  text-align: center;
}
#chat_button:hover {
  text-decoration: none;
  background: transparent url("../../images/chatBtn.png") no-repeat scroll left -33px;
  cursor: pointer;
}
#chat_button a {
  color: white;
  text-decoration: none;
  display: block;
  width: 112px;
  height: 32px;
  background-color: transparent;
}
#chatHours {
  color: #9EBCC8;
  font-size: 12px;
  float: right;
  margin: 20px 7px 0 0;
}



html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
    background: #fff url(../images/body-bg-report.jpg) top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:0;
    padding: 0;
	font-family: Arial, Geneva, Verdana, sans-serif;
    height: 100%;
}
body.noscroll
{
    overflow-y: hidden;
}
.body1 {
	margin:0px;
	padding:0px;
	background:#FFF;
	font-family: Arial, Geneva, Verdana, sans-serif;
}
a:hover,
a:active {
  outline: 0;
}
img {
  width: auto;
  height: auto !important;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}
div, h1, h2, h3, h4, h5, h6, span, p, ul, li, img {
	margin: 0;
	padding: 0;
}
img {
	border:none;
}
.clear {
	clear: both;
}

#main-container {
	float:left;
	width: 100%;
}
#main {
	margin:0 auto;
	width: 960px;
}
#main-section {
	float: left;
	width: 960px;
	position:relative;
}
#main-inner-section {
	float: left;
	width: 940px;
	border-left: 1px solid #c3c3c3;
	border-right: 1px solid #c3c3c3;
	border-bottom: 1px solid #c3c3c3;
	border-top:none;
	background:#e8e8e8;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	padding:0 9px 9px 9px;
	position:relative;
}
#report-customer {
  position: absolute;
  top: 6px;
  right: 0;
  width: 200px;
  height: 60px;
  font-size: 12px;
  color: #666666;
}
.record-head {
	float: left;
	width: 940px;
	text-align:center;
	background:url(../images/record-head.png) center top no-repeat;
	position:relative;
}
.record-head h3 {
	font-family:arial;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	line-height:24px;
	padding:20px 0 10px 0;
}
.record-head h4 {
	font-family:arial;
	font-size:32px;
	font-weight:bold;
	text-align:center;
	color:#c72e02;
	line-height:24px;
	padding:20px 0;
}
#property-section {
	width: 920px;
	float:left;
	position:relative;
	border: 1px solid #c3c3c3;
	background:url(../images/box-section-bg.png) left top repeat-x #F1F1F1;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	padding:9px;
	margin:0 0 20px 0;
}
.property-inner-section {
	width: 920px;
	float:left;
	position:relative;
}
.slider-section {
	width: 440px;
	float:left;
	position:relative;
	padding:0 20px 0 0;
}
.property-information {
	width: 460px;
	float:left;
	position:relative;
}
.property-inner-info {
	width: 460px;
	float:left;
	position:relative;
	padding: 0 0 20px 0;
}
.property-info {
	width: 210px;
    padding: 0 10px 0 0;
	float:left;
	font-family:arial;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
	text-align:left;
	color:#2e2d2d;
	position:relative;
}
.property-info p {
	padding:10px 0 0 0;
}
.property-info p span {
	font-weight:bold;
}
.property-info-1 {
	width: 240px;
	float:left;
	font-family:arial;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
	text-align:left;
	color:#2e2d2d;
	position:relative;
}
.property-info-1 p {
	padding:10px 0 0 0;
}
.property-info-1 p span {
	font-weight:bold;
}
.property-description {
	width: 460px;
	float:left;
	font-family:arial;
	font-size:14px;
	font-weight:normal;
	line-height:18px;
	text-align:left;
	color:#2e2d2d;
	position:relative;
	border-top:1px solid #c6c6c6;
	padding:20px 0 0 0;
}
.property-description h3 {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	color:#2e2d2d;
}
.property-description p {
	padding:0 0 12px 0;
}
.more {
	width:155px;
	float:left;
	font-family:Arial;
	font-size:14px;
	text-align:left;
	color:#155ba3;
	font-weight:normal;
	line-height:18px;
	text-decoration:none;
	padding: 0 0 0 15px;
	background:url(../images/more-arrow.png) left 6px no-repeat;
}
.more a {
	color:#155ba3;
}
.more a:hover {
	color:#155ba3;
}
.more.active_btn {
    background:url(../images/more-arrow1.png) left 6px no-repeat;
}
#view-section {
	width: 900px;
	float:left;
	position:relative;
	border: 1px solid #c3c3c3;
	background:url(../images/box-section-bg.png) left top repeat-x #F1F1F1;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	padding:19px;
	margin:0 0 20px 0;
}
.view-description {
	width: 440px;
	float:left;
	position:relative;
	padding:5px 20px 0 0;
}
.view-description h3 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	color:#404040;
	padding:0 0 6px 0;
}
.view-description img {
	padding:0;
}
.view-description-1 {
	width: 440px;
	float:left;
	position:relative;
	padding:5px 0 0 0;
}
.view-description-1 h3 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:24px;
	color:#404040;
	padding:0 0 6px 0;
}
.view-description-1 img {
	padding:0;
}
#records-section {
	width: 940px;
	float:left;
	position:relative;
	margin:0 0 20px 0;
}
.zip-section {
	width: 279px;
	float:left;
	position:relative;
	border: 1px solid #c3c3c3;
	background:url(../images/box-section-bg.png) left top repeat-x #F1F1F1;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	padding:19px 0 19px 19px;
	margin:0 20px 0 0;
}
.zip-section h3 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:24px;
	color:#404040;
	padding:10px 0;
}
.zip-section h4 {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	line-height:18px;
	color:#c72e02;
	padding:5px 0 0 0;
}
.zip-record-section {
	width:260px;
	float:left;
	position:relative;
	padding:20px 0 0 0;
}
.zip-record-info {
	width:260px;
	float:left;
	position:relative;
}
.zip-text {
	width:105px;
	float:left;
	font-family:Arial;
	font-size:14px;
	text-align:left;
	color:#404040;
	font-weight:bold;
	line-height:17px;
}
.zip-text-1 {
	width:155px;
	float:left;
	font-family:Arial;
	font-size:14px;
	text-align:left;
	color:#404040;
	font-weight:normal;
	line-height:17px;
}
.crime-section {
	width: 618px;
	float:left;
	position:relative;
	border: 1px solid #c3c3c3;
	background:url(../images/box-section-bg.png) left top repeat-x #F1F1F1;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
}
.crime-info {
	width: 290px;
	float:left;
	position:relative;
	padding:19px 0 19px 16px;
}
.crime-info h3 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:24px;
	color:#404040;
	padding:10px 0;
}
.crime-info h4 {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	line-height:18px;
	color:#c72e02;
	padding:5px 0 0 0;
}
#property-crime-map {
	width: 300px;
    height: 250px;
	float:right;
	position:relative;
    margin: 5px;
}
#data-section {
	width: 938px;
	float:left;
	position:relative;
	border: 1px solid #c3c3c3;
	background:url(../images/box-section-bg.png) left top repeat-x #F1F1F1;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	margin:0 0 20px 0;
	padding:19px 0;
}
#data-section h3 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:24px;
	color:#404040;
	padding:0 0 10px 19px;
}
.data-record-section {
	width:265px;
	float:left;
	position:relative;
	padding:10px 20px;
	border-right:1px solid #cbcbcb;
}
.data-record-section-1 {
	width:286px;
	float:left;
	position:relative;
	padding:10px 20px;
	border-right:1px solid #cbcbcb;
}
.data-record-section-2 {
	width:265px;
	float:left;
	position:relative;
	padding:10px 20px;
}
.data-info {
	width:265px;
	float:left;
	position:relative;
}
.data-info-1 {
	width:286px;
	float:left;
	position:relative;
}
.data-text {
	max-width:165px;
	float:left;
	font-family:Arial;
	font-size:14px;
	text-align:left;
	color:#383838;
	font-weight:normal;
	line-height:25px;
}
.data-text-1 {
	min-width:100px;
	float:right;
	font-family:Arial;
	font-size:14px;
	text-align:right;
	color:#383838;
	font-weight:normal;
	line-height:25px;
}
.data-text-2 {
	width:196px;
	float:left;
	font-family:Arial;
	font-size:14px;
	text-align:left;
	color:#383838;
	font-weight:normal;
	line-height:25px;
}
.data-text-3 {
	width:90px;
	float:left;
	font-family:Arial;
	font-size:14px;
	text-align:right;
	color:#383838;
	font-weight:normal;
	line-height:25px;
}
#nearby-section {
	width: 940px;
	min-height:545px;
	float:left;
	position:relative;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	margin:0 0 20px 0;
}
.nearby-section {
	width: 601px;
	min-height:505px;
	float:left;
	position:relative;
	border: 1px solid #c3c3c3;
	border-right: none;
	background:url(../images/box-section-bg.png) left top repeat-x #F1F1F1;
	border-radius: 7px 0 0 7px;
	-moz-border-radius: 7px 0 0 7px;
	-webkit-border-radius: 7px 0 0 7px;
	-o-border-radius: 7px 0 0 7px;
	padding:19px;
    overflow: hidden;
}
.nearby-section h3 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	line-height:24px;
	color:#404040;
	padding:0;
}
.nearby-section p {
	font-family:arial;
	font-size:14px;
	font-weight:normal;
	line-height:17px;
	color:#404040;
	padding:0 0 20px 0;
}
.school-info-section {
	width:601px;
	float:left;
	position:relative;
}
.school-info-heading {
	width:601px;
	float:left;
	position:relative;
	padding:8px 0;
	border-top:1px solid #cacaca;
	border-bottom:1px solid #cacaca;
}
.school-txt-head {
	width:230px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#007eaa;
	text-align:left;
	font-weight:normal;
}
.grades-txt-head {
	width:85px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#007eaa;
	text-align:center;
	font-weight:normal;
}
.distance-txt-head {
	width:95px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#007eaa;
	text-align:center;
	font-weight:normal;
}
.rating-txt-head {
	width:175px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#007eaa;
	text-align:center;
	font-weight:normal;
}
.rating-txt-heading {
	width:175px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#007eaa;
	text-align:center;
	font-weight:normal;
}
.rating-section {
	width:155px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#007eaa;
	text-align:center;
	font-weight:normal;
	padding:7px 0 3px 20px;
}
.rating-red {
	width:23px;
	min-height:23px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	background:url(../images/red-circle.png) center top no-repeat;
	position:relative;
}
.rating-green {
	width:23px;
	min-height:23px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	background:url(../images/green-circle.png) center top no-repeat;
	position:relative;
}
.rating-text {
	width:45px;
	float:left;
	font-family:arial;
	font-size:12px;
	color:#404040;
	text-align:left;
	font-weight:normal;
	position:relative;
	padding:5px 0 0 5px;
}
.schools-info-section {
	width:601px;
	float:left;
	position:relative;
	padding:12px 0;
	border-bottom:1px dashed #cacaca;
}
.schools-info-section-1 {
	width:601px;
	float:left;
	position:relative;
	padding:12px 0;
}
.schools-info {
	width:601px;
	float:left;
	position:relative;
	padding:3px 0;
}
.school-text {
	width:230px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#404040;
	text-align:left;
	text-decoration:none;
	font-weight:normal;
}
.school-text a {
	color:#404040;
	text-decoration:none;
}
.school-text a:hover {
	color:#155ba3;
	text-decoration:underline;
}
.grades-text {
	width:85px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#404040;
	text-align:center;
	font-weight:bold;
}
.distance-text {
	width:95px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#404040;
	text-align:center;
	font-weight:bold;
}
.na-text {
	width:175px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#404040;
	text-align:center;
	font-weight:normal;
}
.rating-red-1 {
	width:175px;
	min-height:23px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	background:url(../images/red-circle.png) center top no-repeat;
	position:relative;
}
.rating-yellow {
	width:175px;
	min-height:23px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	background:url(../images/yellow-circle.png) center top no-repeat;
	position:relative;
}
.rating-green-1 {
	width:175px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:23px;
	color:#FFF;
	text-align:center;
	font-weight:bold;
	background:url(../images/green-circle.png) center top no-repeat;
	position:relative;
}
.overview-section {
	width: 300px;
	min-height:545px;
	float:left;
	position:relative;
	background:#007eaa;
	border-radius: 0 7px 7px 0;
	-moz-border-radius: 0 7px 7px 0;
	-webkit-border-radius: 0 7px 7px 0;
	-o-border-radius: 0 7px 7px 0;
}
.rating-h-text {
	width:280px;
	float:left;
	background:url(../images/rating-h-bg.png) left top repeat-x #00699c;
	border-bottom:1px solid #2bb1d8;
	border-radius: 0 7px 0 0;
	-moz-border-radius: 0 7px 0 0;
	-webkit-border-radius: 0 7px 0 0;
	-o-border-radius: 0 7px 0 0;
	position:relative;
	padding:0 0 10px 20px;
}
.rating-h-text h3 {
	font-family:arial;
	font-size:20px;
	color:#FFF;
	text-align:left;
	font-weight:bold;
}
.rating-h-text img {
	margin:15px 0 5px 0;
}
.school-rating-text.active-accordion {
    background:url(../images/rating-text-bg.png) left top repeat-x #22A9CA;
}
.school-rating-text {
	width:290px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#FFF;
	text-align:left;
	font-weight:normal;
	background-image: none;
    background-color: #007EAA;
	position:relative;
	padding:0 0 15px 10px;
}
.school-rating-text-1 h3 {
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#ffc560;
	text-align:left;
	font-weight:bold;
	background:url(../images/plus-icon.png) left 17px no-repeat;
	padding:15px 20px 0 20px;
}
#reports-section {
	width:940px;
	float:left;
	position:relative;
	padding:10px 0 20px 0;
}
.reports-text {
	width:940px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#383838;
	text-align:center;
	font-weight:normal;
	position:relative;
}
.reports-text h3 {
	font-family:arial;
	font-size:30px;
	line-height:30px;
	color:#383838;
	text-align:center;
	font-weight:bold;
}
.reports-text h3 span {
	color:#c72e02;
}
.reports-text p {
	padding:15px 10px;
}
.data-source-text {
	width:300px;
	float:left;
	font-family:arial;
	font-size:13px;
	line-height:16px;
	color:#383838;
	text-align:center;
	font-weight:normal;
	position:relative;
	padding:0 20px 0 0;
}
.data-source-text h3 {
	font-family:arial;
	font-size:16px;
	line-height:18px;
	color:#c72e02;
	text-align:center;
	font-weight:bold;
}
.data-source-text p {
	padding:5px 0 0 10px;
}
.data-source-text img {
	margin:5px 0 10px 0;
}
.customer-text {
	width:280px;
	float:left;
	font-family:arial;
	font-size:13px;
	line-height:16px;
	color:#383838;
	text-align:center;
	font-weight:normal;
	position:relative;
	padding:0 10px;
}
.customer-text h3 {
	font-family:arial;
	font-size:16px;
	line-height:18px;
	color:#c72e02;
	text-align:center;
	font-weight:bold;
}
.customer-text p {
	padding:5px 0 0 0;
}
.customer-text img {
	margin:5px 0 9px 0;
}
#neighborhood-section {
	width: 900px;
	float:left;
	position:relative;
	border: 1px solid #c3c3c3;
	background:url(../images/box-section-bg.png) left top repeat-x #F1F1F1;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	padding:19px;
	margin:0 0 20px 0;
}
.neighborhood-info {
	width: 440px;
	float:left;
	position:relative;
	padding:0 20px 0 0;
}
.neighborhood-info h3 {
	font-family:arial;
	font-size:20px;
	font-weight:bold;
	color:#404040;
	padding:0;
}
.neighborhood-info-section {
	width:440px;
	float:left;
	position:relative;
	padding: 0 0 10px 0;
}
.neighborhood-info-heading {
	width:440px;
	float:left;
	position:relative;
	padding:8px 0;
}
.neighborhood-information {
	width:440px;
	float:left;
	position:relative;
}
.zestimate-txt-head {
	width:175px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#404040;
	text-align:left;
	font-weight:bold;
}
.value-txt-head {
	width:125px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#404040;
	text-align:left;
	font-weight:bold;
}
.range-txt-head {
	width:135px;
	float:left;
	font-family:arial;
	font-size:14px;
	color:#404040;
	text-align:left;
	font-weight:bold;
}
.zestimate-text {
	width:175px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:20px;
	color:#c72e02;
	text-align:left;
	font-weight:bold;
}
.value-text {
	width:125px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:20px;
	color:#404040;
	text-align:left;
	font-weight:normal;
}
.range-text {
	width:135px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:20px;
	color:#404040;
	text-align:left;
	font-weight:normal;
}
.market-text {
	width:440px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#404040;
	text-align:left;
	font-weight:normal;
	position:relative;
	padding:10px 0 0 0;
	border-top:1px solid #cacaca;
}
.market-text h3 {
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#c72e02;
	text-align:left;
	font-weight:bold;
}
.market-text p {
	padding:0 0 20px 0;
}
.guide-text {
	width:400px;
	float:left;
	font-family:arial;
	font-size:13px;
	line-height:17px;
	color:#404040;
	text-align:left;
	font-weight:normal;
	background:url(../images/listing-bg.png) left top repeat-x #fafafa;
	border:1px solid #c5c5c5;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-o-border-radius: 7px;
	position:relative;
	padding:15px 19px 0 19px;
}
.guide-text p {
	padding:0 0 15px 0;
}
#school-rating-accordion h3 {
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#ffc560;
	text-align:left;
	font-weight:bold;
	padding:15px 20px 0 20px;
    cursor: pointer;
    outline: none !important;
    border: none !important;
    position: relative;
    display: block;
}
.values-section {
	width: 440px;
	float:left;
	position:relative;
	padding:0;
}
.values-section h3 {
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#404040;
	text-align:left;
	font-weight:normal;
	background:url(../images/walk-icon.png) left 10px no-repeat;
	padding:15px 0 0 20px;
}
.values-section h3 span{
	font-family:arial;
	font-size:16px;
	line-height:17px;
	color:#c72e02;
	text-align:left;
	font-weight:bold;
	padding:15px 20px 0 0;
}
.values-section p{
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#404040;
	text-align:left;
	font-weight:normal;
	padding:15px 0 0 0;
}

.walkers-section {
	width: 440px;
	float:left;
	position:relative;
	padding:10px 0 0 0;
}
.walkers-section-1 {
	width: 440px;
	float:left;
	position:relative;
}
.counting-text {
	width: 60px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#c72e02;
	text-align:left;
	font-weight:bold;
	padding:10px 0 0 0;
}
.walkers-text {
	width: 380px;
	float:left;
	padding:10px 0 0 0;
}
.walkers-text p{
	font-family:arial;
	font-size:12px;
	line-height:17px;
	color:#404040;
	text-align:left;
	font-weight:normal;
	padding:0;
}
.walkers-text p span{
	font-weight:bold;
}
.weather-text {
	width:940px;
	float:left;
	font-family:arial;
	font-size:14px;
	line-height:17px;
	color:#383838;
	text-align:center;
	font-weight:normal;
	position:relative;
}
.weather-text h3 {
	font-family:arial;
	font-size:30px;
	line-height:30px;
	color:#383838;
	text-align:center;
	font-weight:bold;
	padding:0 0 10px 0;
}
.weather-text h3 span {
	color:#c72e02;
}
div.weather {
    background-color: transparent;
}
div.weather div.nearby {
    background: url("../images/weather/nearby.png") no-repeat scroll left top transparent;
    margin-bottom: 45px;
    padding: 60px 0 0;
    width: 100%;
}
div.weather div.nearby ul {
    background: url("/images/weather/nearby-bk.png") repeat-y scroll left top transparent;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
div.weather div.nearby ul li {
    float: left;
    height: 37px;
    line-height: 37px;
    list-style: none outside none;
    margin: 0;
    padding: 0 18px;
    width: 444px;
}
div.weather div.conditions {
    background: url(../images/weather/conditions.png) no-repeat scroll left top transparent;
    color: #FFFFFF;
    height: 170px;
    margin-bottom: 15px;
    padding: 86px 0 0;
    position: relative;
    width: 100%;
}
div.weather div.conditions .last-updated {
    font-size: 11px;
    height: 34px;
    line-height: 34px;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 20px;
    width: 275px;
}
div.weather div.conditions .frm {
    float: left;
    font-size: 12px;
    padding: 0 20px;
}
div.weather div.conditions .frm ul {
    margin: 0;
    padding: 0;
}
div.weather div.conditions .frm ul li {
    list-style: none outside none;
}
div.weather div.conditions h3 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: normal;
    line-height: 10px;
}
div.weather div.conditions .weather {
    width: 110px;
}
div.weather div.conditions .wind {
    width: 110px;
}
div.weather div.conditions .preasure {
    width: 110px;
}
div.weather div.conditions .heat {
    width: 100px;
}
div.weather div.conditions .feels-like {
    width: 100px;
}
div.weather div.conditions .solar {
    width: 170px;
}
div.forecast-main {
    background: url(../images/weather/forecast-main.png) no-repeat scroll left top transparent;
    height: 623px;
    margin-bottom: 45px;
    width: 100%;
}
div.forecast-main ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 80px 20px 10px 23px;
}
div.forecast-main ul li {
    color: #595761;
    float: left;
    height: 200px;
    list-style: none outside none;
    margin: 0;
    padding: 30px 12px;
    text-align: center;
    width: 204px;
}
div.forecast-main ul li h5 {
    color: #FB5252;
}
div.forecast-main ul li.dark {
    color: #FFFFFF;
}
div.forecast-main ul li.dark h5 {
    color: #00C0FF;
}
div.forecast {
    background: url(../images/weather/forecast.png) no-repeat scroll left top transparent;
    float: left;
    height: 70px;
    padding: 130px 0 0 100px;
    width: 840px;
}
div.forecast ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
div.forecast ul.sun {
    float: left;
    width: 350px;
}
div.forecast ul.moon {
    float: right;
    width: 404px;
}
div.forecast ul li.first {
    border-right: 1px solid #7A7A7A;
}
div.forecast ul li {
    float: left;
    padding-left: 30px;
    width: 136px;
}
#faq-section {
	width: 958px;
	float: left;
	position:relative;
	background:#c7deed;
	border:1px solid #8ba5b8;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	margin:20px 0 0 0;
	padding:0 0 20px 0;
}
#faq-section h3 {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
	line-height:18px;
	text-align:left;
	color:#c72e02;
	padding:10px 0 10px 20px;
    cursor: pointer;
    position: relative;
    display: block;
}
#faq-section h4 {
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	line-height:18px;
	text-align:center;
	color:#404040;
	padding:35px 0 20px 0;
}
code {
	overflow:auto;
}

.footer-section {
	float: left;
	width: 960px;
	padding: 30px 0 20px 0;
}
.footer {
	width:960px;
	float:left;
	position:relative;
	font-size:12px;
	line-height:15px;
	text-align:center;
	font-family:Arial;
	font-weight:normal;
	color:#0093bc;
}
.footer p {
	padding:0 0 25px 0;
}
.copyright-text {
	width:960px;
	float:left;
	font-family:arial;
	font-size:12px;
	color:#0093bc;
	text-align:center;
	font-weight:normal;
}
.copyright-text a {
	color:#0093bc;
	text-decoration:none;
}
.copyright-text a:hover {
	color:#0093bc;
	text-decoration:underline;
}
.zillow-logo {
	width:960px;
	float:left;
	text-align:center;
	font-weight:normal;
}
.zillow-logo img {
	margin: 20px 0;
}
#zestimate-map {
    width: 440px;
    height: 315px;
}
#ebook_section {
    background: none repeat scroll 0 0 #E8E8E8;
    border-color: -moz-use-text-color #C3C3C3 #C3C3C3;
    border: 1px solid #C3C3C3;
    border-radius: 10px;
    float: left;
    padding: 12px;
    position: relative;
    width: 934px;
    margin: 20px 0 0 0;
    text-align: center;
}
#ebook_section h3 {
    color: #383838;
    font-family: arial;
    font-size: 30px;
    font-weight: bold;
    line-height: 34px;
    text-align: center;
}
#ebook_section a {
    color: #C72E02;
    font-family: arial;
    font-size: 20px;
    font-weight: bold;
    line-height: 34px;
}

/************************** Generic ******************************/

.content-matter-g {
	width:100%;
	float:left;
	font-family:Arial;
	font-size:13px;
	text-align:left;
	font-weight:normal;
	color:#000;
	line-height:18px;
	padding: 20px 0 10px 0;
	background:#FFF;
}
.content-matter-g h1 {
	font-family:Arial;
	font-size:30px;
	color: #0093bc;
	font-weight: bold;
	padding:12px 0 22px 20px;
}
.content-matter-g h2 {
	font-family:Arial;
	font-size:24px;
	font-weight:bold;
	line-height:18px;
	color:#0093bc;
	padding:0 0 10px 20px;
}
.content-matter-g h3 {
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	line-height:18px;
	color:#0093bc;
	padding:0 0 10px 20px;
}
.content-matter-g p {
	padding:0 20px 20px 20px;
}
.content-matter-g a {
	font-family:Arial;
	font-size:13px;
	color:#0093bc;
	text-decoration:underline;
}
.content-matter-g a:hover {
	font-family:Arial;
	font-size:13px;
	color:#0093bc;
	text-decoration:none;
}

#galleria{
    width: 440px;
    height: 400px;
    background: transparent;
    overflow: hidden;
    padding: 0 20px 2px 0;
}
#galleria img {
    margin: 0 auto;
    display: block;
}
#birdeye {
    width: 440px;
    height: 280px;
}
#streetview {
    width: 440px;
    height: 280px;
}
#school-rating-accordion {
    float: left;
    padding: 0;
    min-height: 464px;
    background-color: transparent;
    border-radius: 0 7px 7px 0;
    overflow: hidden;
}
.ui-accordion-header-icon {
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0px;
    top: 17px;
    display: block;
}
#accordion h3 {
    border: none !important;
    outline: none !important;
    color: #C72E02;
    font-family: arial;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    padding: 10px 0 10px 37px;
    text-align: left;
    background: none repeat scroll 0 0 #C7DEED;
}
#accordion div {
    background: none repeat scroll 0 0 #E2EFF7;
    font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0;
    padding: 0 10px 10px 40px;
}
#accordion .ui-accordion-header-active {
    background-color: #E2EFF7;
}
#accordion .ui-accordion-header-icon {
    top: 13px;
    left: 19px;
}
.accordion-open, .collapse-open {
    background: none repeat scroll 0 0 #E2EFF7;
}
.ui-icon-circle-e {
    background: url("../images/plus-icon-1.png") no-repeat scroll left top transparent;
}
.ui-state-hover .ui-icon-circle-e {
    background: url("../images/plus-icon.png") no-repeat scroll left top transparent;
}
.ui-icon-circle-s {
    background: url("../images/minus-icon-1.png") no-repeat scroll left top transparent;
}
.ui-state-hover .ui-icon-circle-s {
    background: url("../images/minus-icon.png") no-repeat scroll left top transparent;
}
#offender-photo {
    float: right;
    width: 240px;
    margin: 4px auto;
}
#offender-photo img {
    width: 200px !important;
}
#more_less, #more_less:focus {
    outline: none;
}
#more_less_text {
    height: 80px;
    overflow: hidden;
}
#zillow-widget {
    width: 440px;
    height: 315px;
}
button:focus, button:active {
    outline: none;
}
.school-rating-text p {
    padding: 15px 20px 5px;
}
#other-data-columns {
    text-align: left;
    font-size: 14px;
    width: 100%;
    color: #C72E02;
    margin: 8px 0 12px 0;
}
#other-data-columns .item {
    float: left;
    width: 286px;
    padding: 0 0 0 20px;
    font-weight: bold;
}
#other-data-columns .i2 {
    width: 305px;
}
#other-data-columns .i3 {
    width: 278px;
}

/* start report popup styles */

#popup1 {
    position: relative;
    display: none;
}
#popup1_email {
    
}
#popup1_txt {
    width: 100%;
    margin: 58px 0 0 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    text-align: center;
}
#popup1_txt a {
    color: #e55207;
    font-family: Arial,sans-serif;
    font-size: 14px;
    margin: 0 0 14px 0;
    font-weight: bold;
    border: none;
    outline: none;
}
.popup1 .ui-dialog-titlebar {
    display: none !important;
}
.popup1 {
    background: transparent url("../../images/popup1.png") no-repeat scroll left top;
}
#report_miss {
    background: transparent url("../../images/report_miss.png") no-repeat scroll left top;
    position: fixed !important;
    right: 12px;
    bottom: 148px;
    width: 263px;
    height: 59px;
    z-index: 101;
    cursor: pointer;
}
.popup1 .ui-button {
    width: 164px;
    height: 62px;
    padding: 0 !important;
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left top;
    border: none;
    color: white;
    margin: 0 0 0 156px !important;
    position: relative;
    bottom: 90px;
    float: left;
    
}
.popup1 .ui-button:hover {
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left -63px;
}
.popup1 .ui-button span {
    font-family: Arial, sans-serif;
    font-size: 26px !important;
    font-weight: bold;
    line-height: 28px;
    float: left;
    display: block;
    position: absolute;
    left: 26px;
    top: 13px;
}
.popup1 .ui-dialog-buttonset {
    width: 508px;
}

#popup2 {
    position: relative;
    display: none;
}
.popup2 .ui-dialog-titlebar {
    display: none !important;
}
.popup2 {
    background: transparent url("../../images/popup2.png") no-repeat scroll left top;
}
#popup2_txt {
    width: 100%;
    text-align: center;
    margin: 74px 0 0 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
}

#popup_form_div {
    display: none;
    margin: 0;
    padding: 50px 0 0 0;
    background: transparent url("../../images/popup_form.png") no-repeat scroll left top;
}
#popup_form {
    position: relative;
    margin: 0 0 0 17px;
}
.popup_form .ui-dialog-titlebar {
    display: none !important;
}
.popup_form {
    background: transparent url("../../images/popup_form_flex.png") repeat-x scroll left top;
}
#popup_form input[type=text] {
    width: 214px;
    height: 26px;
    padding: 3px;
    margin: 0;
}
#popup_form label {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 2px 0;
    width: 210px;
}
#popup_form textarea {
    width: 458px;
    height: 118px;
    padding: 3px;
}
#popup_form_name {
    float: left;
    margin: 5px 20px 8px 0;
    width: 220px;
}
#popup_form_email {
    float: left;
    margin: 5px 0 8px 0;
    width: 224px;
}
#popup_form_text {
    float: left;
    width: 464px;
    position: relative;
}
.popup_form .ui-button {
    width: 164px;
    height: 62px;
    padding: 0 !important;
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left top;
    border: none;
    color: white;
    margin: 8px auto 0 !important;
    position: relative;
    bottom: 0px;
    display: block;
}
.ui-button {
    cursor: pointer;
}
.popup_form .ui-button:hover {
    background: transparent url("../../images/popup1btn.png") no-repeat scroll left -63px;
}
.popup_form .ui-button span {
    font-family: Arial, sans-serif;
    font-size: 26px !important;
    font-weight: bold;
    line-height: 28px;
    float: left;
    display: block;
    position: absolute;
    left: 36px;
    top: 13px;
}
.popup_form_err {
    background-color: #C20000;
    border: 1px solid #FF7070;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin: 2px 0 2px 17px;
    padding: 3px;
    text-align: left;
    width: 458px;
}
.popup_form_bottom {
    width: 500px;
    height: 10px;
    position: relative;
    bottom: -10px;
    background: transparent url("../../images/popup_form_bottom.png") no-repeat scroll left top;
}
#popup_loading {
    width: 35px;
    height: 35px;
    background: transparent url("../../images/blueloading.gif") no-repeat scroll left top;
    margin: auto;
    position: absolute;
    top: 64px; left: 215px;
}
.popup_close {
    width: 28px;
    height: 30px;
    background: transparent url("../../images/popup_close.png") no-repeat scroll left top;
    position: absolute;
    right: -12px;
    top: -6px;
    cursor: pointer;
}

.ui-widget-overlay {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background: url("/js/jquery-ui-1.10.3.custom/css/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png") repeat-x scroll 50% 50% #AAAAAA;
    opacity: 0.3;
}
.ui-front {
    z-index: 1500;
}
.ui-widget-overlay {
    z-index: 1000;
}
.ui-dialog .ui-dialog-content {
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: visible;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
}
.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url(js/jquery-ui-1.10.3.custom/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
.ui-widget-header a {
	color: #222222;
}
.ui-widget {
	font-family: Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}
.ui-widget-overlay {
	background: transparent url(../../images/overlay_bg.png) left top repeat;
	opacity: .9;
	filter: Alpha(Opacity=90);
}

/* end report popup styles */
