@charset "utf-8";
/* CSS Document */

body {
    margin: 0;
    padding: 0;
    background:#FFF;
    font-family:Arial, sans-serif;
}
.body1 {
    margin: 0;
    padding: 0;
    background:#eee;
    font-family:Arial, sans-serif;
}
div, h1, h2, h3, h4, h5, h6, span, p, ul, li, img {
    margin: 0;
    padding: 0;
}
.clearfix {
    clear: both;
}
img {
    border:none;
}
.none {
    display: none;
}
#main-container {
    float:left;
    width: 100%;
}
#wrapper {
    margin:0 auto;
    width: 960px;
}
#main-top {
    float: left;
    width: 100%;
    min-height:86px;
    background:#FFF;
}
#contact-section {
    float: left;
    width: 960px;
    height:86px;
    position:relative;
}
.logo {
    float:left;
    width: 263px;
    padding:10px 0 0 0;
    position:relative;
}
.contact-text {
    width:200px;
    float:right;
    font-family:Arial;
    font-size:14px;
    color:#000;
    text-align:right;
    line-height:18px;
    font-weight:normal;
    padding:17px 0 0 0;
}
.contact-text h3 {
    font-family:arial;
    font-size:24px;
    font-weight:normal;
    line-height:18px;
    color:#0aa5e2;
    text-align:right;
}
.contact-text p {
    padding:0 0 5px 0;
}
#main-head-section {
    float: left;
    width: 100%;
    background:url(../images/head-bg-1.jpg) left top no-repeat;
}
#head-container {
    float: left;
    width: 960px;
    min-height:510px;
    position: relative;
}
#search-section {
    width:740px;
    float:left;
    position:relative;
    padding:47px 110px 0 110px;
}
.search-box-section {
    width:740px;
    float:left;
    position:relative;
    background:url(../images/box-bg-repeat.png) left top repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-box-shadow: 0px 1px 9px #1f1f1f;
    -webkit-box-shadow: 0px 1px 9px #1f1f1f;
    box-shadow: 0px 1px 9px #1f1f1f;
}
.search-box-section h3 {
    font-family: 'Open Sans Condensed';
    font-size:36px;
    font-weight:normal;
    text-align:left;
    color:#FFF;
    line-height:22px;
    padding:30px 0 25px 30px;
}
.search-form-panel {
    width:680px;
    float:left;
    padding:0 30px;
}
.search-form-box {
    width:680px;
    float:left;
    margin:6px 0;
}
.search-left-box {
    width:300px;
    float:left;
    text-align:left;
}
.search-left-txt-box {
    width:300px;
    float:left;
    font-family: 'Open Sans Condensed';
    font-size:16px;
    color:#62c9f5;
    font-weight:bold;
    text-align:left;
}
.search-left-field-box {
    width:300px;
    float:left;
    height:44px;
    margin:5px 0 0 0;
}
.search-txtfield {
    width:288px;
    vertical-align:top;
    height:34px;
    border:none;
    font-size:15px;
    color:#5b5b5b;
    font-weight:normal;
    text-align:left;
    padding:5px;
    text-align:left;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.search-apt-box {
    width:110px;
    float:left;
    margin:0 0 0 10px;
}
.search-apt-txt-box {
    width:110px;
    float:left;
    font-family: 'Open Sans Condensed';
    font-size:16px;
    color:#62c9f5;
    font-weight:bold;
    text-align:left;
}
.search-apt-field-box {
    width:110px;
    float:left;
    height:44px;
    margin:5px 0 0 0;
}
.search-txtfield-1 {
    width:100px;
    vertical-align:top;
    height:34px;
    border:none;
    font-size:15px;
    color:#5b5b5b;
    font-weight:normal;
    text-align:left;
    padding:5px;
    text-align:left;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.search-city-box {
    width:250px;
    float:left;
    margin:0 0 0 10px;
}
.search-city-txt-box {
    width:250px;
    float:left;
    font-family: 'Open Sans Condensed';
    font-size:16px;
    color:#62c9f5;
    font-weight:bold;
    text-align:left;
}
.search-city-field-box {
    width:250px;
    float:left;
    height:44px;
    margin:5px 0 0 0;
}
.search-txtfield-2 {
    width:240px;
    vertical-align:top;
    height:34px;
    border:none;
    font-size:15px;
    color:#5b5b5b;
    font-weight:normal;
    text-align:left;
    padding:5px;
    text-align:left;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.search-form-field {
    width:300px;
    float:left;
    height:44px;
    margin: 5px 0 0 0;
}
.search-form-txtbox {
    width:296px;
    float:left;
    height:44px;
    border:none;
    font-size:15px;
    color:#5b5b5b;
    font-weight:normal;
    text-align:left;
    padding:2px;
    text-align:left;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.search-zip-box {
    width:190px;
    float:left;
    margin:0 0 0 10px;
}
.search-zip-txt-box {
    width:190px;
    float:left;
    font-family: 'Open Sans Condensed';
    font-size:16px;
    color:#62c9f5;
    font-weight:bold;
    text-align:left;
}
.search-zip-field-box {
    width:190px;
    float:left;
    height:44px;
    margin:5px 0 0 0;
}
.search-txtfield-3 {
    width:180px;
    vertical-align:top;
    height:34px;
    border:none;
    font-size:15px;
    color:#5b5b5b;
    font-weight:normal;
    text-align:left;
    padding:5px;
    text-align:left;
    border:none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
}
.search-btn {
    width:171px;
    float:left;
    height:56px;
    margin:20px 0 10px 8px;
}
.search-btn input {
    background: url("../images/search-btn.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:56px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:171px;
}
.search-btn input:hover {
    cursor:pointer;
    background:url("../images/search-btn.png") no-repeat center -56px transparent;
    height:56px;
}

.property-listing-txt {
    float:left;
    width: 710px;
    position:relative;
    padding:15px 0 15px 30px;
    border-top:1px solid #2a2a2a;
}
.property-listing {
    float: left;
    width:235px;
    padding: 0;
}
.property-listing ul {
    margin:0px;
    padding: 0px;
}
.property-listing li {
    list-style:none;
    font-family:Arial;
    font-size:16px;
    color:#b9b9b9;
    font-weight:normal;
    text-align:left;
    line-height:26px;
    padding:2px 0 6px 35px;
    background:url(../images/tick.png) left top no-repeat;
}
#main-content {
    float: left;
    width: 100%;
    background:#FFF;
}
#content-section {
    float: left;
    width: 960px;
    position:relative;
}
.search-text {
    width:320px;
    float:left;
    font-family: 'Open Sans Condensed';
    font-size:15px;
    color:#000;
    text-align:center;
    line-height:21px;
    font-weight:normal;
    padding:20px 0;
}
.search-text h3 {
    font-family: 'Open Sans Condensed';
    font-size:20px;
    font-weight:normal;
    line-height:20px;
    color:#10a9e5;
    text-align:center;
    padding: 10px 0 0 0;
}
.search-text p {
    padding: 7px 10px 0 10px;
}
.search-text img {
    margin:0;
}
#main-property-section {
    float: left;
    width: 100%;
    background:url(../images/property-bg.jpg) left top no-repeat;
}
#property-container {
    float: left;
    width: 960px;
    min-height:697px;
    position: relative;
}
.property-text {
    width:960px;
    float:left;
    font-family: 'Open Sans Condensed';
    font-size:15px;
    color:#000;
    text-align:center;
    line-height:21px;
    font-weight:normal;
    padding:20px 0;
}
.property-text h2 {
    font-family: 'Open Sans Condensed';
    font-size:44px;
    font-weight:normal;
    line-height:44px;
    color:#FFF;
    text-align:center;
    padding: 20px 0 0 0;
}
.property-text h3 {
    font-family: 'Open Sans Condensed';
    font-size:24px;
    font-weight:normal;
    line-height:22px;
    color:#FFF;
    text-align:center;
    padding: 10px 0 10px 0;
}
.best-property-section {
    width:800px;
    min-height:518px;
    float:left;
    position:relative;
    background:url(../images/highlight-bg.png) left top no-repeat;
    margin:0 0 0 80px;
}
.best-property-txt {
    float:left;
    width: 800px;
    position:relative;
    padding:26px 0 15px 0;
}
.logo-1 {
    float:left;
    width: 210px;
    padding: 0 20px 0 20px;
    position:relative;
}
.other-text {
    width:250px;
    float:left;
    font-family: arial;
    font-size:16px;
    color:#000;
    text-align:center;
    line-height:20px;
    font-weight:bold;
    padding:15px 0 0 0;
}
.best-property-listing {
    float: left;
    width:300px;
    padding: 0 0 0 0;
}
.best-property-listing ul {
    margin:0px;
    padding: 0px;
}
.best-property-listing li {
    list-style:none;
    font-family: 'Open Sans Condensed';
    font-size:18px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:46px;
    padding:0 0 0 30px;
}
.best-property-listing-1 {
    float: left;
    width:250px;
    padding: 0;
}
.best-property-listing-1 ul {
    margin:0px;
    padding: 0px;
}
.best-property-listing-1 li {
    list-style:none;
    font-family: 'Open Sans Condensed';
    color:#000;
    font-weight:normal;
    text-align:center;
    margin: 3px 0 3px 0;
}
#footer-section {
    width:100%;
    float:left;
    background:#FFF;
}
#footer-section-1 {
    width:100%;
    float:left;
    background:#f2f2f2;
    border-top:1px solid #c7c7c7;
}
.footer-section {
    width:960px;
    margin:auto;
}
.footer-txt {
    width:960px;
    float:left;
    position:relative;
    font-family:Arial;
    font-size:14px;
    color:#d7d7d7;
    text-align:center;
    font-weight:normal;
    line-height:15px;
    /** background:url(../images/dropshadow-bottom.png) left top no-repeat; */
    padding:20px 0 0 0;
}
.copyright-text {
    width:410px;
    float:left;
    font-family:arial;
    font-size:12px;
    line-height:18px;
    color:#555;
    text-align:left;
    font-weight:normal;
}
.copyright-text p {
    padding:0;
}
.footer-menu {
    width:540px;
    float:left;
    text-align:left;
    padding:0 0 0 10px;
    color:#555;
}
.footer-menu ul {
    padding:0px;
    margin:0px;
}
.footer-menu li {
    padding:0 0 0 0;
    margin:0px;
    list-style:none;
    display:block;
    float:left;
}
.footer-menu li a {
    font-family:Arial;
    font-size:12px;
    text-align:center;
    color:#555;
    font-weight:normal;
    line-height:18px;
    padding:0 2px 0 2px;
    text-decoration:none;
}
.footer-menu li a:hover {
    color:#555;
    text-decoration:none;
}
.footer-text {
    width:960px;
    float:left;
    font-family:arial;
    font-size:12px;
    line-height:18px;
    color:#555;
    text-align:left;
    font-weight:normal;
}
.footer-text p {
    padding:20px 0 20px 0;
}
.footer-text a {
    color:#0e5f87;
    text-decoration:underline;
}
.footer-text a:hover {
    color:#0e5f87;
    text-decoration:none;
}
/******************************** Index 1 ************************************/

#main-head-section-1 {
    float: left;
    width: 100%;
    background:url(../images/head-bg-2.jpg) left top no-repeat;
}
#head-container-1 {
    float: left;
    width: 960px;
    min-height:716px;
    position: relative;
}
.wanting-box-section {
    width:740px;
    float:left;
    position:relative;
    background:url(../images/box-bg-repeat.png) left top repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-box-shadow: 0px 1px 9px #1f1f1f;
    -webkit-box-shadow: 0px 1px 9px #1f1f1f;
    box-shadow: 0px 1px 9px #1f1f1f;
}
.wanting-box-section h3 {
    font-family: 'Open Sans Condensed';
    font-size:24px;
    font-weight:normal;
    text-align:left;
    color:#FFF;
    line-height:30px;
    padding:25px 0 0 30px;
}
.wanting-box-section h4 {
    font-family: 'Open Sans Condensed';
    font-size:24px;
    font-weight:normal;
    text-align:left;
    color:#62c9f5;
    padding:0 0 25px 30px;
}
.wanting-search-section {
    width:680px;
    float:left;
    position:relative;
    padding:0 30px 30px 30px;
}
.wanting-search-box {
    width:600px;
    float:left;
    position:relative;
}
.wanting-search-box-1 {
    width:440px;
    float:left;
    position:relative;
}
.wanting-search {
    width:240px;
    float:left;
    position:relative;
    margin:3px 0;
}
.wanting-search-1 {
    width:440px;
    float:left;
    position:relative;
    margin:3px 0;
}
.checkbox {
    width:13px;
    height:13px;
    margin:0 15px 0 0;
    border:0px;
    float:left;
}
#TellUsForm_product label {
    width:274px;
    float:left;
    font-family: arial;
    font-size:16px;
    color:#FFF;
    font-weight:normal;
    text-align:left;
}
#TellUsForm_product input {
    float: left;
}
.wanting-search-text-1 {
    width:412px;
    float:left;
    font-family: arial;
    font-size:16px;
    color:#FFF;
    font-weight:normal;
    text-align:left;
}
.continue-btn-section {
    width:171px;
    float:left;
    height:56px;
    margin:60px 0 0 269px;
}
.continue-btn {
    width:171px;
    float:left;
    height:56px;
}
.continue-btn input {
    background: url("../images/continue-btn.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:56px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:171px;
}
.continue-btn input:hover {
    cursor:pointer;
    background:url("../images/continue-btn.png") no-repeat center -56px transparent;
    height:56px;
}
/******************************** Index 2 ************************************/

.downloading-record-section {
    width:740px;
    float:left;
    position:relative;
    background:url(../images/box-bg-repeat.png) left top repeat;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -moz-box-shadow: 0px 1px 9px #1f1f1f;
    -webkit-box-shadow: 0px 1px 9px #1f1f1f;
    box-shadow: 0px 1px 9px #1f1f1f;
}
.downloading-record-section h3 {
    font-family: 'Open Sans Condensed';
    font-size:24px;
    font-weight:normal;
    text-align:center;
    color:#FFF;
    line-height:30px;
    padding:25px 0 0 30px;
}
.downloading-record-section h4 {
    font-family: 'Open Sans Condensed';
    font-size:24px;
    font-weight:normal;
    text-align:center;
    color:#62c9f5;
    padding:0 0 25px 30px;
}
.downloading-record-text {
    width:680px;
    float:left;
    position:relative;
    font-family: arial;
    font-size:16px;
    color:#ababab;
    font-weight:normal;
    text-align:center;
    padding:0 30px 150px 30px;
}
.downloading-record-section h2 {
    font-family: 'Open Sans Condensed';
    font-size:40px;
    font-weight:normal;
    text-align:center;
    color:#FFF;
    line-height:40px;
    padding:10px 0 20px 30px;
}
.downloading-record-section img {
    padding:0 0 20px 0;
    text-align:center;
}
/******************************** Index 2 ************************************/

.found-section {
    width:680px;
    float:left;
    position:relative;
    font-family: arial;
    font-size:16px;
    color:#ababab;
    font-weight:normal;
    text-align:center;
    padding:0 30px;
}
.home-section {
    float: left;
    width: 168px;
    position: relative;
    border-right: 1px solid #2a2a2a;
}
.home-section-1 {
    float: left;
    width: 168px;
    position: relative;
}
.home-text {
    float: left;
    width: 168px;
    text-align:center;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    color:#FFF;
}
.home-text p {
    padding:0 0 20px 0;
    text-align:center;
}
.home-text img {
    padding:0 0 7px 0;
    text-align:center;
}
.home-text-1 {
    float: left;
    width: 168px;
    text-align:center;
    font-size: 14px;
    font-weight: bold;
    line-height: 16px;
    color:#FFF;
}
.home-text-1 p {
    padding:0 0 7px 0;
    text-align:center;
}
.home-text-1 img {
    padding:0 0 7px 0;
    text-align:center;
}
.found {
    width:66px;
    float:left;
    font-family:Arial;
    font-size:18px;
    color:#FFF;
    line-height:18px;
    font-weight:normal;
    text-align:left;
    background:url(../images/tick-2.png) 14px 10px no-repeat #68a819;
    padding:7px 0 7px 36px;
    margin:0 0 7px 30px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
}
.google-section {
    float: left;
    width: 640px;
    position: relative;
    padding:20px 50px;
}
.google-pic-section {
    float: left;
    width: 314px;
    position: relative;
}
.google-pic-section-1 {
    float: left;
    width: 314px;
    position: relative;
    margin:0 0 0 12px;
}
.google-h {
    width:314px;
    float:left;
    font-family:Arial;
    font-size:14px;
    color:#FFF;
    line-height:18px;
    font-weight:bold;
    text-align:center;
    background:#0e5f87;
    padding:7px 0 7px 0;
    text-transform:uppercase;
}
.google-pic {
    float: left;
    width: 314px;
    position: relative;
}
.google-pic img {
    padding:0;
}
.report-btn-section {
    width:291px;
    float:left;
    height:56px;
    margin:0 0 0 225px;
    padding:0 0 15px 0;
}
.report-btn {
    width:291px;
    float:left;
    height:56px;
}
.report-btn input {
    background: url("../images/report-btn.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:56px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:291px;
}
.report-btn input:hover {
    cursor:pointer;
    background:url("../images/report-btn.png") no-repeat center -56px transparent;
    height:56px;
}
.not-text {
    width:740px;
    float:left;
    font-family:Arial;
    font-size:12px;
    color:#141414;
    line-height:14px;
    font-weight:normal;
    text-align:center;
    padding:3px 0;
}
/******************************** Checkout ************************************/

#checkout-section {
    float: left;
    width: 958px;
    position:relative;
    background:#FFF;
    border:1px solid #c9c9c9;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    margin:20px 0 0 0;
}
.logo-section {
    float:left;
    width: 920px;
    padding:0 19px 10px 19px;
    position:relative;
}
.found-icon {
    float:left;
    width: 72px;
    position:relative;
}
.found-text {
    width:654px;
    float:left;
    position:relative;
    font-family: 'Open Sans Condensed';
    font-size:20px;
    color:#FFF;
    font-weight:normal;
    text-align:center;
}
.found-text h3 {
    font-family: 'Open Sans Condensed';
    font-size:32px;
    font-weight:bold;
    text-align:center;
    color:#ffeb64;
    line-height:32px;
}
.found-text p {
    padding:5px 0 0 0;
}
#address-found-section {
    float: left;
    width: 898px;
    position:relative;
    background:#ebf7dc;
    padding:17px 30px;
}
.address-found-section {
    float: left;
    width: 410px;
    position:relative;
}
.address-found {
    width:306px;
    float:left;
    font-family:Arial;
    font-size:22px;
    color:#FFF;
    line-height:18px;
    font-weight:bold;
    text-align:left;
    background:url(../images/tick-3.png) 18px 10px no-repeat #68a819;
    padding:10px 0 10px 46px;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
}
.home-record-section {
    width:410px;
    float:left;
    position:relative;
    padding:11px 0 0 0;
}
.home-record-pic {
    width:108px;
    height:108px;
    float:left;
    position:relative;
    border:1px solid #909090;
    margin:0 20px 0 0;
}
.home-record-info {
    width:180px;
    float:left;
    position:relative;
    line-height: 24px;
}
.home-record-text {
    width:60px;
    float:left;
    font-family:Arial;
    font-size:14px;
    text-align:left;
    color:#000;
    font-weight:normal;
    line-height:30px;
}
.home-record-text-1 {
    width:190px;
    float:left;
    font-family:Arial;
    font-size:14px;
    text-align:left;
    color:#000;
    font-weight:bold;
    line-height:30px;
}
.report-listing-section {
    float:left;
    width: 488px;
    position:relative;
}
.report-listing-section h3 {
    font-family: arial;
    font-size:22px;
    font-weight:bold;
    text-align:left;
    color:#000;
    line-height:24px;
    padding:10px 0 20px 0;
}
.report-listing-section-1 {
    float:left;
    width: 500px;
    position:relative;
    padding:17px 19px;
    border-top:1px solid #c7c7c7;
}
.report-listing-section-1 h3 {
    font-family: arial;
    font-size:16px;
    font-weight:bold;
    text-align:left;
    color:#000;
    line-height:24px;
    padding:0 0 10px 0;
}
.report-listing-text {
    float: left;
    width:170px;
    padding: 0;
}
.report-listing-text ul {
    margin:0px;
    padding: 0px;
}
.report-listing-text li {
    list-style:none;
    font-family:Arial;
    font-size:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:26px;
    padding:2px 0 6px 35px;
    background:url(../images/tick-4.png) left top no-repeat;
}
.report-listing-text-1 {
    float: left;
    width:148px;
    padding: 0;
}
.report-listing-text-1 ul {
    margin:0px;
    padding: 0px;
}
.report-listing-text-1 li {
    list-style:none;
    font-family:Arial;
    font-size:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:26px;
    padding:2px 0 6px 35px;
    background:url(../images/tick-4.png) left top no-repeat;
}
.note-text {
    float: left;
    width: 958px;
    font-family:Arial;
    font-size:18px;
    color:#000;
    font-weight:normal;
    text-align:center;
    background:#c9c9c9;
    position:relative;
}
.note-text p {
    padding:5px 0;
}
.note-text p span {
    font-weight:bold;
}
#final-section {
    float: left;
    width: 898px;
    position:relative;
    padding:0 30px 15px 30px;
}
.final-step-text {
    width:800px;
    float:left;
    background:url(../images/tick-5.png) left top no-repeat;
    padding:8px 0 12px 60px;
    margin:15px 0 0 20px;
    position:relative;
}
.final-step-text h3 {
    font-family: 'Open Sans Condensed';
    font-size:32px;
    font-weight:normal;
    text-align:left;
    color:#000;
    line-height:32px;
}
.final-step-text h3 span {
    font-family: 'Open Sans Condensed';
    font-size:32px;
    font-weight:bold;
    text-align:left;
    color:#0e5f87;
    line-height:32px;
}
.final-section {
    float: left;
    width: 898px;
    position:relative;
    padding:20px 0 0 0;
}
.final-section-l {
    width:460px;
    float:left;
    position:relative;
    margin:0 18px 0 0;
}
.final-section-r {
    width:420px;
    float:left;
    position:relative;
}
.cancelation-text {
    width:460px;
    min-height:310px;
    float:left;
    font-family: arial;
    font-size:12px;
    font-weight:normal;
    text-align:center;
    color:#000;
    line-height:14px;
    background:url(../images/pledge-bg.jpg) left top no-repeat;
    position:relative;
    margin:0 0 20px 0;
}
.cancelation-text h3 {
    font-family: georgia;
    font-size:30px;
    font-weight:normal;
    text-align:center;
    color:#0e5f87;
    line-height:28px;
    padding:54px 0 45px 0;
}
.cancelation-text p {
    padding:17px 70px 0 70px;
}
.property-history-section {
    float:left;
    width: 460px;
    position:relative;
    background:#bcdceb;
}
.property-listing-text {
    float: left;
    width:230px;
    padding: 0;
    border-right:1px solid #FFF;
}
.property-listing-text ul {
    margin:0px;
    padding: 0px;
}
.property-listing-text li {
    list-style:none;
    font-family:Arial;
    font-size:15px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:30px;
    padding:2px 0 0 40px;
    background:url(../images/tick-6.png) 20px 8px no-repeat;
    border-bottom:1px solid #FFF;
}
.property-listing-text-1 {
    float: left;
    width:229px;
    padding: 0;
}
.property-listing-text-1 ul {
    margin:0px;
    padding: 0px;
}
.property-listing-text-1 li {
    list-style:none;
    font-family:Arial;
    font-size:15px;
    color:#000;
    font-weight:normal;
    text-align:left;
    line-height:30px;
    padding:2px 0 0 40px;
    background:url(../images/tick-6.png) 20px 8px no-repeat;
    border-bottom:1px solid #FFF;
}
.faq-text {
    width: 460px;
    float:left;
    font-family:arial;
    font-size:14px;
    font-weight:normal;
    line-height:18px;
    color:#000;
    position:relative;
    padding: 20px 0 0 0;
}
.faq-text h3 {
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    line-height:24px;
    color:#000;
    padding:0;
}
.faq-text h4 {
    font-family:arial;
    font-size:18px;
    font-weight:normal;
    line-height:20px;
    color:#0aa5e2;
    padding:17px 0 7px 0;
}
.faq-text p {
    padding: 0 0 17px 0;
    border-bottom:1px solid #c7c7c7;
}
.details-text {
    width: 460px;
    float:left;
    font-family:arial;
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    color:#000;
    position:relative;
}
.details-text h3 {
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    line-height:24px;
    color:#000;
    padding:17px 0 0 0;
}
.details-text p {
    padding: 20px 0 10px 0;
}
.details-text-1 {
    width: 540px;
    float:left;
    font-family:arial;
    font-size:14px;
    font-weight:normal;
    line-height:20px;
    color:#000;
    position:relative;
}
.details-text-1 h3 {
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    line-height:24px;
    color:#000;
    padding:17px 0 0 0;
}
.details-text-1 p {
    padding: 20px 0 10px 0;
}
.package-section {
    width:418px;
    float:left;
    background:#eaf8fe;
    border:1px solid #0e5f87;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    position:relative;
    margin: 0 0 20px 0;
}
.package-h {
    width:418px;
    float:left;
    background:#0e5f87;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    position:relative;
}
.package-h h2 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:24px;
    color:#FFF;
    text-align:left;
    padding:15px 0 15px 20px;
}
.arrow {
    width:62px;
    position:absolute;
    top:-18px;
    right:25px;
    z-index:1;
}
.offerBox {
    float:left;
    width:418px;
    position:relative;
}
.productInfoCont {
    float:left;
    width:418px;
    min-height:109px;
    position:relative;
    background:url(../images/grey-box-bg.png) left top repeat-x;
}
.productInfoCont.selected {
    background:url(../images/blue-box-bg.png) left top repeat-x;
}
.product-section {
    width:405px;
    float:left;
    position:relative;
    padding:15px 0 10px 13px;
}
.checkbox-1 {
    float:left;
    width:30px;
    padding:3px 0 10px 0;
    border:0px;
}
.product-text {
    width:245px;
    float:left;
    font-family:Arial;
    font-size:14px;
    color:#000;
    text-align:left;
    font-weight:normal;
    position:relative;
    padding:3px 0 0 0;
}
.product-text h3 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:24px;
    color:#0e5f87;
    text-align:left;
}
.product-text p {
    padding:13px 0 3px 0;
}
.product-text-1 {
    width:245px;
    float:left;
    font-family:Arial;
    font-size:14px;
    color:#000;
    text-align:left;
    font-weight:normal;
    position:relative;
    padding:3px 0 0 0;
}
.product-text-1 h3 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:24px;
    color:#000;
    text-align:left;
}
.product-text-1 p {
    padding:13px 0 3px 0;
}
.product-price-section {
    width:130px;
    float:left;
    position:relative;
    margin:0;
}
.just-price {
    width:115px;
    float:left;
    color:#000;
    font-weight:normal;
    font-size:14px;
    text-align:left;
    line-height:18px;
    padding:3px 0;
}
.just-price h2 {
    font-size:14px;
    line-height:18px;
    font-weight:normal;
    text-decoration:line-through;
    color:#757575;
    padding:0 0 12px 0;
}
.just-price h3 {
    font-size:24px;
    line-height:18px;
    font-weight:bold;
    color:#000;
}
.just-price h3 span {
    font-size:16px;
    line-height:18px;
    font-weight:normal;
    color:#000;
}
.just-price p {
    padding:0;
}
.most-text {
    width:105px;
    float:left;
    font-family:Arial;
    font-size:12px;
    color:#FFF;
    line-height:14px;
    font-weight:normal;
    text-align:center;
    text-transform:uppercase;
    background:#68a819;
    padding:5px 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
}
.lock-section {
    float:left;
    width:388px;
    min-height:79px;
    position:relative;
    background:#e3f6cf;
    border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -webkit-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    padding:15px;
}
.lock-text {
    width:388px;
    float:left;
    font-family:Arial;
    font-size:14px;
    line-height:16px;
    color:#000;
    text-align:left;
    font-weight:normal;
    position:relative;
}
.lock-text h3 {
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    line-height:20px;
    color:#009c47;
    text-align:left;
}
.lock-text p {
    padding:7px 0 0 0;
}
.lock-text img {
    padding: 0 17px 0 0;
}
.billing-info {
    width:380px;
    float:left;
    position:relative;
    padding:10px 19px 0 19px;
}
.billing-info h3 {
    font-family: Arial;
    font-size:26px;
    color:#000;
    text-align:left;
    font-weight:bold;
    line-height:30px;
    padding:10px 0;
    border-bottom:2px solid #757575;
}
#order-form {
    float:left;
    width:380px;
    position: relative;
    padding:5px 0 15px 6px;
}
#order-form label:after {
    content: ":";
}
.unlimited_special_login {
    width: 360px !important;
}
#order-form label {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height:24px;
    font-weight: bold;
    text-align:left;
    float: left;
    width: 116px;
    margin: 5px 10px 5px 0;
}
#order-form input[type=text] {
    color: black;
    font-size: 14px;
    width: 232px;
    height: 24px;
    float: left;
    padding: 0;
    margin: 5px 0;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
#order-form input.card[type=text] {
    color: black;
    font-size: 14px;
    width: 232px;
    height: 24px;
    float: left;
    padding: 0;
    margin: 5px 4px 5px 0;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
#order-form input.cvv[type=text] {
    color: black;
    font-size: 14px;
    width: 76px;
    height: 24px;
    float: left;
    padding: 0;
    margin: 5px 0;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
#order-form .selectbox {
    width: 158px;
    float: left;
    height: 26px;
    padding: 0;
    margin: 4px 0;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    overflow:hidden;
    background: url("../../images/select_dropdown.jpg") no-repeat scroll 144px 13px #FFFFFF;
}
#order-form .selectbox select {
    color: black;
    font-size: 14px;
    line-height:26px;
    width: 175px;
    margin: 4px 0 0 0;
    line-height: 26px;
    float: left;
    border: none;
    background-color: transparent;
}
#order-form .selectbox1 {
    width: 76px;
    float: left;
    height: 26px;
    padding: 0;
    margin: 4px 4px 4px 0;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
    overflow:hidden;
    background: url("../../images/select_dropdown.jpg") no-repeat scroll 62px 13px #FFFFFF;
}
#order-form .selectbox1 select {
    color: black;
    font-size: 14px;
    line-height:26px;
    width: 105px;
    margin: 4px 0 0 0;
    float: left;
    border: none;
    background-color: transparent;
}
.payment-card {
    width:72px;
    float:left;
}
.payment-card img {
    margin:7px 0 0 3px;
}
.agree-section {
    width:380px;
    float:left;
    padding:0 0 10px 0;
}
.agree-checkbox {
    width:20px;
    float:left;
}
.agree-txt {
    width:350px;
    float:left;
    font-family:Arial;
    font-size:12px;
    line-height:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    padding:3px 0 0 10px;
}
.agree-txt a {
    font-family:Arial;
    font-size:12px;
    color:#0669b2;
    text-decoration:none;
}
.view-btn-section {
    width:281px;
    float:left;
    padding:10px 0 25px 53px;
}
.view-btn {
    width:281px;
    float:left;
    height:66px;
    padding:0;
}
.view-btn input {
    background: url("../images/view-btn.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:66px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:281px;
}
.view-btn input:hover {
    cursor:pointer;
    background:url("../images/view-btn.png") no-repeat center -66px transparent;
    height:66px;
}
/******************************** Checkout 1 ************************************/

#bar-section-inner {
    width:958px;
    float:left;
    position:relative;
    margin: 20px 0 0 0;
    z-index:1;
}
.bar-section {
    width:958px;
    min-height:81px;
    float:left;
    background:url(../images/yellow-bar.png) left top no-repeat;
    position:relative;
    margin:0 0 20px 0;
}
.bar-section h3 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size:26px;
    font-weight:normal;
    color:#FFF;
    line-height:26px;
    text-align:center;
    color:#723303;
    padding:25px 0 0;
    text-shadow:1px 1px 1px #FFF;
}
.bar-section h3 span {
    font-weight:bold;
}
.bar-left {
    width:56px;
    position:absolute;
    top:0px;
    left:-56px;
}
.bar-right {
    width:18px;
    position:absolute;
    top:10px;
    right:-18px;
}
.act-text {
    width:718px;
    float:left;
    background:url(../images/tick-7.png) 140px 10px no-repeat #3688cf;
    padding:10px 0 10px 180px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    position:relative;
}
.act-text h3 {
    font-family: 'Open Sans Condensed';
    font-size:29px;
    font-weight:bold;
    text-align:left;
    color:#FFF;
    line-height:32px;
    text-decoration:none;
}
.act-text h3 span {
    text-decoration:underline;
}
.arrow-1 {
    width:62px;
    position:absolute;
    top:-18px;
    right:95px;
    z-index:1;
}
.offer-text {
    width:898px;
    float:left;
    padding:10px 0 0 0;
    position:relative;
}
.offer-text h3 {
    font-family: 'Open Sans Condensed';
    font-size:18px;
    font-weight:bold;
    text-align:center;
    color:#000;
    line-height:22px;
}
.offer-text h3 span {
    color:#68a819;
}
#offer-section {
    float: left;
    width: 898px;
    position:relative;
    padding:20px 0 0 0;
}
.offer-section-l {
    width:540px;
    float:left;
    position:relative;
    margin:0 18px 0 0;
}
.offer-section-r {
    width:340px;
    float:left;
    position:relative;
}
#offer-address-section {
    float: left;
    width: 538px;
    position:relative;
    background:#f2f2f2;
    border:1px solid #c7c7c7;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
}
.offer-address-section {
    float: left;
    width: 500px;
    position:relative;
    padding:17px 19px;
}
.offer-record-info {
    width:250px;
    float:left;
    position:relative;
}
.offer-record-pic {
    width:250px;
    float:left;
    position:relative;
}
.unlock-section {
    float: left;
    width: 538px;
    position:relative;
    background:#fff9ca;
    border:1px solid #d9bc85;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    margin:20px 0 0 0;
}
.unlock-section h2 {
    font-family:arial;
    font-size:22px;
    font-weight:bold;
    line-height:24px;
    color:#000;
    text-align:left;
    padding:20px 0 10px 20px;
}
.unlock-section h2 span {
    color:#000;
}
.full-report-text {
    width:498px;
    float:left;
    font-family:Arial;
    font-size:16px;
    line-height:22px;
    text-align:left;
    color:#68a819;
    font-weight:bold;
    position:relative;
    padding: 0 20px 18px 20px;
}
.full-report-text h3 {
    font-family:arial;
    font-size:16px;
    font-weight:normal;
    line-height:18px;
    color:#000;
    text-align:left;
    padding:12px 0;
}
.full-report-text h3 span {
    font-weight:bold;
    color:#ff4200;
}
.full-report-text p {
    padding:0 20px 0 0;
}
.full-report-text img {
    padding: 0 12px 0 0;
}
.real-property-text {
    width:498px;
    float:left;
    font-family:Arial;
    font-size:14px;
    line-height:18px;
    text-align:left;
    color:#000;
    font-weight:normal;
    position:relative;
    padding: 15px 20px;
    border-top:1px solid #d9bc85;
}
.real-property-text h3 {
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    line-height:20px;
    color:#000;
    text-align:left;
}
.real-property-text p {
    padding:0 20px 0 0;
}
.offer-detail-section {
    width:338px;
    float:left;
    background:#eaf8fe;
    border:1px solid #3688cf;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    position:relative;
    margin: 0 0 20px 0;
}
.offer-h {
    width:338px;
    float:left;
    background:#3688cf;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    position:relative;
}
.offer-h h2 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:24px;
    color:#FFF;
    text-align:left;
    padding:15px 0 15px 20px;
}
.payment-h {
    width:338px;
    float:left;
    background:#3688cf;
    position:relative;
}
.payment-h h2 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:24px;
    color:#FFF;
    text-align:left;
    padding:15px 0 15px 20px;
}
.offerBox-1 {
    float:left;
    width:338px;
    position:relative;
}
.productInfoCont-1 {
    float:left;
    width:338px;
    min-height:109px;
    position:relative;
    background:url(../images/grey-box-bg.png) left top repeat-x;
}
.productInfoCont-1.selected {
    background:url(../images/blue-box-bg.png) left top repeat-x;
}
.productInfoCont-2 {
    float:left;
    width:338px;
    min-height:95px;
    position:relative;
    background:#FFF;
}
.product-section-1 {
    width:325px;
    float:left;
    position:relative;
    padding:15px 0 10px 13px;
}
.product-text-2 {
    width:165px;
    float:left;
    font-family:Arial;
    font-size:14px;
    color:#000;
    text-align:left;
    font-weight:normal;
    position:relative;
    padding:3px 0 0 0;
}
.product-text-2 h3 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:20px;
    color:#000;
    text-align:left;
}
.product-text-2 p {
    padding:7px 0 3px 0;
}
.product-text-3 {
    width:165px;
    float:left;
    font-family:Arial;
    font-size:14px;
    color:#000;
    text-align:left;
    font-weight:normal;
    position:relative;
    padding:3px 0 0 0;
}
.product-text-3 h3 {
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    line-height:20px;
    color:#000;
    text-align:left;
}
.product-text-3 p {
    padding:7px 0 3px 0;
}
.product-price-section-1 {
    width:130px;
    float:left;
    position:relative;
    margin:0;
}
.product-price {
    width:115px;
    float:left;
    color:#000;
    font-weight:normal;
    font-size:14px;
    text-align:right;
    line-height:18px;
    padding:3px 0;
}
.product-price h2 {
    font-size:40px;
    line-height:40px;
    font-weight:normal;
    color:#68a819;
}
.lock-section-1 {
    float:left;
    width:308px;
    min-height:79px;
    position:relative;
    background:#e3f6cf;
    border-bottom:1px solid #bed6a5;
    padding:15px;
}
.lock-text-1 {
    width:308px;
    float:left;
    font-family:Arial;
    font-size:14px;
    line-height:16px;
    color:#000;
    text-align:left;
    font-weight:normal;
    position:relative;
}
.lock-text-1 h3 {
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    line-height:20px;
    color:#009c47;
    text-align:left;
}
.lock-text-1 p {
    padding:7px 0 0 0;
}
.lock-text-1 img {
    padding: 0 17px 0 0;
}
.billing-info-1 {
    width:300px;
    float:left;
    position:relative;
    padding:10px 19px 0 19px;
}
.billing-info-1 h3 {
    font-family: Arial;
    font-size:26px;
    color:#000;
    text-align:left;
    font-weight:bold;
    line-height:30px;
    padding:10px 0;
    border-bottom:2px solid #757575;
}
#order-form-1 {
    float:left;
    width:300px;
    position: relative;
    padding:5px 0 15px 0;
}
#order-form-1 label {
    color: black;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height:32px;
    font-weight: bold;
    text-align:left;
    float: left;
    width: 114px;
    margin: 1px 10px 3px 0;
}
#order-form-1 input[type=text] {
    color: black;
    font-size: 14px;
    width: 172px;
    height: 30px;
    float: left;
    padding: 0;
    margin: 3px 0;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
#order-form-1 input.cvv[type=text] {
    color: black;
    font-size: 14px;
    width: 80px;
    height: 30px;
    float: left;
    padding: 0;
    margin: 3px 0;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
#order-form-1 .selectbox {
    color: black;
    font-size: 14px;
    line-height:26px;
    width: 80px;
    float: left;
    height: 30px;
    padding: 0;
    margin: 3px 1px;
    border: 1px solid #b9b9b9;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -o-border-radius: 2px;
}
.payment-card-1 {
    width:72px;
    float:left;
    margin:0 0 0 125px;
}
.payment-card-1 img {
    margin:0 0 5px 0;
}
#cvv {
    margin: 8px 0 0;
    outline: medium none;
    color: #0669B2;
    text-decoration: underline;
    float: left;
    font-family: Arial;
    font-size: 12px;
    line-height: 20px;
    padding: 0 0 0 12px;
    text-align: left;
    width: 68px;
}
#cvv span {
    border-radius: 4px;
    box-shadow: 5px 5px 8px #CCCCCC;
    display: none;
    line-height: 16px;
    margin-left: -324px;
    margin-top: 30px;
    padding: 14px;
    width: 400px;
    z-index: 10;
}
#cvv:hover span {
    background: none repeat scroll 0 0 #FFFAF0;
    border: 1px solid #DDCCAA;
    color: #111111;
    display: inline;
    position: absolute;
}
#callout {
    border: 0 none;
    left: 280px;
    position: absolute;
    top: -12px;
    z-index: 20;
}
.ready-section {
    float:left;
    width:260px;
    position:relative;
    background:#FFF;
    padding:15px 20px;
    margin:0 0 15px 0;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    box-shadow: 0px 0px 2px 2px #ccc;
    -moz-border-shadow: 0px 0px 2px 2px #ccc;
    -webkit-border-shadow: 0px 0px 2px 2px #ccc;
    -o-border-shadow: 0px 0px 2px 2px #ccc;
}
.ready-text {
    width:260px;
    float:left;
    font-family:Arial;
    font-size:14px;
    line-height:16px;
    color:#000;
    text-align:left;
    font-weight:normal;
    position:relative;
}
.ready-text h4 {
    font-family:arial;
    font-size:16px;
    font-weight:bold;
    line-height:16px;
    color:#68a819;
    text-align:left;
    padding:0;
}
.ready-text p {
    padding:6px 0 0 0;
}
.ready-text img {
    padding: 0 12px 0 0;
}
.agree-section-1 {
    width:300px;
    float:left;
    padding:0 0 10px 0;
}
.agree-txt-1 {
    width:270px;
    float:left;
    font-family:Arial;
    font-size:12px;
    line-height:14px;
    color:#000;
    font-weight:normal;
    text-align:left;
    padding:3px 0 0 10px;
}
.agree-txt-1 a {
    font-family:Arial;
    font-size:12px;
    color:#0669b2;
    text-decoration:none;
}
.start-btn-section {
    width:260px;
    float:left;
    padding:10px 0 25px 20px;
}
.start-btn {
    width:260px;
    float:left;
    height:66px;
    padding:0;
}
.start-btn input {
    background: url("../images/start-btn.png") no-repeat center top transparent;
    border:medium none;
    display:block;
    float:left;
    font-size:0;
    height:66px;
    outline:medium none;
    overflow:hidden;
    text-decoration:none;
    width:260px;
}
.start-btn input:hover {
    cursor:pointer;
    background:url("../images/start-btn.png") no-repeat center -66px transparent;
    height:66px;
}
.view-arrow {
    width:608px;
    height:71px;
    position:absolute;
    top:905px;
    left:-30px;
    background:url(../images/view-arrow.png) left top no-repeat;
    z-index:1;
    font-size:34px;
    line-height:36px;
    font-family: 'Open Sans Condensed';
    text-transform:uppercase;
    text-align:center;
    color:#FFF;
    font-weight:bold;
    padding:35px 0 0 0;
}
a:focus, a:active,
button, button:active, button:focus,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
select::-moz-focus-inner {
    outline: none !important;
}
#search_state_select {
    background: url("../images/select_dropdown.jpg") no-repeat scroll 284px 20px #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    float: left;
    margin: 5px 0 0;
    overflow: hidden;
    padding: 0;
    width: 296px;
    height: 42px;
}
#search_state_select select {
    padding: 11px 5px 5px 5px;
    width: 314px !important;
    background-color: transparent;
    outline: 0 !important;
    border: none !important;
    height: auto !important;
}
.view-error-message {
    background-color: #C20000;
    border: 1px solid #FF7070;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin: 2px 0 2px 6px;
    text-align: left;
    width: 358px;
}
.view-error-message p {
    padding: 8px 14px;
}
/************************** Checkout 2 ******************************/

#main-checkout-top {
    float: left;
    width: 100%;
    min-height:86px;
    background:#092a3a;
}
.logo-2 {
    float:left;
    width: 263px;
    padding:10px 0 0 30px;
    position:relative;
}
#special-bar {
    float: left;
    width: 100%;
    min-height:54px;
    background:#ffd400;
}
.special-text {
    width:833px;
    float:left;
    background:url(../images/tick-8.png) 86px 10px no-repeat;
    padding:12px 0 10px 125px;
    position:relative;
}
.special-text h3 {
    font-family: 'Open Sans Condensed';
    font-size:26px;
    font-weight:normal;
    color:#FFF;
    line-height:26px;
    text-align:left;
    color:#723303;
    text-shadow:1px 1px 1px #FFF;
}
.special-text h3 span {
    font-weight:bold;
}
.successful-section {
    float: left;
    width: 890px;
    position:relative;
    padding:20px 0 0 0;
}
.successful-text {
    width:400px;
    float:left;
    font-family:Arial;
    font-size:13px;
    color:#FFF;
    line-height:18px;
    font-weight:bold;
    text-align:center;
    background:#e90000;
    border-radius: 18px;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    -o-border-radius: 18px;
}
.successful-text p {
    padding:5px 0;
}
.successful-text p span {
    font-family:Arial;
    font-size:16px;
    color:#FFF;
    line-height:18px;
    font-weight:bold;
}
.complete-text {
    width:480px;
    float:left;
    font-family:Arial;
    font-size:16px;
    color:#000;
    line-height:18px;
    font-weight:bold;
    text-align:left;
    padding:5px 0 5px 10px;
}
#checkout-section-1 {
    float: left;
    width: 958px;
    position:relative;
    background:#FFF;
    padding: 0 1px;
}
#data-report-section {
    width:540px;
    float:left;
    position:relative;
}
.data-report-section {
    width:540px;
    float:left;
    position:relative;
    padding:15px 0;
}
.data-icon {
    width:82px;
    float:left;
    margin:0 20px 0 0;
}
.data-text {
    width:438px;
    float:left;
    font-family:arial;
    text-align:left;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    color:#000;
}
.data-text h3 {
    font-family:arial;
    text-align:left;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    color:#68a819;
}
.data-text p {
    padding: 8px 0 0 0;
}
.data-text p span {
    font-weight: bold;
}
.special-offer-section {
    width:338px;
    float:left;
    background:#eaf8fe;
    border:1px solid #0e5f87;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    -o-border-radius: 7px;
    position:relative;
    margin: 0 0 20px 0;
}
.special-h {
    width:338px;
    float:left;
    background:#0e5f87;
    border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    -webkit-border-radius: 7px 7px 0 0;
    -o-border-radius: 7px 7px 0 0;
    position:relative;
}
.special-h h2 {
    font-family:arial;
    font-size:20px;
    font-weight:bold;
    line-height:24px;
    color:#FFF;
    text-align:left;
    padding:15px 0 15px 20px;
}
.offer-price {
    width:115px;
    float:left;
    color:#000;
    font-weight:normal;
    font-size:14px;
    text-align:right;
    line-height:18px;
    padding:3px 0;
}
.offer-price h2 {
    font-size:16px;
    line-height:18px;
    font-weight:normal;
    text-decoration:line-through;
    color:#757575;
    padding:0 0 5px 0;
}
.offer-price h3 {
    font-size:24px;
    line-height:18px;
    font-weight:bold;
    color:#68a819;
}
.offer-price p {
    padding:0;
}
.save-badge-text {
    width:70px;
    height:46px;
    position:absolute;
    top:-25px;
    right:125px;
    text-align:center;
    font-family: arial;
    font-size:16px;
    line-height:18px;
    color:#FFF;
    font-weight:bold;
    text-transform:uppercase;
    background:url(../images/save-badge.png) left top no-repeat;
    padding:22px 0 0 0;
    z-index:1;
}
/************************** Generic ******************************/

.content-matter-g {
    width:100%;
    float:left;
    font-family:Arial;
    font-size:13px;
    text-align:left;
    font-weight:normal;
    color:#000;
    line-height:18px;
    padding: 20px 0 10px 0;
    background:#FFF;
}
.content-matter-g h1 {
    font-family:Arial;
    font-size:30px;
    color: #0e5f87;
    font-weight: bold;
    padding:12px 0 22px 20px;
}
.content-matter-g h2 {
    font-family:Arial;
    font-size:24px;
    font-weight:bold;
    line-height:18px;
    color:#000;
    padding:0 0 10px 20px;
}
.content-matter-g h3 {
    font-family:Arial;
    font-size:18px;
    font-weight:bold;
    line-height:18px;
    color:#000;
    padding:0 0 10px 20px;
}
.content-matter-g p {
    padding:0 20px 20px 20px;
}
.content-matter-g a {
    font-family:Arial;
    font-size:13px;
    color:#000;
    text-decoration:underline;
}
.content-matter-g a:hover {
    font-family:Arial;
    font-size:13px;
    color:#6c9f25;
    text-decoration:none;
}