/* HTML5 tags */
header, section, footer,
aside, nav, article, figure {
	display: block;
}

*:active, *:hover, *::-moz-focus-inner {
    border: 0;
    outline: none;
}
#slides {
    height: 20px;
    margin: 10px 0 0 0;
    float: left;
}
#progress-overall {
    margin-top: 10px;
}
#progress_bar_slides {
    background-color: #FFFFFF;
    height: 22px;
    margin-top: 6px;
    position: relative;
    float: left;
    width: 100%;
}
#progress_bar_full {
    background-color: #FFFFFF;
    height: 42px;
    margin: 6px 0 10px 0;
    position: relative;
    float: left;
    width: 100%;
}
#progress_bar_slides .ui-widget-header {
    background-image: none !important;
    background-color: #5D9A08 !important;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
#progress_bar_full .ui-widget-header {
    background-image: none !important;
    background-color: #5D9A08 !important;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
#searchingStatus {
    padding: 1px 0 0 0;
    height: 66px;
    margin: 10px 0 0 0;
}
#searchingStatus h3 {
    color:#898989;
    font-weight:normal;
    font-size:20px;
    margin:22px 0 0px 10px;
    float: left;
}
#searchingStatus img {
    float: left;
}
#searchingStatus .process {
    float: left;
    margin: 25px 0 0 10px;
    text-align: left;
    width: 330px;
}
#progress_bar {
    margin: 14px 0 0 0;
    float: left;
    width: 100%;
}
#progressbar .ui-widget-header {
    background-image: none !important;
    background-color: #5D9A08 !important;
    border: 1px solid #AAAAAA;
    color: #222222;
    font-weight: bold;
}
.view-error-message, .unlimited_special_login .form-error {
    background-color: #C20000;
    border: 1px solid #FF7070;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    float: left;
    font-family: Arial;
    font-size: 15px;
    font-weight: normal;
    line-height: 22px;
    margin: 2px 0 2px 2px;
    text-align: left;
    width: 464px;
}
.view-error-message p {
    padding: 8px 14px;
}
.unlimited_special_login .form-error {
    width: 292px !important;
    padding: 0 4px;
    display: block;
    clear: both;
    margin: 4px 0 4px 0;
}
.unlimited_special_login #username_block,
.unlimited_special_login #password_block
{
    height: auto !important;
}
.go-btn {
    margin: 14px 0 0 0;
    float: left;
}
.go-btn input:hover {
    background: url("../images/search-btn.png") no-repeat scroll center top rgba(0, 0, 0, 0) !important;
    cursor: pointer;
}
.go-btn input {
    background: url("../images/search-btn.png") no-repeat scroll center top rgba(0, 0, 0, 0) !important;
    border: medium none !important;
    border-radius: 0 !important;
    display: block;
    float: left !important;
    font-size: 0;
    height: 50px !important;
    outline: medium none;
    overflow: hidden;
    text-decoration: none;
    width: 220px;
}
.comparison-section {
    background: url("../images/comparison-bg.jpg") no-repeat scroll left top rgba(0, 0, 0, 0);
    margin: 15px auto 10px;
    min-height: 592px;
    position: relative;
    width: 920px;
}
.chart-section {
    float: left;
    width: 680px;
}
.chart-section h3 {
    color: #000000;
    font-family: arial;
    font-size: 32px;
    font-weight: bold;
    line-height: 22px;
    padding: 10px 0 0;
    text-align: center;
}
.chart-section h4 {
    color: #000000;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    padding: 10px 0 50px;
    text-align: center;
    text-transform: uppercase;
}
.chart-section h4 span {
    color: #CB3702;
    padding: 0 3px;
}
.chart-txt {
    color: #FFFFFF;
    float: left;
    font-family: arial;
    font-size: 15px;
    font-weight: bold;
    line-height: 44px;
    padding: 73px 0 10px 38px;
    text-align: left;
    width: 270px;
}
.chart-txt p {
    padding: 0 0 10px;
}
.arrow-img {
    bottom: -45px;
    left: 80px;
    position: absolute;
    width: 205px;
    z-index: 1;
}
.footer-section {
    float: left;
    margin: 0px 0 0;
    padding: 20px 0;
    width: 940px;
}
.footer-menu-section {
    border-bottom: 1px solid #DDDDDD;
    float: left;
    padding: 15px 0;
    width: 100%;
}
.footer-menu {
    text-align: center;
    width: 100%;
}
.footer-menu ul {
    margin: 0;
    padding: 0;
}
.footer-menu li {
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.footer-menu li a.current {
    border: medium none;
    color: #20578C;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 13px;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
}
.footer-menu li a {
    border-left: 1px solid #384954;
    color: #20578C;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 13px;
    padding: 0 4px;
    text-align: center;
    text-decoration: none;
}
.copyright-text {
    color: #000000;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    padding: 15px 0 0;
    text-align: center;
    width: 940px;
}
.copyright-text a {
    color: #20578C;
    text-decoration: none;
}
.footer {
    color: #363636;
    float: left;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    padding: 15px 0 0;
    position: relative;
    text-align: center;
    width: 940px;
}
.footer p {
    padding: 0 0 15px;
}
#search-container {
    background: url("../../images/search-bg.jpg") repeat-x scroll left top rgba(0, 0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    min-height: 665px;
    position: relative;
    width: 940px;
    margin: 0 auto;
}
.search-h-bg {
	float:left;
	width: 940px;
	min-height:58px;
	background:url(../../images/search-h.jpg) left top no-repeat;
	position:relative;
}
.search-h {
	float: left;
	width: 313px;
	background: url(../../images/search-icon.png) left 2px no-repeat;
	padding:5px 0 15px 36px;
	margin:13px 0 0 310px;
	border:none;
}
.searching-txtfield {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #000000;
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    height: 24px;
    text-align: left;
    vertical-align: top;
    width: 300px;
}
.search-property {
	width:940px;
	float:left;
	text-align:center;
	font-size:32px;
	line-height:44px;
	color:#c72e02;
	font-weight:bold;
	font-family:arial;
	padding:13px 0 10px 0;
}
.animated-pic {
	float:left;
	width: 880px;
	padding:0 0 0 60px;
	position:relative;
}
#database-section {
	float: left;
	width: 900px;
	background: url(../../images/database-bg.png) center top no-repeat;
	position: relative;
	margin:20px 0 70px 40px;
}
.database-section1 {
	float: left;
	width: 278px;
	min-height:75px;
	position: relative;
	margin: 15px 0 0 0;
	padding:7px 0 0 0;
}
.database-section2 {
	float: left;
	width: 278x;
	min-height:75px;
	position: relative;
	margin: 15px 0 0 0;
	padding:7px 0 0 0;
}
.database-logo {
	float: left;
	width: 46px;
	padding: 0 12px 0 0px;
}
.database-text {
	float: left;
	width: 200px;
	text-align:left;
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	color:#000;
	padding: 7px 0 0 0px;
}
.database-section2 .database-text {
    width: 186px !important;
}
.database-text h3{
	text-align:left;
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	color:#2b3f63;
}
.database-text p{
	padding: 3px 0px 0 0px;
}
.powerful-txt {
	float:left;
	width: 940px;
	font-size:20px;
	color:#000;
	font-weight:normal;
	font-family:arial;
	text-align:center;
	padding:0;
}
.powerful-txt p {
	padding:0 0 15px 0;
}
.powerful-txt img {
	padding:0;
}
.best-report-txt {
    color: #000000;
    float: left;
    font-family: arial;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    padding: 0;
    position: relative;
    text-align: left;
    width: 680px;
}
.best-report-txt p {
    padding: 2px 0 10px;
}
.best-report-txt-1 {
    float: left;
    padding: 0;
    width: 235px;
}
.best-report-txt-1 ul {
    margin: 0;
    padding: 0;
    width: 235px;
}
.best-report-txt-1 li {
    background: url("../../images/tick.png") no-repeat scroll left top rgba(0, 0, 0, 0) !important;
    color: #000000 !important;
    font-family: Arial;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 18px !important;
    list-style: none outside none !important;
    padding: 5px 0 5px 33px !important;
    text-align: left;
}
.best-report-txt-2 {
    float: left;
    padding: 0;
    width: 300px;
}
.best-report-txt-2 ul {
    margin: 0;
    padding: 0;
    width: 300px;
}
.best-report-txt-2 li {
    background: url("../../images/tick.png") no-repeat scroll left top rgba(0, 0, 0, 0)  !important;
    color: #000000  !important;
    font-family: Arial;
    font-size: 14px !important;
    font-weight: normal;
    line-height: 18px  !important;
    list-style: none outside none;
    padding: 5px 0 5px 33px  !important;
    text-align: left;
}
.download-section {
    background: url("../images/mid_box_white_bg.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 2px 10px 0 #000000;
    margin: 188px auto 0;
    padding: 30px;
    width: 680px;
    border-radius:10px;
}
.download-h-bg {
    background:url(../images/mid_box_white_bg.png) repeat;
    border-radius: 10px 10px 0 0;
    float: left;
    min-height: 54px;
    position: relative;
    width: 920px;
}
.finished-report-h {
    color: #58910A;
    float: left;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold !important;
    position: relative;
    text-align: left;
    width: 680px;
}
.finished-report-h p {
    padding: 0px 0 15px 0px;
    font-size: 40px;
}
.download-content-section {
    background:url(../images/mid_box_white_bg.png) repeat;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 4px 3px -3px #706463;
    float: left;
    position: relative;
    width: 920px;
}
.report-text {
    color: #000000;
    float: left;
    font-size: 40px;
    font-weight: normal;
    line-height: 40px;
    padding: 20px 0 0 0px;
    margin: 0 0 20px 0;
    text-align: left;
    width: 680px;
}
.report-text h3 {
    color: #000000;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 5px;
}
.report-text h4 {
    color: #5D9A08;
    font-size: 34px;
    font-weight: bold;
    line-height: 32px;
    padding: 0 0 10px;
}
.report-text h3 {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
    padding: 0 0 5px;
}
.show-btn {
    float: left;
    height: 50px;
    margin: 25px 0 0px 458px;
    width: 379px;
}
.show-btn input {
    background: url("../images/continue_btn.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    float: left;
    font-size: 0;
    height: 50px;
    outline: medium none;
    overflow: hidden;
    text-decoration: none;
    width: 220px;
    cursor: pointer;
}
#yes_btn {
    background: url("../images/yes_btn.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    width: 300px;
    height: 50px;
    display: block;
    cursor: pointer;
    float: left;
    margin: 0 5px 0 16px;
}
#no_btn {
    background: url("../images/no_btn.png") no-repeat scroll center top rgba(0, 0, 0, 0);
    width: 300px;
    height: 50px;
    display: block;
    cursor: pointer;
    float: left;
    margin: 0 0px 0 5px;
}
.db_search {
    margin: 20px 0 0px 0px !important;
}



body { padding:0px; margin:0px; background:#ffffff; font-family:arial; }
p, h1, h2, h3, h4, h5, h6 { margin:0px; padding:0px; }
h1,h2,h3,h4,h5,h6,p,ul,li { margin:0px; padding:0px; font-weight:normal;}
img { border:none; }

.clearfix { clear:both; }

.wrapper { width:960px; margin:0 auto; }
.fleft{ float:left;}
.fright{ float:right;}
/*----------------------------------------------------------------header-------------------------------------------------------------------------*/


#logo { position:absolute; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; background-color:#fff; font-size:25px; color:#1872ac; font-weight:bold; height:64px; line-height:64px; padding:0 0 0 10px; top:0; left:2%; z-index:1; box-shadow: 0px 2px 10px 0px #000; }
#logo span { font-size:12px; color:#b7b7b7; font-weight:normal; text-transform:uppercase; }


/*----------------------------------------------------------------mid-------------------------------------------------------------------------*/

#mid_sec{ position:relative; float:left; width:100%; background:url(../images/main_bg20.jpg) center top repeat-x; min-height:800px; margin:0 0 0 0;}
#mid_sec .white_box{ width:640px; border-radius:10px; padding:30px; background:url(../images/mid_box_white_bg.png) repeat; margin:275px auto 0 auto; box-shadow: 0px 2px 10px 0px #000;}
#mid_sec .white_box h1{ color:#f58220; font-size:40px; text-transform:uppercase; line-height:38px; }
.white_box.tellus h1 {
    color: #1F1F1F !important;
    font-size: 28px !important;
    margin: 0;
    text-transform: none !important;
}
.white_box.tellus h2 {
    color: #f58220 !important;
    font-size: 30px !important;
    font-weight: bold;
    margin: 6px 0 24px 0 !important;
}
.unlimited_special_login {
    width: 380px !important;
}
.unlimited_special_login .input_box1 {
    margin: 0 0 0 38px !important;
}
.unlimited_special_login input[type=image] {
    margin: 24px 40px 0 0 !important;
}


/*dollor 1 page*/
#mid_sec .white_box h2{ color:#1f1f1f; font-size:19px; margin:15px 0 0 0; }
#mid_sec .white_box .proceed_btn{ text-align:center; float:left; padding:20px 0 0 0; width:640px;  }


/*home page*/
#mid_sec .white_box .input_box{float:left; width:652px; height:67px; color:#606060; font-size:18px; padding:10px 0 0 0; }
#mid_sec .white_box .input_box input{ background:#ffffff; float:left; border:1px solid #1872ac; height:38px; margin:3px 0 0 0; padding:0 0 0 10px;}
#mid_sec .white_box .input_box select{ background:#ffffff; float:left; border:1px solid #1872ac; height:40px; margin:3px 0 0 0; padding:0 0 0 10px;}

#mid_sec .white_box .input_box1{float:left; width:302px; margin:0 15px 0 0;}
#mid_sec .white_box .input_box1 input{ width:290px;}
#mid_sec .white_box .input_box2{float:left; width:103px;  margin:0 15px 0 0;}
#mid_sec .white_box .input_box2 input{ width:91px;}
#mid_sec .white_box .input_box3{float:left; width:197px;}
#mid_sec .white_box .input_box3 input{ width:185px;}
#mid_sec .white_box .input_box4{float:left; width:200px; margin:0 15px 0 0;}
#mid_sec .white_box .input_box4 input{ width:188px;}
#mid_sec .white_box .input_box4 select{ width:200px; padding:8px 7px; font-size: 16px;}
#mid_sec .white_box .input_box4 input.input1{ border:none; background:none; width:190px; margin:27px 0 0 0;}


/*download complete*/
#mid_sec .white_box2{ width:680px; padding:30px; border-radius:10px; background:url(../images/mid_box_white_bg.png) repeat; margin:188px auto 0 auto; box-shadow: 0px 2px 10px 0px #000;}
#mid_sec .white_box2 h1{ color:#f58220; font-size:39px; text-transform:uppercase; line-height:38px; font-weight:normal; }
#mid_sec .white_box2 h2{ color:#1f1f1f; font-size:20px; margin:15px 0 0 0; }
#mid_sec .white_box2 h2 span{ color:#5D9A08; font-weight:bold; font-size:30px;}
#mid_sec .white_box2 h4{ color:#1f1f1f; font-size:28px; margin:15px 0 0 0; }
#mid_sec .white_box2 h3{ color:#1f1f1f; font-weight:bold; font-size:20px; margin:15px 0 15px 0;}
#mid_sec .white_box2 ul{ margin:0; padding:0 0 0 15px; float:left; width:230px;}
#mid_sec .white_box2 ul li{ list-style:none; color:#1f1f1f; font-size:15px; background:url(../images/orange_bg.png) left 8px no-repeat; padding:0 0 0 15px; line-height:20px;}
#mid_sec .white_box2 .continue{ float:left; width:680px; padding:30px 0 5px 0; text-align:center;}


/*cart page*/
#mid_sec .white_box2 .card_box{ float:left; width:680px; margin:20px 0;}
#mid_sec .white_box2 .card_box h3{ color:#1f1f1f; font-weight:bold; font-size:20px; margin:0; padding:0 0 0 25px;}
#mid_sec .white_box2 .card_box .left{ float:left; width:430px; }
#mid_sec .white_box2 .card_box .left .card{ float:left; width:110px; height:55px; line-height:55px;}
#mid_sec .white_box2 .card_box .right{ float:left; width:125px; text-align:center; color:#1f1f1f; font-weight:bold; font-size:20px; margin:0 0 0 50px;	}
#mid_sec .white_box2 .card_box .right span{ color:#f58220; font-size:40px;}


/*downloading*/
#mid_sec .white_box3{ width:680px; padding:30px; border-radius:10px; background:url(../images/mid_box_white_bg.png) repeat; margin:163px auto 0 auto; box-shadow: 0px 2px 10px 0px #000;}
#mid_sec .white_box3 h1{ color:#f58220; font-size:39px; text-transform:uppercase; line-height:38px; font-weight:normal; }
#mid_sec .white_box3 h2{ color:#1f1f1f; font-size:28px; margin:5px 0 0 0; }
#mid_sec .white_box3 h2 span{ color:#5D9A08; font-weight:bold; font-size:30px;}
#mid_sec .white_box3 h3{ color:#898989; font-weight:normal; font-size:20px; margin:15px 0 0px 0;}
#mid_sec .white_box3 h3 span{ color:#1872ac; font-weight:bold;}
#mid_sec .white_box3 img{ margin:5px 0 0 0;}


#mid_sec .white_box4{ width:740px; padding:0px; background:url(../images/mid_box_white_bg.png) repeat; margin:30px auto 0 auto; box-shadow: 0px 2px 10px 0px #000;}

/*searching */
#mid_sec .white_box5{ width:800px; padding:30px; border-radius:10px; background:url(../images/mid_box_white_bg.png) repeat; margin:275px auto 0 auto; box-shadow: 0px 2px 10px 0px #000;}
#mid_sec .white_box5 h1{ color:#f58220; font-size:39px; text-transform:uppercase; line-height:38px; font-weight:normal; }
#mid_sec .white_box5 h4{ color:#1f1f1f; font-size:28px; margin:15px 0 0 0; }
#mid_sec .white_box5 h3 span{ color:#1872ac; font-weight:bold;}

/*checkout*/
#checkout_sec{ position:relative; float:left; width:100%; background:#dadada; min-height:940px; margin:0 0 0 0;}
#checkout_sec .main{ float: left; width:965px; background:#fff; min-height:688px; margin:150px 0 0 0;}
#checkout_sec .main .blue{ float:left; width:965px; background:#1872ac; text-align:center; line-height:75px;  font-family:arial; color:#fff; font-size:25px; text-transform:uppercase; font-weight:bold;}
#checkout_sec .main .white{ float:left; width:905px; background: url(../images/aero_bg.png) center top no-repeat #fff;  color:#1f1f1f; font-size:13px; padding:30px;}
#checkout_sec .main .white .form_sec{ float:left; width:530px; background:#fff; border:1px solid #cccccc;}
#checkout_sec .main .white .form_sec .top{ float:left; line-height:30px; padding:0 20px; background:#dadada; width:490px; font-weight:bold; font-size:14px;}
#checkout_sec .main .white .form_sec .top span{ float:right;}
#checkout_sec .main .white .form_sec .top2{ float:left; line-height:30px; padding:0 20px; background:#eeeeee; width:490px;  font-size:13px; font-weight:normal;}
#checkout_sec .main .white .form_sec .top2 span{ float:right; font-weight:bold;}
#checkout_sec .main .white .form_sec .credit{ float:left; width:100%; margin:20px 0 0 0;}
#checkout_sec .main .white .form_sec .credit h1{color:#000000; font-family:"Arial"; font-size:22px; padding:0px 0 20px 0;}
#checkout_sec .main .white .form_sec .credit .input_box{ float:left; margin:5px 0 0 0; line-height:30px; width:100%; height:33px;}
#checkout_sec .main .white .form_sec .credit .input_box .left{ float:left; width:145px; text-align:right; font-weight:bold; font-size:15px;}
#checkout_sec .main .white .form_sec .credit .input_box .right{ float:right; width:375px;}
#checkout_sec .main .white .form_sec .credit .input_box .right input{ width:309px; height:26px; background:#fff; border:1px solid #d3d3d3; padding:0 0 0 10px;}
#checkout_sec .main .white .form_sec .credit .input_box .right .input1{ width:150px;}
#checkout_sec .main .white .form_sec .credit .input_box .right .input2{ width:100px;}
#checkout_sec .main .white .form_sec .credit .input_box .right select{ width:150px; height:30px; background:#fff; border:1px solid #d3d3d3; padding:5px; margin:0 10px 0 0;}
#checkout_sec .main .white .form_sec .credit .input_box .right .select1{ width:100px;}
#checkout_sec .main .white .form_sec .credit p{ margin:20px; font-size:15px; float:left; line-height:20px;}
#checkout_sec .main .white .form_sec .credit p span{ font-size:15px; font-weight:bold;}
#checkout_sec .main .white .form_sec .top_sec {float: left; text-align: center;width: 100%; padding:0 0 20px 0;}
#checkout_sec .main .white .right_para{ float:right; width:345px;  }
#checkout_sec .main .white .right_para p{ color:#1f1f1f; font-size:13px; font-weight:normal; line-height:22px; }


/*account*/
#account_sec{ float:left; width:960px; margin:223px 0 0 0;}
#account_sec .white_box{ width:405px; float:left; padding:30px; background:url(../images/mid_box_white_bg.png) repeat; box-shadow: 0px 2px 10px 0px #000; margin:0px;}
#account_sec .white_box .btn{ float:left; width:405px; text-align:center; margin:150px 0 0 0;}
#account_sec .white_box .btn2{ float:left; width:405px; text-align:center; margin:18px 0 0 0;}
#account_sec .white_box .input_box{ float:left; width:405px; color:#1f1f1f;}
#account_sec .white_box .input_box input{ float:left; width:403px; height:38px; border:1px solid #bbbbbb; border-radius:0px;}



/*----------------------------------------------------------------contant_comparision-------------------------------------------------------------------------*/

#content_sec{ position:relative; float:left; width:100%; background:url(../images/bottom-bg.png) repeat; min-height:680px;  }
#content_sec .inner .grey{ float:left; width:319px; min-height:325px; background:#efefef; border-right:1px solid #d9d9d9;}
#content_sec .inner .grey .img1{ height:96px; text-align:center; padding:50px 0 0 0;}
#content_sec .inner .grey .img2{ height:121px; text-align:center; padding:25px 0 0 0;}
#content_sec .inner .grey .img3{ height:104px; text-align:center; padding:42px 0 0 0;}
#content_sec .inner .grey h1{ font-size:20px; text-transform:uppercase; color:#1f1f1f; font-weight:bold; margin:20px 0 0 20px;}
#content_sec .inner .grey p{ font-size:13px; color:#1f1f1f; font-weight:normal; margin:15px 20px 0 20px; line-height:19px;}
#content_sec .inner{ float:left; width:800px; background:#fff; margin:50px 0 0 80px; }
#content_sec .inner .comparision{ float:left; width:740px; margin:30px 0 0 30px;}
#content_sec .inner .blue{ float:left; width:798px; background:#1872ac; text-align:center; line-height:76px;  font-family:arial; color:#fff; font-size:25px; text-transform:uppercase; border:1px solid #105784; font-weight:bold;}
#content_sec .inner .row_1{ float:left; width:270px; }
#content_sec .inner .row_1 h2{ line-height:60px; font-family:arial; font-size:12px; font-style:italic; color:#1f1f1f; height:60px; text-transform:uppercase; text-align:center; }
#content_sec .inner .row_1 ul{ margin:0px; padding:0;}
#content_sec .inner .row_1 ul li{ color:#1f1f1f; font-family:arial; font-weight:normal; font-size:18px; list-style:none; height:37px; text-align:right; border-bottom:1px solid #e5e5e5; padding:17px 25px 0 0}
#content_sec .inner .row_2{ float:left; width:235px;}
#content_sec .inner .row_2 h2{ line-height:60px; background:#df7418; font-family:arial; font-size:18px; color:#ffffff; height:60px; text-transform:uppercase; text-align:center; font-weight:bold; }
#content_sec .inner .row_2 h2 span{ font-size:15px; text-transform:none;}
#content_sec .inner .row_2 ul{ margin:0;  background:#f58220;}
#content_sec .inner .row_2 ul li{ text-align:center; list-style:none; border-bottom:1px solid #dc751d; height:46px; padding:8px 0 0 0;}
#content_sec .inner .row_2 p{ color:#989898; font-family:arial; font-size:15px; font-weight:normal; padding:3px 0 27px 0;}
#content_sec .inner .row_3{ float:left; width:235px; background:#1f1f1f;}
#content_sec .inner .row_3 h2{ line-height:60px; background:#000000; font-family:arial; font-size:18px; color:#ffffff; height:60px; text-transform:uppercase; text-align:center; font-weight:bold; }
#content_sec .inner .row_3 ul{ margin:0; padding:0;}
#content_sec .inner .row_3 ul li{text-align:center; list-style:none; border-bottom:1px solid #1c1c1c; height:46px; padding:8px 0 0 0; }


/*----------------------------------------------------------------footer-------------------------------------------------------------------------*/


#footer_sec{ position:relative; float:left; width:100%; background:#fff; }
footer{ color:#7a7a7a; font-weight:normal; font-size:12px; }
footer p{ margin:30px 0; text-align:center;color:#7a7a7a; font-weight:normal; font-size:12px; line-height:18px;}
footer p span{ font-size:14px;}

/*----------------------------------------------------------------timer----------------------------------------------------------------------------*/
#timer_2708{ position:fixed; height:125px; width:200px; bottom:3px; right:3px; z-index:1; font-family:arial;}
#timer_2708 .top{ float:left; width:198px; height:30px; border:1px solid #000000; background:#1f1f1f; color:#dadada; font-weight:bold; font-size:12px; text-transform:uppercase; line-height:30px; text-align:center;}
#timer_2708 .bot{ float:left; width:198px; height:91px; border:1px solid #cd6a15; background:#f58220; color:#ffffff; font-weight:bold; font-size:75px; text-transform:uppercase; line-height:91px; text-align:center;}

.download { float: right; text-align: left; width: 500px; }

/*summary*/
#mid_sec .white_box0310{ width:740px; padding:30px; background:url(../images/mid_box_white_bg.png) repeat; margin:160px auto 0 auto; box-shadow: 0px 2px 10px 0px #000;}
#mid_sec .white_box0310 h1{ color:#f58220; font-size:39px; text-transform:uppercase; line-height:38px; font-weight:normal; }
#mid_sec .white_box0310 h2{ color:#1f1f1f; font-size:20px; margin:15px 0 0 0; }
#mid_sec .white_box0310 h2 span{ color:#1872ac; font-weight:bold; font-size:30px;}
#mid_sec .white_box0310 h4{ color:#1f1f1f; font-size:28px; margin:15px 0 0 0; }
#mid_sec .white_box0310 h3{ color:#1f1f1f; font-weight:bold; font-size:20px; margin:15px 0 15px 0;}
#mid_sec .white_box0310 ul{ margin:0; padding:0 0 0 15px; float:left; width:230px;}
#mid_sec .white_box0310 ul li{ list-style:none; color:#1f1f1f; font-size:15px; background:url(../images/orange_bg.png) left 8px no-repeat; padding:0 0 0 15px; line-height:20px;}
#mid_sec .white_box0310 .continue{ float:left; width:680px; padding:30px 0 5px 0; text-align:center;}



#mid_sec .white_box0310 .bot2{ float:left; width:448px; height:38px; border:1px solid #a4a4a4; margin:15px 0 10px 0; padding:0px 10px; }
#mid_sec .white_box0310 .bot2 h3{ font-size:15px; font-weight:bold; color:#212121; line-height:38px; margin:0;}
#mid_sec .white_box0310 .bot2 h3 span{ float:right; font-weight:normal;}

#mid_sec .white_box0310 .right{ float:right; width:210px; height:263px; border:1px solid #a4a4a4; margin:63px 0 0 0; padding:15px 15px;}
#mid_sec .white_box0310 .right h3{ font-size:18px; font-weight:bold; color:#212121; margin:0;}
#mid_sec .white_box0310 .right p{ font-size:12px; font-weight:normal; color:#212121; margin:10px 0 0 0;}
#mid_sec .white_box0310 .right img{ margin:10px 10px 0px 0;}
#mid_sec .white_box0310 .right h4{ font-size:14px; font-weight:normal; color:#212121; line-height:35px; margin:0;}
#mid_sec .white_box0310 .right h4 span{ float:right;}
#mid_sec .white_box0310 .right input{ margin:15px 0px 0 6px;}

#mid_sec .white_box0310 .bot{ float:left; width:700px; height:140px; border:1px solid #a4a4a4; background:#fff; margin:15px 0 0 0; padding:15px 20px;}
#mid_sec .white_box0310 .bot h3{ font-size:18px; font-weight:bold; color:#212121; margin:0;}
#mid_sec .white_box0310 .bot p{ line-height:46px;}
#mid_sec .white_box0310 .bot p span{ float:right}
#mid_sec .white_box0310 .btn{ float:left; width:740px; height:45px;  margin:10px 0 0 0;}
#mid_sec .white_box0310 img{ float:left; margin:10px 15px 200px 0;}


#head-container-1 {
    float: left;
    min-height: 716px;
    position: relative;
    width: 960px;
}
#search-section {
    float: left;
    padding: 47px 110px 0;
    position: relative;
    width: 740px;
}
#search-section .white_box {
    margin: 100px auto 0;
}
.white_box h3 {
    color: #000;
    font-family: 'Open Sans Condensed';
    font-size: 24px;
    font-weight: normal;
    line-height: 30px;
    padding: 25px 0 0 30px;
    text-align: left;
}
.white_box h4 {
    color: #F58220;
    font-family: 'Open Sans Condensed';
    font-size: 24px;
    font-weight: normal;
    padding: 0 0 25px 30px;
    text-align: left;
}
.wanting-search-section {
    float: left;
    padding: 0 30px 30px;
    position: relative;
    width: 680px;
}
.wanting-search-box {
    float: left;
    position: relative;
    width: 600px;
}
#TellUsForm_product input {
    float: left;
    height: 16px;
}
#TellUsForm_product label {
    color: #000;
    float: left;
    font-family: arial;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    width: 274px;
    height: 22px;
    line-height: 22px;
}
.continue-btn-section {
    float: left;
    height: 56px;
    margin: 60px 0 0 269px;
    width: 171px;
}