<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Propertystudy.org</title>
    <link href="/split/css/style.css" rel="stylesheet" type="text/css">
    <link href="/css/colorbox.css" type="text/css" rel="stylesheet" />
    {% include 'vwo.html.twig'%}
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
    {% block head %}
    {% endblock %}

    <script type="text/javascript">
     $(function(){
       window.onerror = function(msg, url, line) {
         $.post("/log-error", { msg: msg, url: url, line: line });
       };
     })
    </script>
    {% include "google_analytics.html.twig" %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
