{% extends 'split/base.html.twig' %}

{% block head %}
  {{ parent() }}
  <link href="/js/jquery-ui-1.10.3.custom/css/smoothness/jquery-ui-1.10.3.custom.min.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=true"></script>
  <script type="text/javascript" src="js/gmap3v5.1.1/gmap3.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
{% endblock %}

{% block content %}
  <div id="logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="split/images/logo.png"></div>
  <div id="mid_sec">
    <div class="wrapper">
      <div class="white_box3">
        <h1>Downloading Your Report</h1>
        <h2>We are currently downloading the requested information on:<br>
          <span>{{ app.session.get('searchData')['street'] }}, {{ app.session.get('searchData')['city'] }}, {{ app.session.get('searchData')['state'] }}</span></h2>

        <div class="download_tip_left">
          <h3>DOWNLOADING:</h3>
        </div>

        <div id="slides">
          <div class="download_tip" id="download0" style="display:none"><span></span></div>
          <div class="download_tip" id="download1" style="display:none"><span>Public Records</span></div>
          <div class="download_tip" id="download2" style="display:none"><span>Land Value</span></div>
          <div class="download_tip" id="download3" style="display:none"><span>Mortgage Calculations</span></div>
          <div class="download_tip" id="download4" style="display:none"><span>Foreclosures</span></div>
          <div class="download_tip" id="download5" style="display:none"><span>Background of Home, Neighbour Report</span></div>
          <div class="download_tip" id="download6" style="display:none"><span>Financial Liabilities</span></div>
          <div class="download_tip" id="download7" style="display:none"><span>Property Evaluations</span></div>
        </div>

        <div class="clearfix"></div>

        <div id="progress_bar_slides"></div>
        <div class="clearfix"></div>
        <div id="progress-overall"><h4>Overall Progress</h4></div>
        <div class="clearfix"></div>

        <div id="progress_bar_full">
        </div>
        <div>Full report may take up to 4 minutes, please be patient.</div>
        <div class="clearfix"></div>
      </div>
      <div class="white_box4" id="download-map" style="width:740px;height:190px;">
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div id="content_sec">
    <div class="wrapper">
      <div class="comparison-section">
        <div class="chart-section">
          <h3>Providing the Best Property Records to You</h3>
          <h4>PROPERTY STUDY <span>vs</span> COMPETITORS</h4>
        </div>
        <div class="chart-txt">
          <p>Home and Property Value<br />
            History of the Home<br />
            Details of the Property<br />
            Lot Size<br />
            Previous Sales Information<br />
            Construction Dates<br />
            Property Taxes<br />
            Foreclosures in the Area</p>
        </div>
        <div class="arrow-img"><img src="split/images/arrow-img.png" alt="" title="" /></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div id="footer_sec">
    <div class="wrapper">
      <div class="footer-section">
        <div class="footer-menu-section">
          {% include 'footer_links.html.twig' %}
        </div>
        <div class="footer">
          <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>       
  <script type="text/javascript">
   $(function() {

     geocoder = new google.maps.Geocoder();

     var address = '{{ app.session.get('searchData').city }} {{ app.session.get('searchData').state }} {{ app.session.get('searchData').zip }}';
     //console.log(address);
     geocoder.geocode({'address': address, 'region': 'us'}, function(results, status) {

       if (status == google.maps.GeocoderStatus.OK) {
         $('#download-map').gmap3({
           map: {
             options: {
               zoom: 18,
               //mapTypeId: google.maps.MapTypeId.ROADMAP,
               mapTypeId: google.maps.MapTypeId.SATELLITE,
               //streetViewControl: true,
               center: results[0].geometry.location
             }
           }
         });
       } else {
         alert("Sorry this address does not exist in our records. Please try again.");
         setTimeout(function() {
           window.location.replace("/");
         }, 3000);
       }
     });
   });

   $(function() {

     var pbarslides = $("#progress_bar_slides");
     pbarslides.progressbar({
       value: false
     });

     var pbarfull = $("#progress_bar_full");
     pbarfull.progressbar({
       value: false
     });
     pbarfull.progressbar('value', 0.1);
     var pbarfullAnim = $("#progress_bar_full .ui-progressbar-value");
     pbarfullAnim.addClass("ui-corner-right");
     pbarfullAnim.animate({width: 680}, 180000);

     setTimeout(function() {
       window.location.href = "{{ path(options.nextUrl) }}";
     }, 180000);

     var slides = $('.download_tip');

     var pbarslidesAnim = $("#progress_bar_slides .ui-progressbar-value");
     pbarslidesAnim.addClass("ui-corner-right");

     function showSlide(currInd, nextInd, msec) {
       pbarslidesAnim.stop();
       pbarslides.progressbar('value', 0.1);
       $(slides[currInd]).css('display', 'none');
       $(slides[nextInd]).css('display', 'block');
       pbarslidesAnim.animate({width: 680}, msec);
     }

     setTimeout(function() {
       showSlide(0, 1, 24900);
     }, 100);
     setTimeout(function() {
       showSlide(1, 2, 25000);
     }, 24900);
     setTimeout(function() {
       showSlide(2, 3, 25000);
     }, 49900);
     setTimeout(function() {
       showSlide(3, 4, 25000);
     }, 74900);
     setTimeout(function() {
       showSlide(4, 5, 25000);
     }, 99900);
     setTimeout(function() {
       showSlide(5, 6, 25000);
     }, 124900);
     setTimeout(function() {
       showSlide(6, 7, 25000);
     }, 149900);
   });

  </script>
{% endblock %}
