{% extends 'split/base.html.twig' %}

{% block head %}
  {{ parent() }}
  {% if app.request.get('_route') == 'affiliate1' or app.request.get('_route') == 'emailcamp' %}
    <style>
     .cs_logo {margin-top: 0px !important;}
    </style>
  {% endif %}
{% endblock %}

{% block content %}
  {% if app.request.get('_route') != 'affiliate1' and app.request.get('_route') != 'emailcamp' %}
    {% include "topbar.html.twig" %}
  {% endif %}
  <div id="logo" class="cs_logo"><img title="PropertyStudy.org" alt="PropertyStudy.org" src="/split/images/logo.png"></div>
  <div id="mid_sec">
    <div class="wrapper">
      <div class="white_box">
        {% include 'split/homepage_search_form.html.twig' %}
	{% if app.session.get('landing') == 'emailcamp' %}
	  <div id="searchform_badge"></div>
	{% endif %}
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div id="content_sec">
    <div class="wrapper">
      <div class="comparison-section">
        <div class="chart-section">
          <h3>Providing the Best Property Records to You</h3>
          <h4>PROPERTY STUDY <span>vs</span> COMPETITORS</h4>
        </div>
        <div class="chart-txt">
          <p>Home and Property Value<br />
            History of the Home<br />
            Details of the Property<br />
            Lot Size<br />
            Previous Sales Information<br />
            Construction Dates<br />
            Property Taxes<br />
            Foreclosures in the Area</p>
        </div>
        <div class="arrow-img"><img src="/split/images/arrow-img.png" alt="" title="" /></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div id="footer_sec">
    <div class="wrapper">
      <div class="footer-section">
        <div class="footer-menu-section">
          {% include 'footer_links.html.twig' %}
        </div>
        <div class="footer">
          <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typographical, or photographic errors. PropertyStudy.org does not warrant that any of the materials on its website are accurate, complete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  {% if app.request.get('_route') == 'homepage' or app.request.get('_route') == 'homepage1' %}
    {% include 'boldchat.html.twig' %}
  {% endif %}

{% endblock %}
