{% extends "base.html.twig" %}
{% block head %}
  <link href="members/css/style.css" type="text/css" rel="stylesheet" />
  <link href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css" type="text/css" rel="stylesheet" />
  <script type="text/javascript" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
{% endblock %}
{% block content %}
  <body>
    {% include "topbar.html.twig" %}
    <div id="main-container" style="margin-top:64px;">
      <div id="main">
        <div id="main-section"> 
          <div id="download-container" style="padding: 0px;">
            <div class="download-section" style="padding:6px 6px 8px;width:928px;">
              <div class="download-h-bg" style="width:928px;">
                <div class="download-h" style="background-image:none;width:928px;"><p style="padding: 18px 14px 15px 14px;">Members</p></div>
              </div>
              <div class="download-content-section" style="width:928px;">
                <div class="report-section">
                  <div class="map-section">
                    <a href="/search-history" alt="">Search History</a>
		    <a href="/order-history" alt="">Order History</a>
                  </div>
                  <div class="report-download-section">
		    <div class="report-section" style="width:918px;min-height:100px;padding:20px 5px;"> 
                      <table id="table" class="display">
			<thead>
			  <tr>
			    <th>ID</th>
			    <th>Address</th>
			    <th>City</th>
			    <th>State</th>
			    <th>Zip</th>
			    <th>Date</th>
			  </tr>
			</thead>
			<tbody>
			  
			</tbody>
		      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="footer-section-1">
            <div class="footer-menu-section-1">
              {% include 'footer_links.html.twig' %}
            </div>
            <div class="footer-1">
              <p>The information at this site is provided solely for informational purposes and does not constitute an offer to sell, rent, or advertise real estate outside the state in which the owner of the site is licensed. The owner is not making any warranties or representations concerning any of these properties including their availability. Information at this site and its property ratings are deemed reliable but not guaranteed and should be independently verified. The material appearing on the website could include technical, typrographical, or photographic errors. PropertyStudy.org does not warrant that any of the matierls on its website are accurate, completete, or current. Any redistribution or resale is strictly prohibited. All trademarks herein are property of their respective owners.</p>
            </div>
          </div>
	  <div class="clear"></div>
        </div>
      </div>
    </div>
  </body>
{% endblock %}
